<div class="row">
  <div class="col-md-12">
    <app-media-favorites-tileview *ngIf="viewType === 'tile'"></app-media-favorites-tileview>
    <app-media-favorites-listview *ngIf="viewType === 'list'"></app-media-favorites-listview>
  </div>
</div>