<div [formGroup]="group">
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'modal'">
      <div class="row pt-3">
        <div class="col-md-4">
          <label class="media-label pt-3"> {{ config.label }}: </label>
        </div>
        <div class="col-md-8">
          <ejs-checkbox cssClass="pt-3" [checked]="config.value" (change)="changeEvent(config)"></ejs-checkbox>

          <ng-container *ngFor="let validation of config.validations;">
            <label class="form-description"
              *ngIf="(group.get(config.name).hasError(validation.name) && (group.get(config.name).touched || group.get(config.name).dirty)) && validation.message">
              {{validation.message}}
            </label>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<br />