<app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" (navigate)="tapBreadCrumb($event)"></app-breadcrumb>

<!-- Media tabs -->
<div class="row">
  <div class="col-md-6">
    <app-tabs [tabs]="tabs" (navigate)="switchTabs($event)"></app-tabs>
  </div>
  <div class="col-md-6" style="text-align: right" *ngIf="userPermission?.canEditCollaboration">
    <button class="button-plus float-right create-new-qa" (click)="createNew()">
      Create New
    </button>
  </div>
</div>

<app-filters #filters [showMenu]="false" [hideToggler]="true" mode="search" (search)="onFilterSearch($event)">
</app-filters>

<div>
  <router-outlet></router-outlet>
</div>