.telemetry tbody {
  display: block !important;
  max-height: 500px !important;
  overflow-y: scroll !important;
}

.telemetry thead,
tbody tr {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
}

.active {
  border: 2px solid #0097a9;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #deeff3;
}
/* .table {
} */


.telemetry tbody::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.telemetry tbody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.telemetry tbody::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #033b5c;
}
.telemetry tbody ul::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}
.telemetry tbody ul::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}
.telemetry tbody::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #033b5c;
}
/* .table-body>.e-ul {
  overflow: initial !important;
} */

.telemetry table tr th {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-style: solid;
  border-width: 0;
  height: 42px;
  padding: 0 21px;
  text-align: left;
  vertical-align: middle;
  color: #eaf1f2;
  background-color: #00263e;
  cursor: default;
}

.telemetry table tr th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.telemetry table tr th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.telemetry table tr td {
  font-family: "Open Sans", sans-serif;
  border-style: solid;
  border-width: 1px 0 0;
  display: table-cell;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 21px;
  width: auto;
  color: #033b5c;
  cursor: pointer;
}
