<div class="telemetry">
  <app-tabs #tabsComponent [tabs]="tabs" [applyOverflow]="true" [fontSize]="14" (navigate)="switchTabs($event)">
  </app-tabs>

  <table class="table table-striped table-hover">
    <thead>
      <tr style="border-radius: 5px;">
        <th *ngFor="let header of currentFile?.columns; let i = index;" scope="col">
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of currentFile?.data; let i = index;" (click)="onRowClicked(rowData)">
        <ng-container *ngFor="let header of currentFile?.columns; let i = index;">
          <td scope="row">
            {{ rowData[header] }}
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>