<app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" [lastBreadcrumb]="lastBreadcrumb"
  (navigate)="switchBreadCrumbs($event)"></app-breadcrumb>

<!-- Media tabs -->
<div class="row" *ngIf="!hideMediaTabs">
  <div class="col-md-6">
    <app-tabs [tabs]="mediaTabs" (navigate)="switchTabs($event)"></app-tabs>
  </div>
  <div class="col-md-6" style="text-align: center" *ngIf="!isStreamingArchive">
    <button *ngIf="userPermission?.canUploadMedia" ejs-button class="button-plus float-right upload-media_QA"
      (click)="uploadMedia()">
      Upload Media
    </button>
  </div>
</div>

<!-- Filters -->
<app-filters *ngIf="!isStreamingArchive && !isDirectories" #filters [showMenu]="false" [hideToggler]="true"
  mode="search" (search)="onFilterSearch($event)">
</app-filters>

<app-filters #filters *ngIf="isStreamingArchive && showArchiveFilters" [fields]="archiveFilterFields" mode="default"
  [hideToggler]="true" [tags]="archiveFilterTags" [showMenu]="true" (addTag)="addArchiveTag($event)"
  (removeTag)="removeArchiveTag($event)" (applyFilters)="applyArchiveFilters($event)"
  (clearFilters)="clearArchiveFilters()">
</app-filters>

<!-- Content -->
<div>
  <div *ngIf="!isStreamingArchive" class="row toolbar">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
      <div *ngIf="!isDirectories">
        <label class="media-label" style="padding-right: 2rem;">
          {{ totalMedia$ | async }}
        </label>
        <app-views [showTreeView]="showTreeView" [showMapView]="showMapView"></app-views>
      </div>

    </div>
    <div class="col-xl-6 col-lg-5 col-md-5 col-sm-8" style="display: flex">
      <div style="margin-top: 3px; margin-right: 12px;" *ngIf="!isMap">
        <img *ngIf="filterTags?.length > 0" title="Save as Favorite" width="18"
          src="./assets/images/icon-not-favorite.svg" (click)="showSaveToFavoritesModal()">
      </div>
      <div id="media-tags-container"
        style="overflow-x: auto; overflow-y: hidden; white-space: nowrap; padding: 2px 0px">
        <app-tag (removeTag)="removeTag($event)" *ngFor="let tag of filterTags" [tag]="tag" isSmall="true" right="6">
        </app-tag>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <app-toolbar [selectionText]="'Selected Files'" [isMapPage]="isMap" [hideSelectedText]="isStreamingArchive"
        [toolbar]="toolbarItems">
      </app-toolbar>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<app-modal #saveToFavoritesModal type="form" title="Save To Favorites" [controls]="favoriteName"
  (submit)="saveToFavorites($event)">
</app-modal>