.work-buttons {
  padding: 10px 15px 10px 36px !important;
  margin: 5px !important;
  line-height: 17px !important;
  }
   .button-w-[disabled] {
    background: #5b7f95 !important;
    cursor: not-allowed;
}