<app-buttons [buttons]="buttons" position="right"></app-buttons>

<input #file type="file" accept=".csv" style="display: none" (change)="onFileChosen()" />

<app-list *ngIf="showWorkItems" [dataSource]="dynamicWorkItems" [columns]="columns" [allowGridPaging]="true" [allowSearch]="true"
  (edit)="showItemModal($event)">
</app-list>

<app-modal #itemModal type="form" title="Add Work Item" width="600" [controls]="workItemControls"
  (submit)="saveItem($event)">
</app-modal>

<app-modal #itemDetailsModal type="details-view" title="Item Details"></app-modal>

<app-modal #confirmModalImport type="confirm" title="Confirm Import"
  message="This action will clear your current items. Are you sure you want to continue the import?"
  (yes)="confirmImport()">
</app-modal>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteItem()">
</app-modal>