
<div class="pager-container">
  <ejs-pager [pageSize]='pageSize' [pageSizes]="showDropdown ? pageSizes : false" [pageCount]='pageCount'
    [totalRecordsCount]='totalRecordsCount' [currentPage]='currentPage' (click)="changeEvent($event)"
    (dropDownChanged)="onPageSizeChanged($event)">
  </ejs-pager>
</div>

