
select {
    width: 92px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    word-wrap: normal;
    position: absolute;
    left: 15px;
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,.42) !important;
    -webkit-appearance: none;


}
