<div [formGroup]="group">
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'filter'">
      <label class="custom-label-md">{{ config.label | uppercase }}</label>
      <div>
        <ejs-combobox id='comboBox' #comboBox class="form-control custom-form-control-sm col-md-12"
          [dataSource]='config.options' [fields]='fields' [placeholder]='config.placeholder' popupHeight='180px'
          [value]="config.value" (change)="onAddTag($event);">
          <ng-template #itemTemplate let-data>
            <div class="option-row">
              <span
                [ngClass]="{'label-14-bold-source-sans-pro': data.isSelected, 'label-14-source-sans-pro': !data.isSelected}">
                {{ data.description }}
              </span>
              <img *ngIf="data.isSelected" src="./assets/images/checkmark.svg" class="option-active" />
            </div>
          </ng-template>
        </ejs-combobox>
      </div>
    </div>
  </div>
</div>
<br>