.check-container {
  margin-top: 12px;
}

.c-check-work-planning {
  padding: 8px 44px;
}

.c-delete-work-planning {
  padding: 3px 44px;
}

#delete {
  margin-top: 8px;
}

#sort-down {
  margin-right: 8px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

#pencil {
  margin: 0px 0px 6px 16px;
}

#revert {
  margin-right: 10px;
}

/* #region FILTER  */

.option-row {
  cursor: pointer;
  border-bottom: solid 1px rgba(91, 127, 149, 0.25);
}

.option-active {
  float: right;
  margin-top: 16px;
}

/* #endregion */