<div class="row">
  <div class="col-md-12">
    <div class="c-header-buttons">
      <button class="c-button-update update-metadata-qa" (click)="updateFinding()"
        [disabled]="!dynamicForm?.form?.valid || !dynamicForm?.form?.dirty">
        Update Metadata </button>
      <button class="c-button-cancel disregard-changes-button-qa" (click)="disregardChanges()"> Disregard Changes
      </button>
      <button class="c-button-add add-field-button-qa" (click)="createFinding()"> Create Finding </button>
    </div>
  </div>
</div>

<div class="row">
  <div id="process-side-menu" class="col-md-4">
    <app-side-list-menu [title]="workTitle" [dataSource]="processes" (menuSelected)="onProcessSelected($event)"
      (subMenuSelected)="onFindingSelected($event)" (download)="downloadFinding($event)">
    </app-side-list-menu>
  </div>
  <div class="col-md-8">
    <dynamic-form #dynamicForm mode="default" [config]="fields" [allowUpload]="true" (upload)="showUploadModal($event)">
    </dynamic-form>
  </div>
</div>

<!-- CREATE FINDING MODAL -->
<app-modal #findingModal type="form" title="New Finding" width="600" [controls]="findingControls"
  (submit)="saveFinding($event)">
</app-modal>

<!-- UPLOAD MODAL -->
<app-modal #uploadModal type="upload" [title]="uploadModalTitle"
  allowedFiles="image/*, .doc, .docx, .xls, .xlsx, .ppt, .csv, .log, .pdf" (save)="upload($event)">
</app-modal>