.collaboration-card {
  background: #fff;
  cursor: default;
  position: relative;
  padding: 24px 32px 24px 32px;
}

.collaboration-card .card-date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #033b5c;
  margin-bottom: 20px;
}
.move-right {
  transform: translateX(-109%);
  -webkit-transform:translateX(-109%);
  transition: 0.5s;
}
.move-right::after {
  display: none;
}
.collaboration-card .card-actions {
  display: flex;
}

.collaboration-card .card-actions span {
  text-align: center;
  cursor: pointer;
}

.collaboration-card .card-actions span.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.collaboration-card .card-actions span.disabled p,
.collaboration-card .card-actions span.disabled img {
  cursor: not-allowed;
}

.collaboration-card .card-actions span.disabled:active {
  pointer-events: none;
}

.collaboration-card .card-actions span p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.29px;
  text-align: center;
  color: #0097a9;
  margin: 5px;
}

.collaboration-card .remove-card {
  position: absolute;
  top: -9px;
  right: -5px;
}

.collaboration-card .card-time {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #033b5c;
  margin-bottom: 20px;
}

.collaboration-card .card-time .badge-secondary,
.collaboration-card .card-time .badge-success,
.collaboration-card .card-time .badge-warning {
  margin-left: 10px;
}

.collaboration-card .card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0097a9;
}

.collaboration-card .card-participants {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #5b7f95;
}
