<div class="collaboration-card" *ngIf="visible" [@slideInOut]>
  <div class="row">
    <div class="col-md-3">
      <p class="card-date"> {{ session?.date | date:'MM/dd/yyyy' }} </p>
      <div class="card-actions">
        <span [ngClass]="{'disabled': !session?.canEdit}"
          *ngIf="(session.status === pending || session.status === inProgress) && !session.isPast && session.isHost"
          (click)="addParticipant()">
          <img width="29" height="29" src="./assets/images/add.svg" alt="">
          <p> Add Participant </p>
        </span>
        <span [ngClass]="{'disabled': !session?.canEdit}"
          *ngIf="(session.status === pending || session.status === inProgress) && !session.isPast && session.isHost"
          (click)="editSession()">
          <img width="29" height="29" src="./assets/images/edit-session.svg" alt="">
          <p> Edit Session </p>
        </span>
        <span (click)="joinSession()" *ngIf="session?.canJoin">
          <img width="29" height="29" src="./assets/images/icon-group.svg" alt="">
          <p> Join Session </p>
        </span>
      </div>
    </div>
    <div class="col-md-9">
      <p class="card-time">
        {{ session?.startTimeString }} - {{ session?.endTimeString }}
        <i class="badge-secondary" *ngIf="session.status === pending && !session.isPast"> Not Started </i>
        <i class="badge-warning" *ngIf="session.status === inProgress && !session.isPast"> In Progress </i>
        <i class="badge-success"
          *ngIf="session.status === processing || session.status === completed || session.isPast"> Complete </i>
      </p>
      <p class="card-title"> {{ session?.title }} </p>
      <p class="card-participants"> {{ participantNames }} </p>
      <img *ngIf="session?.status === pending && session.isHost" class="remove-card" src="./assets/images/dialog-close.svg" alt=""
        (click)="showConfirmDelete()">
    </div>
  </div>

  <app-modal #participantModal type="collaboration-participants" [width]="1100" [participants]="participants"
    (save)="onSaveParticipants($event)">
  </app-modal>

  <app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage"
    (yes)="removeCollaboration()">
  </app-modal>
</div>