.dynamic-input .default td.upload-icon {
  cursor: pointer;
}

.dynamic-input .default td.upload-icon.disabled {
  cursor: not-allowed;
}

.dynamic-input .default td.upload-icon.disabled:active {
  pointer-events: none;
}

.dynamic-input .default td.upload-icon.disabled img {
  cursor: not-allowed;
  filter: contrast(0);
}

.check-container {
  margin-top: 12px;
}

.c-check-work-planning {
  padding: 8px 44px;
}

.c-delete-work-planning {
  padding: 3px 44px;
}

.d-icons.disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}

.d-icons.disabled:hover {
  background: transparent;
}

#sort-down {
  margin-right: 8px;
}

#pencil {
  margin: 0px 0px 6px 16px;
}

#revert {
  margin-right: 10px;
}

/* #region Filter */

#filter-container > input {
  padding-right: 45px !important;
}

#filter-container > span {
  color: #0097a9;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 8px 0px 0px -40px;
  position: relative;
}

/* #endregion */
