.telemetry-container .video-player {
  position: relative;
  background: #000;
  min-height: 100%;
  height: 44vh;
  border: solid 2px #f3f8fb;
}

.telemetry-container .video-player.active {
  border: solid 4px #0097a9;
}

.telemetry-container .video {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.telemetry-container .video-player img {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 1;
}

/* #region VIDEO CONTROLS */

.telemetry-container table {
  margin-bottom: 15px;
}

.telemetry-container table label {
  margin-bottom: 0px;
}

.telemetry-container table tr td:nth-child(3) {
  padding-top: 7px;
}

/* #endregion */

/* #region SLIDER */

.telemetry-container .timeline-slider .e-slider {
  cursor: pointer;
}

.telemetry-container .e-control-wrapper.e-slider-container.e-horizontal {
  height: 12px;
}

.telemetry-container .e-slider-track {
  background-color: rgba(91, 127, 149, 0.25);
}

.telemetry-container .e-limits {
  background: #fff !important;
  z-index: -1;
}

.telemetry-container
  .e-control-wrapper.e-slider-container.e-horizontal
  #height_slider
  .e-range {
  cursor: -webkit-grab;
  cursor: grab;
  height: 9px;
  top: calc(50% - 6px);
}

.telemetry-container #height_slider.e-control.e-slider .e-slider-track {
  cursor: -webkit-grab;
  cursor: grab;
  height: 9px;
  top: calc(50% - 6px);
  border-radius: 0;
}

.telemetry-container .e-slider-container.e-horizontal #height_slider .e-handle {
  margin-left: -10px;
  top: calc(50% - 9px);
}

.telemetry-container .e-slider-container #height_slider.e-slider .e-handle {
  height: 15px;
  width: 15px;
}

/* #endregion */
