<app-breadcrumb [previousRoute]="previousRoute$ | async" [enableBackRouting]="true" (navigate)="onBack($event)">
</app-breadcrumb>

<div class="telemetry-container">
  <!-- PROGESS BAR / SEEKER -->
  <table width="100%">
    <tr>
      <td width="2%">
        <img [src]="isPlaying ? pauseIcon : playIcon" width="21" height="26" [title]="isPlaying ? 'Pause' : 'Play'"
          (click)="isPlaying ? onPause() : onPlay()" [ngStyle]="{'opacity': isBuffering ? '.5' : '1'}" />
      </td>
      <td width="5%">
        <label class="label-source-md"> {{ currentTime | minuteSeconds }} </label>
      </td>
      <td width="88%">
        <ejs-slider #slider id="height_slider" min="0" [max]="maxDuration" type="MinRange" [tooltip]="tooltip"
          (created)="onCreated()" (changed)="onSliderChanged($event)" (tooltipChange)="tooltipChangeHandler($event)">
        </ejs-slider>
      </td>
      <td width="5%" [align]="'right'">
        <label class="label-source-md"> {{ maxDuration | minuteSeconds }} </label>
      </td>
    </tr>
  </table>

  <!-- VIDEOS SECTION -->
  <div class="row">
    <div class="col-sm-4" *ngFor="let video of videos; let i = index" [ngClass]="{
    'col-md-6': videos?.length === 1 || videos?.length === 2,
    'col-md-4': videos?.length === 3,
    'col-md-3': videos?.length >= 4
  }">
      <div class="video-player" [ngClass]="{'active': selectedIndex === i}">
        <img src="./assets/images/icon-expand-fullscreen.svg" *ngIf="videoPlayer.duration >= currentTime" width="24"
          (click)="onFullscreen(i)">
        <video [id]="i" class="video" #videoPlayer
          [ngStyle]="{'display': videoPlayer.duration < currentTime ? 'none' : ''}"
          (durationchange)="onDurationChange($event)" (canplay)="onCanPlay()" [src]="video.url"
          (ended)="onVideoEnded(i)" type="video/mp4" preload="auto" (click)="selectVideo(i)">
        </video>
      </div>
      <br>
    </div>
  </div>
  <app-media-telemetry-files #telemetryFilesComponent *ngIf="telemetryFiles?.length > 0" [files]="telemetryFiles"
    (rowSelected)="onDataRowSelected($event)">
  </app-media-telemetry-files>
</div>