<div>
	<div class="row toolbar">
		<div class="col-md-4 flex-end">
			<app-views [activeView]="viewType" [showListView]="false" [showTreeView]="false" [showMapView]="false"></app-views>
		</div>
		<div class="col-md-4 flex-end text-center">
			<span class="header-lg-source"> {{ parentName | uppercase }} </span>
		</div>
		<div class="offset-md-2 col-md-2">
			<ejs-datepicker class="form-control custom-form-control date-filter" strictMode='true' placeholder="Date"
				format='MM/dd/yyyy' [value]="dateValue" (change)="onDateFilterChanged($event)">
			</ejs-datepicker>
		</div>
	</div>
	<hr class="stroke" />
	<app-work-item-groups-tile-view *ngIf="viewType === 'tile'">
	</app-work-item-groups-tile-view>
	<app-work-item-groups-list-view  *ngIf="viewType === 'list'">
	</app-work-item-groups-list-view>
	<!-- <app-work-item-groups-barchart-view  *ngIf="viewType === 'bar'">
	</app-work-item-groups-barchart-view> -->
	<!-- <router-outlet></router-outlet> -->
</div>