<div>
  <div tabindex="0" class="e-card">
    <div class="e-card-header" style="height: 125px;padding: 14px 14px 12px 32px;">
      <div class="e-card-header-image e-card-corner" style="width: 25%;height: 100%;display:unset;padding-top: 11px;">
        <p class="media-label">{{ data?.createdOnString }}</p>
        <div class="collaboration-icon-container">
          <div class="collaboration-icon" (click)="addParticipant(data)">
            <img src="./assets/images/add.svg" alt="">
            <p> Add Participant </p>
          </div>
          <div class="collaboration-icon" (click)="editSession(data)">
            <img src="./assets/images/edit-session.svg" alt="">
            <p> Edit Session </p>
          </div>
          <div class="collaboration-icon" (click)="joinSession(data)">
            <img width="29" src="./assets/images/icon-group.svg" alt="Join Session">
            <p> Join Session </p>
          </div>
        </div>
      </div>
      <div class="e-card-header-caption" style="height: 100%;padding-top: 8px;">
        <div class="e-card-header-title label-sm-light" style="color: #033b5c;margin-bottom: 9px;">
          {{ data?.startTime }} - {{ data?.endTime }}
          <span *ngIf="data?.isProgress" class="omv-orange-badge">In Progress</span>
        </div>
        <div class="collaboration-title">
          {{ data?.title }}
        </div>
        <div style="display: flex;">
          <div class="e-card-sub-title collaboration-participants" *ngFor="let participant of data?.participants">
            {{ participant.firstName }} {{ participant.lastName }},&nbsp;
          </div>
        </div>
      </div>
      <div>
        <img src="../../../../assets/images/dialog-close.svg" alt="" (click)="removeCollaboration(data)">
      </div>
    </div>
  </div>
</div>