.collaboration-icon-container {
    justify-content: space-between;
    display: flex;
    width: 200px;
    margin-top: 19px;
}

.collaboration-icon p {
    font-family: "EMprint", sans-serif;;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.29px;
    text-align: center;
    color: #0097a9;
    margin: 5px;
}

.collaboration-icon {
    text-align: center;
    cursor: pointer;
}

.collaboration-title {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #0097a9;
    margin-bottom: 13px;
}

.collaboration-participants {
    font-family: "Open Sans";
    font-size: 12px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.67 !important;
    letter-spacing: normal !important;
    color: #5b7f95 !important;
}