.view-active {
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}
.barchart-btn {
  height: 20px;
}

.vertical-line-grid {
  border-left:1.3px solid #5B7F95;
  padding-left: 9px;
  margin-left: 9px;
}