<span style="padding-top:1rem;">
  <i (click)="selectView('tile')">
    <img src="./assets/images/icon-tile-view.svg" [ngClass]="{'view-active': activeView === 'tile'}">
    <span class="vertical-line-grid" *ngIf="showListView"></span>
  </i>
  <i (click)="selectView('list')" *ngIf="showListView">
    <img src="./assets/images/icon-list-view.svg" [ngClass]="{'view-active': activeView === 'list'}">
    <span class="vertical-line-grid" *ngIf="showTreeView"></span>
  </i>
  <i (click)="selectView('tree')" *ngIf="showTreeView">
    <img src="./assets/images/icon-tree-view.svg" [ngClass]="{'view-active': activeView === 'tree'}">
  </i>
  <span class="vertical-line-grid" *ngIf="showMapView"></span>
  <i (click)="selectView('map')" *ngIf="showMapView">
    <img src="./assets/images/icon-map-view.svg" [ngClass]="{'view-active': activeView === 'map'}">
  </i>
</span>