<ejs-treegrid #treegrid [dataSource]='dataSource' [idMapping]='idMapping' [parentIdMapping]='parentIdMapping'
  [enableCollapseAll]="true" [treeColumnIndex]='treeColumnIndex' [allowSorting]='true' [allowPaging]='allowPaging'
  [selectionSettings]='selectionOptions' (rowSelected)="rowSelectedEvent($event)" [hasChildMapping]='hasChildMapping'
  (rowDeselected)="rowDeselectedEvent($event)" (dataStateChange)="onDataStateChange($event)"
  (queryCellInfo)='addFolderIcon($event)'>
  <e-columns>
    <!-- Column 1: Checkbox for each row -->
    <e-column headerText=' ' type=" " width='50' textAlign='Center' *ngIf="allowCheckboxSelection">
      <ng-template #template let-data>
        <div>
          <ejs-checkbox *ngIf="data.documentId" cssClass="e-success" [checked]="data.isChecked"
            (change)="rowCheckedEvent(data)"></ejs-checkbox>
        </div>
      </ng-template>
    </e-column>

    <!-- Column 2: FAVORITE ICON COLUMN -->
    <e-column *ngIf="allowFavoriting" headerText='' width="40" textAlign='Left'>
      <ng-template #template let-data>
        <input *ngIf="data.documentId" class="c-checkbox-star" type="checkbox" title="" [checked]="data.isFavorite"
          (click)="toggleFavoriteEvent(data)">
      </ng-template>
    </e-column>

    <ng-template ngFor let-column [ngForOf]="columns" let-i="index">
      <!-- Other columns -->
      <e-column [field]="column.field" [headerText]="column.headerText" [width]="column.width" textAlign='Left'>
      </e-column>
    </ng-template>

    <!-- Download link -->
    <e-column *ngIf="allowDownloading" field='' headerText='' width='120'>
      <ng-template #template let-data>
        <button *ngIf="!data.directoryId" class="button-no-outline button-grid-link" (click)="downloadEvent(data)">
          Download </button>
      </ng-template>
    </e-column>

    <e-column *ngIf="allowEditing" field='' headerText='' width='70'>
      <ng-template #template let-data>
        <img *ngIf="!data.directoryId" src="./assets/images/icon-pencil.svg" width="18" (click)="editEvent(data)">
      </ng-template>
    </e-column>
  </e-columns>
</ejs-treegrid>