.e-list-text {
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #033b5c !important;
}
.collapse-btn {
    float: left !important;
    color: #033b5c;
}
.row .e-gridheader.e-lib.e-droppable {
  padding-right: 0px !important;
}
.file-upload-path {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    /* font-style: italic; */
    line-height: normal;
    letter-spacing: 0.12px;
    color: #5b7f95;
    position: relative;
    bottom: 25px;
    width: 60%;

  }
  .folderPath span{
    display: inline-block;
  }
  .filters-container {
    position: relative;
    top: 26px;
  }