<div class="row works-container">
  <div class="col-xl-3 col-lg-5 col-md-5 col-sm-4 filters-container ">
    <button class="button-no-outline float-right collapse-btn" style="font-weight: 700; font-size: 16px"
      (click)="collapseAll()">Collapse All</button>
    <div id='treeparent' style="padding-top:3rem;">
      <app-tree-view #appTreeView [fields]="field"
      [showCheckBox]='true' [allowDragAndDrop]='false' (nodeExpanding)="onNodeExpanding()" (nodeSelected)="onNodeSelected($event)"></app-tree-view>
    </div>
  </div>
  <div class="col-xxl-8 col-xl-9 col-lg-7 col-md-7 col-sm-8">
    <div class="folderPath">
        <span class="file-upload-path">{{ folderPath }} </span>
    </div>
    <app-list  #list [dataSource]="media" [columns]="columns" [totalRecordsCount]="totalMedia" [initialRecords]="selectedIds" checkField="documentId" [height]="420"
      [allowPaging]="true" [autoPagination]="false" [pageSize]="pageSize" [currentPage]="currentPage" (changePage)="onChangePage($event)"
      (rowSelected)="rowSelectedEvent($event)" (rowDeselected)="rowDeselectedEvent($event)">
    </app-list>
  </div>
</div>