.iframe {
  width: 100%;
  height: 600px;
}

.body {
  color: #fefefe;
  font-family: Helvetica;
  padding: 2em;
}

.wrapper {
  text-align: center;
}

.file-title {
  font-size: 16px;
}

.droshadowclass {
  padding: 5px;
  border: solid 1px #EFEFEF;
}
img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}