<div class="page__section" style=" padding-top: 0rem;">
  <app-breadcrumb [previousRoute]="previousRoute$ | async" [enableBackRouting]="true" (navigate)="onBack($event)">
  </app-breadcrumb>
</div>

<div class="row">
  <div class="col-md-12">
    <label class="file-title mt-2"> {{dataSource?.name}} </label>
    <img *ngIf="!pdfViewerVisible" (click)="download()" class="float-right" style="width:2%;"
      src="./assets/images/download-icon.png" />
  </div>
</div>


<div class="control-section">
  <div class="content-wrapper">
    <div *ngIf="imgViewerVisible" [ngClass]="{'droshadowclass': url}" style="width: 100%; height: 40%">
      <img style="width: 100%; height: auto;" class="image" [src]="url" alt="Picture">
    </div>
    <div *ngIf="docViewerVisible " style="width: 100%; height: 100vh">
      <div class="body">
        <iframe class="office iframe" [src]="trustedUrl" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          role="document" aria-label="Doc document" title="Doc document">
        </iframe>
      </div>
    </div>

    <div *ngIf="pdfViewerVisible">
      <ejs-pdfviewer id="pdfViewer" [serviceUrl]='service' [documentPath]='url' style="height:640px;display:block">
      </ejs-pdfviewer>
    </div>

    <div *ngIf="videoViewerVisible" style="width: 100%; height: 100vh">

      <video width="100%" height="80%" controls autoplay id="videoPlayer">
        <source [src]="videoData.url" type="video/mp4">

        Your browser does not support the video tag.
      </video>

      <div class="text-center">
        <button class="btn btn-xs " style="background-color: #033B5C; color:white" (click)="intervalRewind()">Play
          Backwards</button>
      </div>



    </div>
  </div>
</div>