<div class="work-edit-container">
  <app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" (navigate)="switchBreadCrumbs($event)"></app-breadcrumb>

  <app-tabs [tabs]="tabs" (navigate)="switchTabs($event)"></app-tabs>
  <br />
  <div class="row">
    <div class="col-md-12">
      <label id="work-item-name" class="form-title-lg"> {{ (currentWork$ | async)?.name }} </label>
      <button *ngIf="(currentWork$ | async)?.canAdvance" class="button-round-sm" (click)="signOff()"
        [disabled]="isFormValid">
        {{ (currentWork$ | async)?.advanceButtonText || 'N/A' }}
      </button>
      <div class="float-right navigate-buttons">
        <label class="form-title-sm"> {{ currentIndex + 1 }} of {{ totalWorks }} </label>
        <img class="previous" [ngClass]="{'disabled': currentIndex < 1}" src="./assets/images/icon-up.svg" height="40"
          width="40" (click)="previous()">
        <img class="next" [ngClass]="{'disabled': (currentIndex + 1) >= totalWorks}" src="./assets/images/icon-down.svg"
          height="40" width="40" (click)="next()">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let data of (currentWork$ | async)?.metadata">
      <label class="form-title-md-fade" style="margin-right: 8px"> {{ data.label }}: </label>
      <i *ngIf="data.type !== 'Date'" id="current-step" class="form-title-md" style="margin-right: 12px">
        {{ (data.value != null || data.value != undefined || data.value != '') ? data.value : 'N/A' }}
      </i>
      <i *ngIf="data.type === 'Date'" id="current-step" class="form-title-md" style="margin-right: 12px">
        {{ data.value | date:'MM-dd-yyyy' || 'N/A' }}
      </i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-6 workfile-group">
      <div class="col-md-12 work-toolbar">
        <app-toolbar [selectionText]="'Selected'" [toolbar]="toolbarItems" (click)="toolbarClickEvent($event)">
        </app-toolbar>
      </div>
      <div class="col-md-12" *ngIf="workFileLength <= 0" class="no-image">
        <p> No Images Available </p>
      </div>
      <div class="col-md-12">
        <app-tile-view #tileView type="group" [dataSource]="workFile$ | async" [sasToken]="sasToken$ | async"
          (tileClick)="openViewer($event)" (toggleCheckBox)="toggleCheckBoxEvent($event)">
        </app-tile-view>
      </div>
    </div>
  </div>

  <app-modal #confirmModal type="confirm" title="Remove Member(s) from Group"
    message="Are you sure you want to remove these members?" (yes)="deleteAttachments()">
  </app-modal>
</div>