#work-item-name {
  margin-right: 16px;
  vertical-align: top;
}

#upload-file {
  margin-right: 16px;
}

.no-image {
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.work-toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-top: 75px;
}

.workfile-group {
  padding: 0px 5%;
}

.work-edit-container .navigate-buttons img {
  padding: 6px;
}

.work-edit-container .navigate-buttons img.disabled {
  opacity: .7;
  filter: saturate(0);
}

.work-edit-container .navigate-buttons img:hover {
  background: rgb(206, 218, 219);
}


