@media (max-width:938px) {
  #container-logo {
    margin: .6em 0em;
    flex-direction: row !important;
  }
  .dropdown-menu-right {
    right: 1em;
  }
  #bottom-nav {
    padding: 0em 1em;
    box-shadow: 0 0 0 0 #d9e4ea, 0 7px 6px 0 #d9e4ea;
  }
}

@media (min-width: 938px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex!important;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .dropdown-menu-right {
    right: 1em;
  }
}

@media screen and (min-width: 968px) {
  /* this code will be in effect from 968px width and up */
  .nav-tab-container li {
    margin-left: 2px;
  }
}

@media screen and (min-width: 1024px) {
  /* this code will be in effect from 1024px width and up */
  .nav-tab-container li {
    margin-left: 12px;
  }
  #top-nav {
    padding-right: 1em;
    padding-left: 1em;
  }
  .dropdown-menu-right {
    right: 1em;
  }
  #bottom-nav {
    padding: 0em 1em;
    box-shadow: 0 0 0 0 #d9e4ea, 0 7px 6px 0 #d9e4ea;
  }
}

@media screen and (min-width: 1280px) {
  /* this code will be in effect from 1280px width and up */
  .nav-tab-container li {
    margin-left: 22px;
  }
  #top-nav {
    padding-right: 7em;
    padding-left: 7em;
  }
  .dropdown-menu-right {
    right: 7em;
  }
  #bottom-nav {
    padding: 0em 7em !important;
    box-shadow: 0 0 0 0 #d9e4ea, 0 7px 6px 0 #d9e4ea;
  }
}

@media screen and (min-width: 1366px) {
  /* this code will be in effect from 1366px width and up */
  .nav-tab-container li {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  /* this code will be in effect from 1600px width and up */
  .nav-tab-container li {
    margin-left: 62px;
  }
}

@media screen and (min-width: 1600px) {
  /* this code will be in effect from 1600px width and up */
  .nav-tab-container li {
    margin-left: 72px;
  }
}

@media screen and (min-width: 1786px) {
  /* this code will be in effect from 1600px width and up */
  .nav-tab-container li {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1920px) {
  /* this code will be in effect from 1920px width and up */
  .nav-tab-container li {
    margin-left: 104px;
  }
}

.navbar-expand-custom .navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-menu-right {
  padding: 0px;
  margin-top: 0px;
}

.dropdown-menu-right .dropdown-item {
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  padding: .65rem 1.5rem;
  color: #033b5c;
  text-align: center !important;
}

.dropdown-menu-right .dropdown-item:hover, .dropdown-menu-right .dropdown-item:active {
  background-color: #033b5c;
  color: #fff;
}

#top-nav {
  background-color: #033b5c;
}

#bottom-nav {
  background-color: #eaf1f2;
  padding: 0em 1em;
  box-shadow: 0 0 0 0 #d9e4ea, 0 7px 6px 0 #d9e4ea;
}

#top-nav ul li {
  margin-left: 12px;
}

#report-issues {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.34px;
  color: #ffc72c;
}

#display-name {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.34px;
  color: #eaeaea;
}

.divider {
  border-left: 1px solid #9b9b9b;
  height: 32px;
}

#omv-logo {
  margin-top: 8px;
}

.divider-2 {
  border-left: 1px solid #5b7f95;
  height: 44px;
  margin-right: 16px;
  margin-left: 16px;
}

.nav-link-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 18px;
  padding: 0px;
  color: #5b7f95;
  cursor: pointer;
}

.nav-link-text.active {
  font-size: 16px;
  font-weight: bold;
  color: #033b5c !important;
}

.nav-link-line {
  position: relative;
  display: block;
  margin: 0px auto -4px auto;
  width: auto;
  visibility: hidden;
  text-align: center;
  outline: none;
}

.nav-link-line.active {
  visibility: visible;
}

.nav-link-line:active {
  outline: none;
}

.sub-menu {
  left: auto;
  background: white;
  display: none;
  padding: 4px 16px;
  margin-top: 12px;
  list-style: none;
}

.sub-menu li {
  margin: 8px 0px;
}

.sub-menu li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #0097a9;
  cursor: pointer;
}

.sub-menu li a:hover {
  text-decoration: underline;
}

.sub-menu li:last-child hr {
  display: none;
}

.sub-menu li hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* .sub-menu li a:hover {
  color: #0097a9;
  text
} */

.sub-menu.show {
  display: block;
}