<nav id="top-nav" class="navbar navbar-expand-custom justify-content-end flex-nowrap navbar-dark">
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a id="report-issues" routerLink="/report-issues" class="nav-link px-2">Report Issues</a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle" href="#" id="display-name" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{ (currentUser$ | async)?.displayName || 'Unknown' }} </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="display-name">
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</nav>
<nav id="bottom-nav" class="navbar navbar-expand-custom navbar-light">
  <ul class="navbar-nav" id="container-logo">
    <li class="nav-item">
      <img id="omv-logo" src="./assets/images/oceaneering.png" width="82" height="27" alt="">
    </li>
    <li class="nav-item">
      <div class="divider-2"></div>
    </li>
    <li class="nav-item">
      <ng-container *ngIf="sasToken$ | async as sasToken">
        <img *ngIf="companyLogo$ | async as companyLogo" [src]="companyLogo + sasToken" width="" height="44" alt="">
      </ng-container>
    </li>
  </ul>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse pt-2 pt-md-0 justify-content-end" id="navbar2">
    <ul class="navbar-nav nav-tab-container">
      <li class="nav-item" *ngIf="tenantPermission.isPermittedDashboard">
        <a class="nav-link nav-link-text" routerLink="/dashboard" routerLinkActive="active">
          DASHBOARD </a>
        <img class="nav-link-line" routerLink="/dashboard" routerLinkActive="active"
          src="./assets/images/selection.png" />
      </li>
      <li *ngIf="tenantPermission.isPermittedMedia">
        <a class="nav-link nav-link-text" routerLink="/media" routerLinkActive="active">
          MEDIA </a>
        <img class="nav-link-line" routerLink="/media" routerLinkActive="active" src="./assets/images/selection.png" />
      </li>
      <li *ngIf="tenantPermission.isPermittedLiveStream">
        <a class="nav-link nav-link-text" routerLink="/live-stream" routerLinkActive="active">
          LIVE STREAM </a>
        <img class="nav-link-line" routerLink="/live-stream" routerLinkActive="active"
          src="./assets/images/selection.png" />
      </li>
      <li class="dropdown-submenu" id="work-planning" *ngIf="tenantPermission.isPermitedWorkPlanning">
        <a class="nav-link nav-link-text" [ngClass]="{'active': isWorkPlanningActive}" data-toggle="dropdown"
          (click)="onWorkPlanningClicked()">
          WORK PLANNING </a>
        <img class="nav-link-line" src="./assets/images/selection.png" [ngClass]="{'active': isWorkPlanningActive}" />
        <ul class="dropdown-menu sub-menu">
          <li *ngFor="let link of parentItems; let i = index;">
            <a (click)="navigateToLink(link)"> {{ link | uppercase }} </a>
            <hr>
          </li>
        </ul>
      </li>
      <!-- collaboration is still in progress -->
      <!-- <li *ngIf="false"> -->
      <li *ngIf="tenantPermission.isPermittedCollaborations">
        <a class="nav-link nav-link-text" routerLink="/collaborations" routerLinkActive="active">
          COLLABORATIONS </a>
        <img class="nav-link-line" routerLink="/collaborations" routerLinkActive="active"
          src="./assets/images/selection.png" />
      </li>
      <li *ngIf="userPermission?.canViewAdminPortal">
        <a class="nav-link nav-link-text" routerLink="/admin" routerLinkActive="active">
          ADMIN PORTAL </a>
        <img class="nav-link-line" routerLink="/admin" routerLinkActive="active" src="./assets/images/selection.png" />
      </li>
    </ul>
  </div>
</nav>