.c-header-buttons {
  display: block;
  margin: 4px 10px 12px 18px;
}

.c-header-buttons > button {
  margin-right: 44px;
}

#image-placeholder-container {
  position: relative;
}

#image-placeholder-container .play-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  pointer-events: none;
}
