<br />
<div class="step-title"> {{ currentMediaItem?.name }} </div>
<br />
<div class="c-header-buttons">
  <button (click)="addField()" class="c-button-add add-field-button-qa"> Add Field </button>
  <button (click)="submit()" [disabled]="!dynamicForm?.form?.dirty || !dynamicForm?.form?.valid" class="c-button-update update-metadata-button-qa">
    Update Metadata </button>
  <button (click)="discardChanges()" [disabled]="!dynamicForm?.form?.dirty"
    class="c-button-cancel disregard-changes-button-qa"> Disregard Changes </button>
  <button (click)="showDeleteModal()"
    class="c-button-delete delete-button-qa"> Delete </button>
</div>

<div class="row">
  <div class="col-md-6">
    <dynamic-form #dynamicForm="dynamicForm" mode="default" [config]="currentItemMetadataFields" [allowDeleting]="true"
      (delete)="deleteField($event)">
    </dynamic-form>
  </div>
  <div class="col-md-6">
    <div id="image-placeholder-container">
      <img (click)="openViewer()" class="image-viewer-qa img-fluid" *ngIf="currentMediaItem?.url"
        [src]="currentMediaItem?.thumbnail" [default]="'./assets/images/default-image-placeholder.jpg'" alt=""
        style="width: 100%; height: auto; margin: auto">
      <img *ngIf="currentMediaItem?.isVideo" class="play-overlay" src="./assets/images/icon-play-overlay.svg">
    </div>
  </div>
</div>

<app-modal #metadataFieldsModal type="multiselect-listview" [dataSource]="metadataFields" title="Add Field(s)"
  saveText="DONE" (save)="addMetadataFields($event)">
</app-modal>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteMedia()">
</app-modal>