.collaboration-controls {
  background-color: #f3f8fb;
  display: flex;
  border-radius: 31px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
  opacity: 0.9;
  padding: 0px 20px;
}

.collaboration-controls .content {
  position: relative;
  display: flex;
}

.collaboration-controls .toggler {
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  width: 28px;
  margin: auto;
  padding: 0px 2%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #f3f8fb;
  visibility: visible;
}

.collaboration-controls .item {
  text-align: center;
  cursor: pointer;
  padding: 8px 12px 8px 12px;
}

.collaboration-controls .item.active {
  background: #0097a9;
}

.collaboration-controls .item.disabled {
  cursor: not-allowed;
}

.collaboration-controls .item.active:hover img {
  filter: brightness(0) invert(1);
}

.collaboration-controls .item:hover img,
.collaboration-controls .item:active img {
  filter: brightness(0) invert(0.4) !important;
}

.collaboration-controls .item.active img {
  filter: brightness(0) invert(1);
}

.collaboration-controls .item p {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.29px;
  color: #0097a9;
  margin: 5px 0px !important;
}

.collaboration-controls .item.active p {
  color: #fff;
}

.collaboration-controls .item.warning p {
  color: #c15601;
}

.collaboration-controls .item.danger p {
  color: #d60f36;
}

.collaboration-controls .item:hover p,
.collaboration-controls .item:active p,
.collaboration-controls .item.warning:hover p,
.collaboration-controls .item.warning:active p,
.collaboration-controls .item.danger:hover p,
.collaboration-controls .item.danger:active p {
  color: #5b7f95 !important;
}

.collaboration-controls .item.active:hover p {
  color: #fff;
}

.collaboration-control-toggle .maximize {
  position: absolute;
  bottom: 109px;
  left: 47%;
  z-index: 30;
  background-color: #f3f8fb;
  padding: 2px;
  border-radius: 3px;
}
.collaboration-control-toggle .minimize {
  bottom: opx;
}
.collaboration-controls:hover {
  cursor: move;
}

.fadeout {
  color: #ffffff;
  font-size: large;
  font-family: helvetica;
  text-align: center;
  opacity: 0;
  -webkit-animation: fadeout 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 4s; /* Firefox < 16 */
  -ms-animation: fadeout 4s; /* Internet Explorer */
  -o-animation: fadeout 4s; /* Opera < 12.1 */
  animation: fadeout 4s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadein {
  color: #ffffff;
  font-size: large;
  font-family: helvetica;
  text-align: center;
  opacity: 0;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
