<div class="collaboration-controls" [ngStyle]="{visibility: isCollapsed ? 'hidden' : 'visible'}">
  <div class="content">
    <ejs-tooltip [content]="!isPresenting ? 'Share Screen' : 'Stop sharing'">
      <div class="item" *ngIf="showScreenShare" [ngClass]="{'disabled': !allowControls}" (click)="onShareScreen()">
        <img *ngIf="!isPresenting" src="./assets/images/icon-share-screen.svg" alt="Share Screen" height="24">
        <img *ngIf="isPresenting" src="./assets/images/icon-unshare-screen.svg" alt="UnShare Screen" height="24">
      </div>
    </ejs-tooltip>

    <ejs-tooltip content="Screenshot">
      <div class="item" *ngIf="showScreenshot" (click)="onScreenshot()">
        <img src="./assets/images/screen-shot.svg" alt="Screenshot" height="24" />
      </div>
    </ejs-tooltip>

    <ejs-tooltip [content]="!allowAnnotation ? 'Start Annotating' : 'Stop Annotating'">
      <div class="item" *ngIf="showAnnotate" [ngClass]="{'active': allowAnnotation}" (click)="onAnnotate()">
        <img src="./assets/images/annotate-icon.svg" alt="Annotate" height="24" />
      </div>
    </ejs-tooltip>

    <ejs-tooltip content="Chat">
      <div class="item" [ngClass]="{'active': isChatActive}" style="position: relative;" (click)="onChat()">
        <img src="./assets/images/note-icon.svg" alt="Chat" height="24">
        <span *ngIf='ischatMessageAdded' class="badge badge-pill badge-danger" style="position: absolute; left: 24px;
      top: 0px;"> new </span>
      </div>
    </ejs-tooltip>

    <ejs-tooltip [content]="'Add Participant'">
      <div class="item" (click)="onAddParticipant()">
        <img src="./assets/images/add-participant.svg" alt="Add Participant" height="24" />
      </div>
    </ejs-tooltip>

    <ejs-tooltip [content]="muted ? 'Unmute' : 'Mute'">
      <div class="item" [ngClass]="{'active': muted, 'disabled': !allowControls}" (click)="onMute()">
        <img src="./assets/images/icon-mute.svg" alt="Mute/Unmute" height="24" />
      </div>
    </ejs-tooltip>

    <ejs-tooltip [content]="'Leave Session'">
      <div class="item warning" *ngIf="showLeaveRoom" (click)="onLeaveRoom()">
        <img src="./assets/images/icon-leave-room.svg" alt="Leave Room" height="24" />
      </div>
    </ejs-tooltip>

    <ejs-tooltip [content]="'End Session'">
      <div class="item danger" *ngIf="showEndRoom" (click)="onEndRoom()">
        <img src="./assets/images/icon-power.svg" alt="End Room" height="24" />
      </div>
    </ejs-tooltip>
  </div>

  <span *ngIf="!isCollapsed" class="toggler" (click)="isCollapsed = true">
    <img src="./assets/images/icon-arrow-down-green.svg" width="12">
  </span>
  <img (click)="isCollapsed = false" *ngIf="isCollapsed" style="background-color: transparent;" class="toggler"
    src="./assets/images/icon-ellipsis.svg" width="20">
</div>