<div class="row">
  <div class="col-md-4 col-sm-6">
    <label for="nameId" class="form-label"> Process </label>
    <ejs-dropdownlist class="form-control custom-form-control" [dataSource]='processes$ | async'
      [placeholder]="'Select Process'" [fields]='processFields' [(value)]='selectedProcessId'
      (change)="processChanged($event)">
    </ejs-dropdownlist>
  </div>
  <div class="pt-3 col-md-8 col-sm-6" style="display: flex; align-self: flex-end;">
    <div style="flex: auto;">
      <app-buttons [buttons]="buttons" position="right" bottom="0" [disabled]="(isReadOnlyMode$ | async)"></app-buttons>
    </div>
  </div>
</div>
<br>

<app-list #stepsGrid *ngIf="!(isReadOnlyMode$ | async)" [dataSource]="steps" [columns]="columns" [allowGridPaging]="true"
  [allowRowDragAndDrop]="true" (rowDrop)="onRowDrop($event)">
</app-list>

<app-list #stepsGrid *ngIf="(isReadOnlyMode$ | async)" [dataSource]="steps" [columns]="columns">
</app-list>

<app-buttons *ngIf="!(isReadOnlyMode$ | async)" [buttons]="gridButtons" spacing="30" [disabled]="!enableGridButtons">
</app-buttons>

<app-modal #stepModal type="form" [title]="stepModalTitle" width="600" [controls]="stepControls"
  (submit)="saveStep($event)">
</app-modal>

<app-modal #stepDetailsModal type="details-view" title="Step Details"></app-modal>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteStep()">
</app-modal>