<form novalidate (ngSubmit)="save()" [formGroup]="templateForm">
  <div class="row">
    <div class="col-sm-6">
      <label class="form-label"> Template Name </label>
      <input class="form-control custom-form-control" type="text" formControlName="name" [readonly]="workTemplate"
        [ngClass]="{'is-invalid': (templateForm.get('name').touched || templateForm.get('name').dirty) && !templateForm.get('name').valid }">
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter a name </h5>
      </span>
      <br>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <label class="form-label"> Work Type </label>
      <input class="form-control custom-form-control" type="text" formControlName="workType"
        [ngClass]="{'is-invalid': (templateForm.get('workType').touched || templateForm.get('workType').dirty) && !templateForm.get('workType').valid }">
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter a work type </h5>
      </span>
    </div>
    <div class="col-sm-6">
      <label class="form-label"> Work Item </label>
      <input class="form-control custom-form-control" type="text" formControlName="workItem"
        [ngClass]="{'is-invalid': (templateForm.get('workItem').touched || templateForm.get('workItem').dirty) && !templateForm.get('workItem').valid }">
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter a work item </h5>
      </span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <label class="form-label">Work Item Parent </label>
      <input class="form-control custom-form-control" type="text" formControlName="workItemParent"
        [ngClass]="{'is-invalid': (templateForm.get('workItemParent').touched || templateForm.get('workItemParent').dirty) && !templateForm.get('workItemParent').valid }">
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter a work item parent </h5>
      </span>
    </div>
    <div class="col-sm-6">
      <label class="form-label">Asset List</label>
      <ejs-dropdownlist class="form-control custom-form-control" [placeholder]="'Select  Asset'"
        [ngClass]="{'disabled': isReadOnlyMode$ | async}" formControlName="assetParent" [dataSource]="assets"
        [fields]="metadataFormField">
      </ejs-dropdownlist>
      <span class="invalid-feedback">
        <h5 class="form-description">Please Select Asset</h5>
      </span>
    </div>
  </div>

  <br><br>

  <app-buttons [buttons]="buttons" spacing="30" (actions)="buttonActions($event)"></app-buttons>
  
  <!-- CONFIRM MODAL -->
  <app-modal #confirmModal type="confirm"></app-modal>
</form>
