.note-container {
  position: absolute;
  background-color: #f3f8fb;
  bottom: 113px;
  left: 3.3%;
  height: 500px;
  border: solid 1px rgba(91, 127, 149, 0.25);
  /* border-radius: 5px; */
  padding: 30px 30px 20px;
  overflow: hidden;
  z-index: 20;
  width: 20%;
  word-wrap: break-word;
}
.participant-chat {
  margin-left: 10px;
}
.participant-container {
  width: auto;
}

.minimize-chat-btn {
  height: 16px;
  position: relative;
  bottom: 24px;
  left: 96%;
  z-index: 100;
}

.note-container-minimize {
  height: 40px;
  width: 252px;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 30px;
  padding-left: 9px;
}
.video-container {
  width: 118%;
  position: relative;
  right: 83px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 100%;
}

.chat-container {
  position: relative;
  overflow-y: auto;
  height: 355px;
  /* margin-right: -50px;  maximum width of scrollbar  */
  padding-right: 50px; /* maximum width of scrollbar */
}
.message {
  border-radius: 25px;
  border: 1px solid #033b5c;
  padding: 20px;
  width: 90%;
  height: 38px;
  padding-right: 34px;
  font-family: "OpenSans", sans-serif;
  color: #033b5c;
}
.chat-message {
  bottom: 0;
  padding-bottom: 13px;
  position: relative;
  z-index: 1;
  width: 100%;
  left: 8px;
}

.message:focus {
  outline: none;
  border-color: #0097a9;
}
.participant-name-width {
  width: 100% !important;
}
.participant-label-width {
  width: 100% !important;
  word-break: break-word;
  padding-bottom: 32px;
  padding-right: 30px;
}
.send-message {
  height: 22px;
  position: relative;
  right: 30px;
}
.sender-message {
  position: relative;
  left: 103px;
  background-color: #0097a9;
}
.sender-text {
  color: #033b5c !important;
}
.tiblock {
  align-items: center;
  display: flex;
  height: 17px;
}

.ticontainer .tidot {
  background-color: #90949c;
}

.tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

.tidot:nth-child(1) {
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
}
.tidot:nth-child(2) {
  animation-delay: 300ms;
  -webkit-animation-delay: 300ms;
}
.tidot:nth-child(3) {
  animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
}

.speech {
  position: relative;
  font-family: arial;
  font-size: 1.1em;
  background: #0097a9;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  left: 8%;
}

.half:after {
  content: "";
  border: 20px solid transparent;
  border-right: 20px solid #0097a9;
  border-top: 20px solid #0097a9;
  position: absolute;
  bottom: -20px;
  left: 79%;
}
.speech-left {
  position: relative;
  font-family: arial;
  font-size: 1.1em;
  background: #cccccc;
  color: #cccccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
}
.me-chat {
  color: #ffffff !important;
}
.half-left:after {
  content: "";
  border: 20px solid transparent;
  border-left: 20px solid #cccccc;
  border-top: 20px solid #cccccc;
  position: absolute;
  bottom: -23px;
  left: 5%;
}

.fade {
  opacity: 0.2;
}

.fade :hover {
  opacity: 1;
}

.fade {
  opacity: 0.2;
}

.fade :hover {
  opacity: 1;
}
.person-image {
  width: 30px;
  height: 30px;
  background-color: #50e3c2;
}
.chat-user-image {
  width: 30px;
  height: 30px;
}
.chat-participant {
  background-color: #ffffff;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  width: 75% !important;
}
.participant-name {
  width: 71px;
  height: 17px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
}
.participant-label {
  width: 57px;
  height: 15px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #033b5c;
}
.participant-details {
  display: -webkit-box;
  margin-bottom: 30px;
  height: 67px;
}
.participant-details-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.chat-container::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.chat-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.chat-container::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0097a9;
}
.chat-time {
  position: absolute;
  color: black;
}
.chat-time-local{
  left: 78%;
}
.chat-time-remote{
left : 0%;
}

