<div class="note-container" [ngStyle]="{'display': toggleChat?'':'none'}" ngDraggable>
  <div>
    <img class="minimize-chat-btn" src="./assets/images/minimize.svg" alt="" (click)="toggleChatBox()">
  </div>
  <div class="chat-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let chat of chatMessages; let i = index">
      <div class="participant-details"
        [ngClass]="{'speech half':chat.author === connectedUserName, 'speech-left half-left':chat.author !== connectedUserName}">
        <div class="participant-container">
          <img class="chat-user-image img-thumbnail rounded-circle" src="./assets/images/person-icon.png" alt="">
        </div>
        <div class="participant-chat">
          <div class="participant-name participant-name-width"
            [ngClass]="{'me-chat':chat.author === connectedUserName}">{{chat.author}}</div>
          <div class="participant-label participant-label-width"
            [ngClass]="{'me-chat':chat.author === connectedUserName}">{{chat.body}}</div>
            <p class="chat-time" [ngClass]="{'chat-time-remote':chat.author === connectedUserName, 'chat-time-local':chat.author !== connectedUserName}">{{chat.time}}</p>
        </div>
      </div>
    </div>
    <div class="ticontainer" *ngIf="isTyping">
      <div class="tiblock">
        <div class="tidot"></div>
        <div class="tidot"></div>
        <div class="tidot"></div>
      </div>
    </div>

  </div>
  <div class="chat-message">

    <input (focus)="onFocus()" type="text" name="message" class="message" [(ngModel)]="message" #ctrl="ngModel"
      placeholder="Message" (keydown.enter)="handleNewMessage()" (keydown)="onKeyDown()">
    <button type="button" (click)="handleNewMessage()">
      <img class="send-message" src="./assets/images/send-button.svg" alt="">

    </button>

  </div>
</div>