.facet-container table {
  table-layout: fixed;
}

.facet-container table th:nth-child(2) {
  padding: 0px 6px;
}

.facet-container table th label {
  margin-bottom: 0px !important;
}

.facet-container table th span {
  padding: 1px 3px 3px 3px;
  background: #0097a9;
  margin-right: 5px;
}

.e-custom-filter .e-label {
  font-size: 14px !important;
}

.form-label {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.filter-search {
  padding: 2px;
  margin: 0px 4px 0px 0px;
  background: #0097a9;
}

/* #region CHECKBOX SECTION */

.check-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #5b7f95;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 14px;
  width: 14px;
  line-height: 10px;
  background-color: transparent;
  border: 2px solid #0097a9 !important;
  border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #0097a9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  content: "✔";
  color: white;
  font-size: 12px;
  font-weight: 700;
  transform: rotate(9deg);
}

/* #endregion */

.title-case {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.title-case::first-letter {
  text-transform: uppercase;
}

#facet-number-slider-container
  .e-control-wrapper.e-slider-container.e-horizontal {
  height: 21px !important;
}

#facet-date-slider-container
  .e-control-wrapper.e-slider-container.e-horizontal {
  height: 26px !important;
}

.facet-slider
  .e-control-wrapper.e-slider-container.e-horizontal
  .e-first-button,
.facet-slider
  .e-control-wrapper.e-slider-container.e-horizontal
  .e-second-button {
  background: #0097a9;
}
