<div style="display: grid">
  <button class="button-no-outline float-right" style="font-weight: 700; font-size: 16px" (click)="onResetAll()">
    Reset All </button>
</div>
<div *ngIf="filters?.length === 0">
  <label class="form-title-md"> No filter found</label>
</div>
<div class="facet-container" *ngFor="let filter of filters">
  <ng-container *ngIf="filter.searchType === CHECKBOX && filter?.options?.length > 0">
    <table width="100%">
      <tr>
        <th width="10%">
          <span>
            <img (click)="onApplyFilter(filter)" src="./assets/images/icon-magnifying-glass-white.svg" width="14"
              height="14">
          </span>
        </th>
        <th width="70%">
          <label class="form-title-md title-case" [title]="filter.label">
            {{ filter.label }} </label>
        </th>
        <th [align]="'right'" style="text-align: right">
          <button class="button-no-outline" style="font-weight: 700" (click)="onReset(filter)">Reset</button>
        </th>
      </tr>
      <tr *ngFor="let option of filter.options | slice:0:filter.isOpen ? filter.options.length : 3">
        <td colspan="2">
          <label class="check-container">
            {{ option.label }}
            <input type="checkbox" [checked]="option.isChecked" (change)="option.isChecked = !option.isChecked">
            <span class="checkmark"></span>
          </label>
        </td>
        <td [align]="'right'">
          <p class="form-label" style="margin-top: 0px; font-size: 14px;"> {{ option.count }}
          </p>
        </td>
      </tr>
      <tr *ngIf="filter.options.length > 3">
        <td colspan="3">
          <button *ngIf="!filter.isOpen" (click)="filter.isOpen = true;" class="button-no-outline"
            style="font-size: 14px; margin-top: 6px">
            Show {{ filter.options.length - 3 }} More
          </button>
          <button *ngIf="filter.isOpen" (click)="filter.isOpen = false;" class="button-no-outline"
            style="font-size: 14px; margin-top: 6px">
            Show Less
          </button>
        </td>
      </tr>
    </table>
    <br>
  </ng-container>
  <ng-container *ngIf="filter.searchType === RANGE">
    <table width="100%">
      <tr>
        <th width="10%">
          <span>
            <img (click)="onApplyFilter(filter)" src="./assets/images/icon-magnifying-glass-white.svg" width="14"
              height="14">
          </span>
        </th>
        <th width="70%">
          <label class="form-title-md" [title]="filter.label"> {{ filter.label }} </label>
        </th>
        <th [align]="'right'" style="text-align: right">
          <button class="button-no-outline" style="font-weight: 700" (click)="onReset(filter)">Reset</button>
        </th>
      </tr>
      <tr>
        <td colspan="3" class="facet-slider" id="facet-number-slider-container" *ngIf="filter.dataType !== 'date'">
          <div>
            <label class="form-label" style="font-size: 14px;"> {{ filter?.values | arrayDisplay }} </label>
          </div>
          <ejs-slider #slider type="Range" [min]='filter?.min' [max]='filter?.max' [showButtons]=true
            (change)="currentFilter = filter; onSliderChanged($event)">
          </ejs-slider>
        </td>
        <td colspan="3" class="facet-slider" id="facet-date-slider-container" *ngIf="filter.dataType === 'date'">
          <div>
            <label class="form-label" style="font-size: 14px;"> {{ filter?.values | arrayDisplay:'date' }} </label>
          </div>
          <ejs-slider type="Range" [min]="filter?.min" [max]="filter?.max" [value]="value" step=86400000
            [ticks]="ticksData" [showButtons]=true (change)="currentFilter = filter; onSliderChanged($event)">
          </ejs-slider>
        </td>
      </tr>
    </table>
    <br>
  </ng-container>
  <ng-container *ngIf="filter.searchType === DATE">
    <table width="100%">
      <tr>
        <th width="10%">
          <span>
            <img (click)="onApplyFilter(filter)" src="./assets/images/icon-magnifying-glass-white.svg" width="14"
              height="14">
          </span>
        </th>
        <th width="70%">
          <label class="form-title-md" [title]="filter.label"> {{ filter.label }} </label>
        </th>
        <th [align]="'right'" style="text-align: right">
          <button class="button-no-outline" style="font-weight: 700" (click)="onReset(filter)">Reset</button>
        </th>
      </tr>
      <tr>
        <td colspan="3">
          <ejs-daterangepicker #dateRange format='MM/dd/yyyy' class="custom" [value]="filter?.value"
            placeholder="Select a range" (change)="currentFilter = filter; onDateChange($event);">
          </ejs-daterangepicker>
        </td>
      </tr>
    </table>
    <br>
  </ng-container>
</div>