<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>
<br>
<span class="form-title-md"> {{ (currentFolder$ | async)?.name }} </span>
<br><br>
<div class="c-header-buttons">
  <button (click)="showFieldsDialog()" class="c-button-add"> Add Field </button>
</div>
<br>

<div class="row">
  <div class="col-md-6">
    <dynamic-form #dynamicForm mode="folder-metadata" [config]="currentFolderMetadataFields"
      (delete)="deleteField($event)">
    </dynamic-form>
    <br>
    <app-buttons *ngIf="currentFolderMetadataFields?.length > 0" [buttons]="buttons" spacing="30"
      [disabled]="!dynamicForm?.form?.dirty || currentFolderMetadataFields?.length === 0" style="margin-left: 16px">
    </app-buttons>
  </div>
</div>

<!-- METADATA FIELDS MODAL -->
<app-modal #metadataFieldsModal type="multiselect-listview" [dataSource]="metadataFields" title="Add Field(s)"
  saveText="DONE" (save)="addMetadataFields($event)">
</app-modal>