#ddlelement{
    width: 100%;
  height: 37px;
  border-radius: 4px;
  border: solid 1px #CED4DA;
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 8px;
 }

 .custom-frequency-container {
   width: 45%;
   display: inline-block;
 }