<form novalidate (ngSubmit)="save()" [formGroup]="scheduleForm">
  <div class="row">
    <div class="col-sm-6">
      <label class="form-label"> Cycle Name </label>
      <input class="form-control custom-form-control" type="text" formControlName="cycleName"
        [ngClass]="{'is-invalid': (scheduleForm.get('cycleName').touched || scheduleForm.get('cycleName').dirty) && !scheduleForm.get('cycleName').valid }">
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter a name </h5>
      </span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <label class="form-label"> Frequency </label>
      <ejs-dropdownlist class="form-control custom-form-control" formControlName="frequencyType"
        [fields]='frequencyTypeFields' [dataSource]="frequencyTypes$ | async" [placeholder]="'Please select'"
        (change)="frequencyChanged($event)">
      </ejs-dropdownlist>
      <span class="invalid-feedback">
        <h5 class="form-description"> Please select a template </h5>
      </span>
    </div>
  </div>
  <br>

  <div class="row" *ngIf="isCustomFrequency">
    <div class="col-sm-6">
      <label class="form-label"> Every </label>
      <div class="custom-frequency-container">
        <input formControlName="customFrequency" class="form-control custom-form-control" type="number" min="1">
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a number </h5>
        </span>
      </div>
      <div class="custom-frequency-container float-right">
        <ejs-dropdownlist formControlName="customDuration" class="form-control custom-form-control"
          [fields]='frequencyTypeFields' [dataSource]="customFrequencyTypes$ | async" [placeholder]="'Please select'"
          [ngClass]="{'disabled': isReadOnlyMode$ | async}">
        </ejs-dropdownlist>
        <span class="invalid-feedback">
          <h5 class="form-description"> Please select </h5>
        </span>
      </div>
    </div>
  </div>
  <br *ngIf="isCustomFrequency">


  <div class="row" *ngIf="isCustomFrequency">
    <div class="col-sm-6">
      <label class="form-label"> Repeat After </label>
      <div class="custom-frequency-container">
        <input formControlName="repeatFrequency" class="form-control custom-form-control" type="number" min="1">
      </div>
      <div class="custom-frequency-container float-right">
        <ejs-dropdownlist formControlName="repeatDuration" class="form-control custom-form-control"
          [fields]='frequencyTypeFields' [dataSource]="customFrequencyTypes$ | async" [placeholder]="'Please select'"
          [ngClass]="{'disabled': isReadOnlyMode$ | async}">
        </ejs-dropdownlist>
      </div>
    </div>
  </div>
  <br *ngIf="isCustomFrequency">

  <div class="row">
    <div class="col-sm-6">
      <label class="form-label"> Start Date </label>
      <ejs-datepicker class="form-control custom-form-control" formControlName="startDate" enablePersistence="true"
        strictMode='true' format='MM/dd/yyyy'></ejs-datepicker>
      <span class="invalid-feedback">
        <h5 class="form-description"> Please select a date </h5>
      </span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <label class="form-label"> End Date </label>
      <ejs-datepicker class="form-control custom-form-control" allowEdit="false" formControlName="endDate"
        strictMode='true' format='MM/dd/yyyy'>
      </ejs-datepicker>
      <span class="invalid-feedback">
        <h5 class="form-description"> Please select a date </h5>
      </span>
    </div>
  </div>
  <br>

  <app-buttons [buttons]="buttons" [disabled]="!scheduleForm?.dirty || !scheduleForm?.valid" spacing="30">
  </app-buttons>
</form>
<app-modal #confirmModal type="confirm"></app-modal>