.current-collaboration-container .calender {
  margin: 19px 0px 5px 0px;
  object-fit: contain;
  background-color: #ffffff;
  display: flex;
  height: 80px;
}

.current-collaboration-container .calender-navigator {
  width: 44px;
  border: 1px solid #dee2e6;
  display: flex;
  cursor: pointer;
}

.current-collaboration-container .calender-navigator:first-child {
  transform: rotate(180deg);
}

.current-collaboration-container .calender-navigator img {
  margin: auto;
}

.current-collaboration-container .calender-days {
  width: 100%;
}

.current-collaboration-container .calender-days div:first-child {
  display: flex;
  padding: 5px;
  justify-content: center;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  height: 40px;
}

.current-collaboration-container .calender-days div:first-child h6 {
  display: inline-block;
  margin: auto;
}

.current-collaboration-container .calender-days div:last-child {
  height: 39px;
}

.current-collaboration-container .calender-days div:last-child table {
  width: 100%;
}

.current-collaboration-container .calender-days div:last-child table th {
  border: 1px solid #dee2e6;
  height: 39px;
  width: 40px;
  cursor: pointer;
  position: relative;
}

.current-collaboration-container .calender-days div:last-child table th p {
  margin: auto;
  width: fit-content;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.09px;
  text-align: center;
}

.current-collaboration-container .calender-days div:last-child table tr {
  background-color: #fff;
  color: #5b7f95;
}

.current-collaboration-container
  .calender-days
  div:last-child
  table
  tr
  th:hover {
  background-color: #5b7f95;
  color: #fff;
}

.current-collaboration-container
  .calender-days
  div:last-child
  table
  tr
  th.active {
  background-color: #009b77;
  color: #ffffff;
}

.current-collaboration-container
  .calender-days
  div:last-child
  table
  tr
  th.disabled {
  cursor: not-allowed;
}

.current-collaboration-container .dot-mark {
  position: absolute;
  left: 47%;
  top: 60%;
}

.current-collaboration-container .view-archives {
  display: flex;
  float: right;
  cursor: pointer;
}

.current-collaboration-container .view-archives span {
  margin-left: 20px;
}

.current-collaboration-container .view-archives span button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #0097a9;
  margin-left: 8px;
  vertical-align: middle;
  filter: contrast(1);
}
