<div class="current-collaboration-container">
  <div class="row toolbar">
    <div class="col-md-6" style="display: flex;">
      <label class="media-label" style="margin-top: 3px; margin-right: 24px;">
        Upcoming this month: {{ upCompingSessionsCount$ | async }}
      </label>
      <div id="collaboration-tags-container"
        style="overflow-x: auto; overflow-y: hidden; white-space: nowrap; padding: 2px 0px">
        <app-tag (removeTag)="removeTag()" *ngFor="let tag of filterTags$ | async" [tag]="tag" isSmall="true" right="6">
        </app-tag>
      </div>
    </div>
    <div class="col-md-6">
      <div class="view-archives">
        <span (click)="refresh()">
          <img src="./assets/images/icon-refresh.svg" width="18">
          <button> Refresh </button>
        </span>

        <span (click)="viewArchives()">
          <img src="./assets/images/icon-video-archive.svg" width="20">
          <button> View Archives </button>
        </span>
      </div>
    </div>
  </div>

  <app-current-collaborations-calendar></app-current-collaborations-calendar>

  <div *ngFor="let collaborationSession of paginatedSessions; let i = index"
    [ngStyle]="{'border-bottom': i != (paginatedSessions?.length - 1) ? 'solid 1px #e7e7e7' : 'none'}">
    <app-current-collaborations-card [session]="collaborationSession" (notify)="deleteNotification()">
    </app-current-collaborations-card>
  </div>

  <!-- Pagination -->
  <br>
  <app-pager *ngIf="sessions?.length > 0" pageCount="3" [pageSize]="pageSize" [useDropdown]="false"
    [pageSizes]="pageSizes" [currentPage]="currentPage" [totalRecordsCount]="sessions?.length"
    (change)="changePage($event)">
  </app-pager>
</div>