<button type="submit" class="button-default" [disabled]="isfirstButtonDisabled" style="margin: 0 10px">
  {{ firstButtonText }}
</button>
<button type="button" class="button-default" *ngIf="isSecondButtonVisible" style="display:inline-block; margin: 10px 10px" (click)="performSecondEvent()">
  {{ secondButtonText }}
</button>
