<div id="buttons-container" [ngClass]="{'left': position === 'left', 
              'center': position === 'center', 
              'right': position === 'right',
              'right-spacing-10': (spacing > 0 && spacing <= 10 && position !== 'right' && buttons.length > 1),
              'right-spacing-20': (spacing > 10 && spacing <= 20 && position !== 'right' && buttons.length > 1),
              'right-spacing-30': (spacing > 20 && spacing <= 30 && position !== 'right'),
              'left-spacing-10': (spacing > 0 && spacing <= 10 && position === 'right'),
              'left-spacing-20': (spacing > 10 && spacing <= 20 && position === 'right'),
              'left-spacing-30': (spacing > 20 && spacing <= 30 && position === 'right'),
              'bottom-0': (bottom == 0)
            }">
  <button *ngFor="let button of buttons; let i = index" [disabled]="button.disabled || (disabled && !button.override)"
    [type]="button.type" [class]="button.cssClass" (click)="button.action(i)" 
    [ngStyle]="{'display': button.hidden ? 'none' : '',
                'margin-left': button.left ? button.left+'px' : '',
                'margin-right': button.right ? button.right+'px' : ''
          }">
    {{ button.text }}
  </button>
</div>