<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>
<br />
<label class="c-title-md"> Email Template </label><br>
<div class="row">
  <div class="col-sm-6">
    <form novalidate (ngSubmit)="save()" [formGroup]="emailTemplateForm">
      <div class="form-group">
        <label class="form-label"> Name </label>
        <input class="form-control custom-form-control" type="text" placeholder=" " formControlName="name"
          [ngClass]="{'is-invalid': (emailTemplateForm.get('name').touched || emailTemplateForm.get('name').dirty) && !emailTemplateForm.get('name').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a name </h5>
        </span>
        <br><br>
        <label class="form-label"> Subject </label>
        <input class="form-control custom-form-control" type="text" placeholder=" " formControlName="subject"
          [ngClass]="{'is-invalid': (emailTemplateForm.get('subject').touched || emailTemplateForm.get('subject').dirty) && !emailTemplateForm.get('subject').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a Subject </h5>
        </span>
        <br><br>
        <label class="form-label"> Body </label>
        <ejs-richtexteditor (change)="toggleButton($event)" type="text" placeholder=""
          formControlName="body" [toolbarSettings]='tools' id='customRTE' #customRTE (created)='onCreate()'
          [ngClass]="{'is-invalid': (emailTemplateForm.get('body').touched || emailTemplateForm.get('body').dirty) && !emailTemplateForm.get('body').valid }">
        </ejs-richtexteditor>
        <br><br>
        <app-buttons [buttons]="buttons" spacing="30" (actions)="buttonActions($event)"></app-buttons>
        <br />
      </div>
    </form>
  </div>
</div>