<div class="works-container">
  <app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" (navigate)="switchBreadCrumbs($event)" [hideStroke]="false"
    [lastBreadcrumb]="lastBreadcrumb" [showDateFilter]="true" (dateChange)="onDateChanged($event)">
  </app-breadcrumb>
  <br />

  <div>
    <div class="row toolbar">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <app-toolbar [selectionText]="''" [toolbar]="toolbarItems" [showStatusIcons]="true">
        </app-toolbar>
      </div>
    </div>
  </div>

  <app-list #list [dataSource]="works" [columns]="columns" height="500" showDetail="true"
    [allowReordering]="true" [allowResizing]="true" (advance)="advance($event)" [allowFiltering]="true"
    [allowSearch]="true" [allowGridPaging]="true" pageSize="25" [pageSizes]="pageSizes" (edit)="edit($event)">
  </app-list>
</div>