<div [formGroup]="group">
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'filter'">
      <label class="custom-label-md">{{ config.label | uppercase }}</label>
      <div>
        <ejs-datetimepicker #dateRange id="dateRange" class="form-control custom-form-control-sm col-md-12"
          placeholder='Select a date and time' (change)="onAddTag($event)">
        </ejs-datetimepicker>
      </div>
    </div>
  </div>
</div>
<br />