<div [formGroup]="group">
  <div class="dynamic-select" [ngSwitch]="mode">
    <div class="default" *ngSwitchCase="'default'">
      <span class="form-label">{{ config.label }}<i *ngIf="config.required"> * </i></span>
      <table width="100%">
        <tr>
          <td>
            <ejs-dropdownlist class="form-control custom-form-control" [dataSource]='config.options' [fields]='fields'
              [(value)]="config.value" [formControlName]="config.name" [showClearButton]="true"
              [placeholder]="config.placeholder || ''" [enabled]="!config.isNested || config.isEnabled"
              (change)="changeEvent(config)">
            </ejs-dropdownlist>
          </td>
          <td *ngIf="enableRequiredSetting" width="20%" [align]="'center'">
            <ejs-checkbox label="Required" [checked]="config.required" cssClass="e-small"
              (change)="requiredEvent(config)"></ejs-checkbox>
          </td>
          <td *ngIf="allowDeleting" [width]="allowSorting ? '5%' : '10%'" [align]="'center'">
            <img src="./assets/images/icon-trash.svg" height="18" (click)="deleteEvent(config)">
          </td>
          <td class="upload-icon" *ngIf="config.allowDocumentUpload" [ngClass]="{'disabled': !config.value}" width="10%"
            [align]="'center'" (click)="onUpload(config)">
            <img src="./assets/images/icon-upload.svg" height="18">
          </td>
          <td *ngIf="allowSorting" width="10%" [align]="'center'">
            <img id="sort-down" class="c-sort-icon" src="./assets/images/icon-down.svg" height="28" width="28"
              (click)="sortEvent('down')" name="c-sort-down">
            <img id="sort-up" class="c-sort-icon" src="./assets/images/icon-up.svg" height="28" width="28"
              (click)="sortEvent('up')" name="c-sort-up">
          </td>
        </tr>
      </table>
      <ng-container *ngFor="let validation of config.validations;">
        <label class="form-description"
          *ngIf="group.get(config.name).hasError(validation.name) && (group.get(config.name).touched || group.get(config.name).dirty)">
          {{validation.message}}
        </label>
      </ng-container>
    </div>
    <div *ngSwitchCase="'filter'">
      <label class="custom-label-md">{{ config.label | uppercase }}</label>
      <div>
        <ejs-dropdownlist #filterSelect class="form-control custom-form-control-sm" [dataSource]='config.options'
          [fields]='fields' [formControlName]="config.name" [placeholder]="config.placeholder || ''"
          [enabled]="!config.isNested || config.isEnabled" (change)="onAddTag($event)">
        </ejs-dropdownlist>
      </div>
    </div>
    <div *ngSwitchCase="'folder-metadata'">
      <label class="form-label">{{ config.label }}</label>
      <table width="100%">
        <tr>
          <td width="60%">
            <ejs-dropdownlist class="form-control custom-form-control" [dataSource]='config.options' [fields]='fields'
              [(value)]="config.value" [formControlName]="config.name" placeholder="" [showClearButton]="true"
              [enabled]="!config.isNested || config.isEnabled" (change)="changeEvent(config)">
            </ejs-dropdownlist>
          </td>
          <td width="20%" [align]="'center'">
            <ejs-checkbox label="Required" [checked]="config.required" cssClass="e-small"
              (change)="requiredEvent(config)"></ejs-checkbox>
          </td>
          <td width="5%" [align]="'center'">
            <img src="./assets/images/icon-trash.svg" height="18" (click)="deleteEvent(config)">
          </td>
          <td width="15%" [align]="'center'">
            <img id="sort-down" class="c-sort-icon" src="./assets/images/icon-down.svg" height="28" width="28"
              (click)="sortEvent('down')" name="c-sort-down">
            <img id="sort-up" class="c-sort-icon" src="./assets/images/icon-up.svg" height="28" width="28"
              (click)="sortEvent('up')" name="c-sort-up">
          </td>
        </tr>
      </table>
    </div>
    <div *ngSwitchCase="'modal'">
      <div class="row pt-3">
        <div class="col-md-4">
          <label class="media-label pt-3"> {{ config.label }}:<i *ngIf="config.required"> * </i> </label>
        </div>
        <div class="col-md-8">
          <ejs-dropdownlist class="form-control custom-form-control" [ngClass]="{'disabled': config.disabled}"
            [enable]="config.disabled" [dataSource]='config.dataSource || config.options' [fields]='config.fields'
            [(value)]="config.value" [formControlName]="config.name" [showClearButton]="true"
            [placeholder]="config.placeholder || ''" (change)="changeEvent(config)">
          </ejs-dropdownlist>
          <ng-container *ngFor="let validation of config.validations;">
            <label class="form-description"
              *ngIf="group.get(config.name)?.hasError(validation.name) && (group.get(config.name)?.touched)">
              {{validation.message}}
            </label>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'unique'" style="margin: 0px 16px">
      <label style="display: inline-block" class="form-label">{{ config.label }}</label>
      <table width="100%">
        <tr>
          <td width="80%">
            <ejs-dropdownlist class="form-control custom-form-control disabled" [formControlName]="config.name"
              [enable]="false">
            </ejs-dropdownlist>
          </td>
          <td width="10%" [align]="'center'">
            <ejs-checkbox [checked]="config.unique" [disabled]="disabled || config.uniqueDisabled" cssClass="e-small"
              (change)="uniqueEvent()">
            </ejs-checkbox>
          </td>
          <td width="10%" [align]="'center'">
            <img src="./assets/images/icon-trash.svg" *ngIf="!disabled" height="18"
              (click)="!disabled && deleteEvent(config)">
          </td>
        </tr>
      </table>
    </div>
    <div *ngSwitchCase="'full'" style="margin: 0px 16px">
      <table width="100%">
        <tr>
          <td width="50%">
            <label style="display: inline-block" class="form-label">{{ config.overrideLabel || config.label }}</label>
            <img id="pencil" *ngIf="!disabled" src="./assets/images/icon-pencil.svg" width="14"
              (click)="labelChangeEvent(config)">
            <div *ngIf="config.overrideLabel" class="float-right" style="display: inline-flex">
              <img id="revert" *ngIf="!disabled" src="./assets/images/icon-revert.svg" width="18"
                (click)="revertLabelEvent(config)">
              <i style="text-decoration: line-through" class="form-label"> {{ config.label }} </i>
            </div>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <ejs-dropdownlist class="form-control custom-form-control disabled" [formControlName]="config.name"
              [enable]="false">
            </ejs-dropdownlist>
          </td>
          <td width="10%" [align]="'center'">
            <ejs-checkbox [checked]="config.editable" [disabled]="disabled" cssClass="e-small"
              (change)="editableEvent(config)">
            </ejs-checkbox>
          </td>
          <td width="10%" [align]="'center'">
            <ejs-checkbox [checked]="config.required" [disabled]="disabled || !config.editable" cssClass="e-small"
              (change)="requiredEvent(config)">
            </ejs-checkbox>
          </td>
          <td width="10%" [align]="'center'">
            <ejs-checkbox [checked]="config.allowDocumentUpload" [disabled]="disabled" cssClass="e-small"
              (change)="allowDocumentEvent(config)">
            </ejs-checkbox>
          </td>
          <td width="10%" [align]="'center'">
            <img src="./assets/images/icon-trash.svg" *ngIf="!disabled" height="18" (click)="deleteEvent(config)">
          </td>
          <td width="10%" [align]="'center'">
            <img id="sort-down" class="c-sort-icon" *ngIf="!disabled" src="./assets/images/icon-down.svg" height="28"
              width="28" (click)="sortEvent('down')" name="c-sort-down">
            <img id="sort-up" class="c-sort-icon" *ngIf="!disabled" src="./assets/images/icon-up.svg" height="28"
              width="28" (click)="sortEvent('up')" name="c-sort-up">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>