.live-chart-container {
  border-radius: 4px;
  box-shadow: 0 0 13px 0 rgba(91, 127, 149, 0.25);
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
  padding: 14px 23px 
}

.title  {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #033b5c;
  padding: 10px 0 0 0;
}
.live-chart-dialog{
 
  float:right;
 
}

.livechat-calender {
  margin: 19px 0px 0px ;
  object-fit: contain;
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
}

.livechat-calender-title-container{
 display: flex;
 padding: 5px;
 justify-content: space-between;
}

.arrow-icon {
  padding: 11px;
  display: inline;
}
.livechat-calender-title-text{
   padding: 11px;
   font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.09px;
  text-align: center;
  color: #033b5c;
  display: inline-block;

  
}

th {
   border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
}
th > p{
  font-family: EMprint;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.09px;
  text-align: center;
  color: #5b7f95;
  margin: 0px;
  padding : 0px;
}
td{
  border: dotted 1px rgba(91, 127, 149, 0.25);
}
.timeline-color{
  z-index: 3;
  width: 110px;
  height: 12.6px;
  border-radius: 2px;
  background-color: #7bc42b;
  position: absolute;
  opacity: 0.8;
  margin-left: 5px;
}

tr > th {
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  color: #5b7f95;
}