<app-breadcrumb [breadCrumbs]="breadcrumbs" (navigate)="switchBreadCrumbs($event)"></app-breadcrumb>

<app-tabs [tabs]="mediaItemTabs" (navigate)="switchTabs($event)"></app-tabs>
<router-outlet></router-outlet>