.map-default-button {
    /* padding: 11px 20px; */
    border-radius: 2px;
    border: solid 1px #0097a9;
    background-color: #0097a9;
    font-family: "Open Sans", sans-serif;
    font-size: 14px !important;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #fff;
}
