<div class="col-md-11" style="margin: 15px 50px 50px 50px">
  <div style="height:3.5em">
    <label *ngIf="isFetchingLabel" class="c-toolbar-label">Fetching data...</label>
    <label *ngIf="filterResultLabel" class="c-toolbar-label">Your result is more than 1000. Filter to get required
      result to display.</label>
    <button ejs-button class="map-default-button float-right" (click)="applyMapFilter()">
      Apply Map View
    </button>
  </div>
  <div id='map' leaflet style="height: 70vh;" [leafletOptions]="options" [leafletBaseLayers]="baseLayers"
    [leafletLayersControlOptions]="layersControlOptions" [leafletMarkerCluster]="markerClusterData"
    [leafletMarkerClusterOptions]="markerClusterOptions" (leafletMarkerClusterReady)="markerClusterReady($event)"
    (leafletMapMoveEnd)="handleMapMoveEnd($event)">
  </div>
</div>