.button-no-outline {
  margin-left: 12px;
}

.c-toolbar-status {
  margin-left: 18px;
  cursor: default;
}

.c-icon-export {
  margin: -3px 5px 0 25px;
}

.status-container {
  display: flex;
}

.status-container div {
  margin-right: 12px;
}

.status-container div label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
}