<span *ngIf="showTotal">
  <label class="c-toolbar-label"> {{ totalText }}: {{ totalValue }} </label>
</span>
<span *ngIf="allowExport">
  <img class=" c-icon-export" src="./assets/images/icon-export-excel.svg" width="20" alt="" />
  <button class="c-toolbar-label" (click)="exportExcel()">
    {{ exportText }}
  </button>
</span>

<span class="float-right" style="height: 27px;" *ngIf="toolbar">
  <div *ngIf="!showStatusIcons" [ngStyle]="{ 'margin-top': topMargin ? topMargin + 'px' : '' }">
    <div *ngIf="!isMapPage">
      <span class="c-toolbar-label" *ngIf="!hideSelectedText">
        {{ selectionText }}:
      </span>
      <button *ngFor="let item of toolbar; let i = index" class="button-no-outline" [ngClass]="item.cssClass"
        (click)="item.action ? item.action() : toolBarEvent(i)" [disabled]="item.disabled">
        {{ item.text }}
      </button>
    </div>
  </div>
  <div *ngIf="showStatusIcons && type === 'button'">
    <button *ngFor="let item of toolbar; let i = index" class="button-no-outline" [ngClass]="item.cssClass"
      (click)="item.action ? item.action() : toolBarEvent(i)" [disabled]="item.disabled">
      {{ item.text }}
      <img *ngIf="item.icon || item.visible" [ngClass]="item.iconCssClass" [src]="item.icon || ''" width="18"
        height="18" style="margin-right: 4px; margin-bottom: 3px;" />
      <div style="display: inline-block;" *ngIf="item.toggle">
        <ejs-switch [checked]="false"></ejs-switch>
      </div>
    </button>
  </div>
  <div class="status-container" *ngIf="showStatusIcons && type === 'label'">
    <div *ngFor="let item of toolbar; let i = index">
      <img *ngIf="item.icon || item.visible" [ngClass]="item.iconCssClass" [src]="item.icon || ''" width="18"
        height="18" style="margin-right: 4px; margin-bottom: 3px;" />
      <label [ngClass]="item.cssClass" (click)="item.action ? item.action() : toolBarEvent(i)">
        {{ item.text }}
      </label>
    </div>
  </div>
</span>