<div class="row">
  <div [ngClass]="{'col-md-12': !showDateFilter, 'col-md-10': showDateFilter}" style="align-self: flex-end">
    <ul class="nav" *ngIf="!enableBackRouting">
      <li *ngFor="let breadcrumb of breadCrumbs; let i = index">
        <a class="c-breadcrumb-link breadcrumb-link-qa"
          [ngClass]="{'c-breadcrumb-link-active active-breadcrumb-qa': i === (breadCrumbs.length - 1)}"
          (click)="breadcrumb.action ? breadcrumb.action(breadcrumb) : performNavigation(breadcrumb)">
          {{ breadcrumb.name }}</a>
        <img id="right-arrow" *ngIf="i !== (breadCrumbs.length - 1)" src="./assets/images/icon-24-arrow-right-blue.svg">
      </li>
    </ul>

    <ul id="back-container" class="nav" *ngIf="enableBackRouting">
      <li (click)="navigateBack(previousRoute)" class="back-qa">
        <img id="back-icon" src="./assets/images/icon-24-arrow-left-blue.svg" height="30">
        <span id="back-button">BACK</span>
      </li>
    </ul>
  </div>

  <div class="col-md-2" *ngIf="showDateFilter">
    <ejs-datepicker class="form-control custom-form-control date-filter" strictMode='true' placeholder="Date"
      format='MM/dd/yyyy' [value]="dateValue" (change)="onDateFilterChanged($event)">
    </ejs-datepicker>
  </div>
</div>

<hr *ngIf="!hideStroke" class="stroke" />