#right-arrow {
  margin-right: 9px;
  margin-left: 9px;
}

#back-container {
  margin-left: -7px !important;
}

#back-icon {
  transform: rotate(180);
  margin-left: 0px !important;
  margin-right: 9px;
  margin-bottom: 3px;
}

#back-button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: 0.6px;
  color: #0097a9;
  cursor: pointer;
}
