<app-breadcrumb [previousRoute]="previousRoute$ | async" [enableBackRouting]="true" (navigate)="onBack($event)">
</app-breadcrumb>

<app-multi-viewer *ngIf="type" [type]="type" [isWorkPlanning]="isWorkPlanning" [source]="url + sasToken"
  [name]="name">
</app-multi-viewer>

<br>
<br>

<div class="video-content">
  <div style="margin: 8px 10px">
    <span class="c-video-title">NAME: &nbsp; </span>
    <span class="c-video-info"> {{ name | uppercase }} </span>
    <img src="./assets/images/icon-download.svg" height="15" width="15" class="float-right" (click)="download(url)">
  </div>
  <div style="margin: 8px 10px">
    <span class="c-video-title"> LINK: &nbsp; </span>
    <span class="c-video-info"> {{ url + sasToken}} </span>
  </div>
  <div style="margin: 8px 10px">
    <span class="c-video-title">PROCESS: &nbsp; </span>
    <span class="c-video-info"> {{ currentProcess }} </span>
  </div>
  <div style="margin: 8px 10px">
    <span class="c-video-title">STEP: &nbsp; </span>
    <span class="c-video-info"> {{ currentStep }} </span>
  </div>
  <div style="margin: 8px 10px">
    <span class="c-video-title">FIELD NAME: &nbsp; </span>
    <span class="c-video-info"> {{ currentFieldName }} </span>
  </div>
</div>