<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-sm-6">
    <label class="c-title-md"> Metadata List Information </label><br>
    <form novalidate (ngSubmit)="save()" [formGroup]="metadataListForm">
      <div class="form-group">
        <label for="nameId" class="form-label">List Name</label>
        <input class="form-control custom-form-control" id="nameId" type="text" placeholder=" " formControlName="name"
          [ngClass]="{'is-invalid': (metadataListForm.get('name').touched ||
                                     metadataListForm.get('name').dirty) &&
                                     !metadataListForm.get('name').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a name </h5>
        </span>
        <br><br>
        <div *ngIf="showParentField">
          <label class="form-label"> Parent List </label>
          <input class="form-control custom-form-control" type="text" [value]="parentListName" [readonly]="true" />
        </div>
      </div><br><br>

      <app-buttons [buttons]="buttons" (actions)="buttonsClick($event)"></app-buttons>
    </form>
  </div>
  <div class="col-sm-6">
    <div class="control-section e-tab-section">
      <div class="e-sample-resize-container">
        <app-tabs [tabs]="metadataItemTabs"></app-tabs>
        <app-admin-metadata-list-items></app-admin-metadata-list-items>
      </div>
    </div>
  </div>
</div>