<div style="padding-top:2rem;padding-bottom: 2rem;">
	<button *ngIf="userPermission?.canEditBulkMetadata" class="button-plus-transparent float-right add-root-qa"
		(click)="addRootDirectory()">
		Add Root
	</button>
</div>

<div id='treeparent' style="padding-top:2rem;">
	<ejs-treeview id='tree' #treeview [fields]='field' [showCheckBox]='false' [allowDragAndDrop]='true'
		(dataBound)="dataBound($event)" (nodeEdited)="onNodeEdited($event)" (nodeDropped)="onNodeDropped($event)"
		(nodeExpanding)="onNodeExpanding($event)" (dataSourceChanged)="dataSourceChanged($event)">
	</ejs-treeview>

	<!-- <ejs-treeview #tree id='tree' [fields]='fields' [showCheckBox]='true' [allowDragAndDrop]='true'
		(dataBound)="dataBound($event)" (nodeEdited)="onNodeEdited($event)" (nodeDropped)="onNodeDropped($event)"
		(dataSourceChanged)="dataSourceChanged($event)">
	</ejs-treeview> -->
</div>

<ejs-contextmenu id='contentmenutree' *ngIf="userPermission?.canEditBulkMetadata" #contentmenutree target='#treeparent'
	[items]='menuItems' (select)='menuClick($event)'></ejs-contextmenu>

<app-modal #confirmModal type="confirm" title="Confirm Delete" message="Are you sure you want to delete this folder?"
	(yes)="deleteConfirmed()">
</app-modal>