<app-buttons [buttons]="buttons" position="right" [disabled]="(isReadOnlyMode$ | async)"></app-buttons>

<app-list [dataSource]="workTemplateProcesses$ | async" [columns]="columns" [rowLinkIndex]="0" [allowGridPaging]="true"
  (edit)="showProcessModal($event)">
</app-list>

<app-modal #processModal type="form" [title]="processModalTitle" [controls]="processControls"
  (submit)="saveProcess($event)">
</app-modal>

<app-modal #processDetailModal type="details-view" title="Process Details"></app-modal>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteProcess()">
</app-modal>