<div [formGroup]="group">
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'filter'">
      <label class="custom-label-md">{{ config.label | uppercase }}</label>
      <ejs-timepicker [formControlName]="config.name" [placeholder]='config.placeholder' step="60"
        class="form-control custom-form-control-sm" [strictMode]='true' (change)="onAddTag($event)">
      </ejs-timepicker>
    </div>
  </div>
</div>
<br />