<ejs-dialog #modal [visible]='false' [width]='width' [position]="modalPosition" isModal="true">
  <ng-template #content>
    <!-- Spinner Section -->
    <div id="modalSpinner"></div>
    <!-- Title Section -->
    <div>
      <img class="dialog-close" src="./assets/images/dialog-close.svg" (click)="closeDialog()" /><br>
      <label class="dialog-title"> {{ title }} </label>
      <hr *ngIf="title"><br *ngIf="title">
    </div>
    <!-- Content -->
    <div [ngSwitch]="type">
      <div *ngSwitchCase="'listview'">
        <ejs-listview #listview id="listview" [dataSource]='dataSource' [showCheckBox]='true' [fields]='fields'
          (select)="onRowSelect($event)">
        </ejs-listview><br>
        <button id="listview-save" class="button-round" [disabled]="selectedItems?.length === 0" (click)="onSave()">
          {{ saveText }}
        </button>
      </div>
      <div *ngSwitchCase="'multiselect-listview'">
        <ejs-listview #listview id="listview" [dataSource]='dataSource' cssClass='e-list-template'>
          <ng-template #template let-data>
            <div class="e-list-wrapper e-list-multi-line dialog-list" (click)="onRowSelected(data)"
              style="cursor: pointer;">
              <span [ngClass]="{'dialog-list-item-checked': data.isChecked, 'dialog-list-item': !data.isChecked}">
                {{ data.label || data['name'] }}
              </span>
              <img *ngIf="data.isChecked || data.isSelected"
                [src]="data.isSelected ? './assets/images/checkmark-yellow.svg' : './assets/images/checkmark.svg'"
                style="margin-top: 6px" class="float-right" />
            </div>
          </ng-template>
        </ejs-listview><br>
        <button id="listview-save" class="button-round" [disabled]="selectedItems?.length === 0"
          (click)="addSelectedRows()">
          {{ saveText }}
        </button>
      </div>
      <div *ngSwitchCase="'confirm'" class="text-center form-group">
        <span id="confirm-message">
          <label> {{ message }} </label>
        </span>
        <br><br>
        <app-buttons [buttons]="confirmButtons" spacing="30" (actions)="confirmButtonActions($event)">
        </app-buttons>
      </div>
      <div *ngSwitchCase="'form'" style="padding: 0 16px">
        <dynamic-form #dynamicForm="dynamicForm" [config]="controls" mode="modal" (submit)="formSubmit()">
        </dynamic-form>
        <br>
        <app-buttons [buttons]="buttons" position="center"
          [disabled]="!dynamicForm?.form?.dirty || !dynamicForm?.form?.valid"></app-buttons>
        <br>
      </div>
      <div *ngSwitchCase="'details-view'">
        <table width="100%" class="detail-table">
          <tr *ngFor="let detail of details;">
            <td width="50%" [align]="'right'">
              <label id="detail-name"> {{ detail.name }}: </label>
            </td>
            <td width="50%">
              <label id="detail-value"> {{ detail.value }} </label>
            </td>
          </tr>
        </table>
        <br>
      </div>
      <div *ngSwitchCase="'sort'">
        <ejs-listview #listview id="listview" [dataSource]='dataSource' cssClass='e-list-template'>
          <ng-template #template let-data>
            <div class="e-list-wrapper e-list-multi-line dialog-list" style="cursor: pointer;">
              <span class="dialog-list-item-checked">
                {{ data.name }}
              </span>
              <div class="float-right">
                <img src="./assets/images/icon-down.svg" class="sort-icon-round" width="28" (click)="sortDown(data)"
                  style="margin-right: 12px;" />
                <img src="./assets/images/icon-up.svg" class="sort-icon-round" width="28" (click)="sortUp(data)" />
              </div>
            </div>
          </ng-template>
        </ejs-listview><br>
        <button id="listview-save" class="button-round" [disabled]="!enableSortSave" (click)="onSaveSort()">
          {{ saveText }}
        </button>
      </div>
      <div *ngSwitchCase="'upload'" style="padding: 0 16px">
        <input type="file" id="file" #file style="display: none" [accept]="allowedFiles || '*'"
          (change)="onFileChosen()" />
        <button type="button" class="file-upload-button" (click)="chooseFile()">
          {{ fileSelectionButtonText }}
        </button>
        &nbsp;
        <span class="file-upload-label"> {{ selectedFile?.name }} </span>
        <br>
        <button id="listview-save" class="button-round" [disabled]="!selectedFile" (click)="onUpload()">
          UPLOAD
        </button>
        <br>
      </div>
      <div *ngSwitchCase="'collaboration-participants'" style="padding: 0 16px;"
        class="collaboration-participants-container">
        <div class="row">
          <div class="col-md-6">
            <div class="content">
              <p class="form-title-md" style="text-align: center;"> View Collaboration </p>
              <p> Current Participants </p>
              <br>
              <app-profile-view [profiles]="paginatedParticipants" type="modal" (select)="onParticipantRemoved($event)">
              </app-profile-view>
              <app-pager [pageCount]="3" [currentPage]="participantsCurrentPage" [pageSize]="participantsPageSize"
                [totalRecordsCount]="participantsTotalRecordsCount" (change)="onParticipantsPageChanged($event)">
              </app-pager>
            </div>
          </div>

          <div class="col-md-6">
            <div class="content">
              <p class="form-title-md" style="text-align: center;"> Add Participants </p>
              <input type="text" placeholder="Search" class="search-input"
                (input)="onUserFilterChanged($event.target.value)" (keyup.enter)="searchUser($event.target.value)">
              <br><br>
              <app-profile-view [profiles]="users" type="modal" [allowPagination]="true" [pageCount]="'3'"
                [pageSize]="'6'" [currentPage]="usersCurrentPage" [totalRecordsCount]="totalRecordsCount"
                (changePage)="onUsersPageChanged($event)" (select)="onUserAdded($event)">
              </app-profile-view>
            </div>
          </div>
        </div>
        <button class="button-round-lg" [disabled]="!canSaveParticipants" (click)="onSaveParticipants()">
          Save Changes
        </button>
        <br>
      </div>
      <div *ngSwitchCase="'live-stream'" style="padding: 0 16px">
          <div #player id="videoPlayer">
        </div>
        <ng-template appInsertion>

        </ng-template>
      </div>
    </div>
  </ng-template>
</ejs-dialog>