/* ListView */

.e-listview .e-list-item {
  background-color: #ffffff !important;
}

.e-listview .e-list-item:hover {
  background-color: #eaf1f2 !important;
}

.e-listview::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.e-listview::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.e-listview::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0097a9;
}

#listview {
  max-height: 240px;
}

#listview-save {
  width: 187px;
  height: 40px;
  margin: 20px auto;
  display: block;
}

/* Confirm */

#confirm-message {
  background: #fff;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

#confirm-message > label {
  line-height: 1.7em;
  margin-bottom: 0em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

#confirm-no {
  margin-left: 20px;
}

.detail-table {
  background: #fff;
}

.detail-table > tbody > tr:first-child > td > label {
  margin-top: 16px;
}

#detail-name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
  margin-bottom: 16px;
}

#detail-value {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0097a9;
  margin-left: 8px;
  margin-bottom: 16px;
}

/* SORT MODAL */

.sort-icon-round {
  border: 0.5px solid #0097a9 !important;
  padding: 6px !important;
  border-radius: 50% !important;
  margin-top: -4px;
}

.search-input {
  width: 100%;
  border: 1px rgb(143, 141, 141) solid !important;
  height: 35px;
  border-radius: 4px;
}

/* #region Collaboration Participants */

.collaboration-participants-container > div {
  display: flex;
  justify-content: space-evenly;
}

.collaboration-participants-container .col-md-6:first-child {
  border-right: solid 1px rgba(91, 127, 149, 0.25);
  justify-content: center;
  display: flex;
}

.collaboration-participants-container
  .col-md-6:first-child
  div
  p:nth-of-type(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
  text-align: center;
  color: #033b5c;
}

.collaboration-participants-container .col-md-6:nth-child(2) {
  justify-content: center;
  display: flex;
}

.collaboration-participants-container .col-md-6 .content {
  padding: 0% 15%;
  width: 100%;
}

.collaboration-participants-container .search-input {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  height: 30px;
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
  letter-spacing: -0.24px;
  color: #033b5c;
}

.collaboration-participants-container .profile-cards {
  padding: 0% 15%;
}

.collaboration-participants-container .button-round-lg {
  width: 308px;
  margin: 20px auto;
  display: block;
  letter-spacing: -0.29px;
}

/* #endregion */
