<div class="row" style="margin-bottom: 10px">
  <div class="col-md-4" style="align-self: flex-end">
    <div class="e-control e-textbox e-lib">
      <div class="e-float-input e-control-wrapper e-input-group" style="margin-bottom: 0px">
        <input #nameInput [value]="searchName" id="nameInput" class="e-control e-textbox e-lib e-name search-textbox-qa"
          type="text" placeholder="Name" (keypress)="searchName = nameInput.value" />
        <span [ngStyle]="{ display: searchName !== '' ? 'block' : 'none' }"
          (click)="nameInput.value = ''; searchName = ''" class="e-icons e-close"></span>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="align-self: flex-end">
    <ejs-dropdownlist #groupSelect name="group" id="groupDropdown" *ngIf="!isUnassignedUsers" [fields]="groupFields"
      [(value)]="groupid" class="custom-ddl group-dropdown-qa" [showClearButton]="true" [dataSource]="groups$ | async"
      placeholder="Select">
    </ejs-dropdownlist>
  </div>
  <div class="col-md-4" style="align-self: flex-end">
    <span class="float-right">
      <button class="omv-green search-button-qa" (click)="search()">
        Search
      </button>
      <button class="button-plus add-new-user-button-qa" (click)="addNewUser()">
        Add New User
      </button>
    </span>
  </div>
</div>
<br />

<app-list #usersList [dataSource]="users" [columns]="columns" [initialRecords]="selectedUserIds" [checkField]="'id'"
  [toolbar]="toolbar" showTotal="true" totalText="Total Users" [allowPaging]="true" [autoPagination]="false"
  [pageSize]="pageSize" [pageCount]="pageCount" [totalRecordsCount]="totalUsers" (changePage)="paginationEvent($event)"
  (rowSelected)="rowSelectedEvent($event)" (rowDeselected)="rowDeselectedEvent($event)" (edit)="editUser($event)"
  exportText="Export" [allowExport]="true" (export)="exportToExcel()">
</app-list>

<app-modal #listviewModal type="listview" title="Assign Users to Groups" [dataSource]="groups$ | async"
  [fields]="groupFields" saveText="SAVE" (rowSelected)="modalRowSelected($event)" (save)="saveGroups()"
  (close)="clearGroupSelection()">
</app-modal>