#nameInput {
  font-size: 16px;
  color: #5b7f95;
}

.e-close {
  color: gray;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  margin-left: -20px;
  cursor: pointer;
}

.e-close:before {
  content: "\e932";
}
