#header-table {
  height: 40px; 
  background: #00263e;
  line-height: 40px;
  border-radius: 4px;
  margin: 0px;
}

#header-table td {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.left {
  margin-left: 16px !important;
}

.center {
  text-align: center;
}