<div [formGroup]="group">
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'unique'">
      <table id="header-table" width="100%">
        <tr>
          <td width="75%">
            <span class="left"> Form Field </span>
          </td>
          <td width="10%" [align]="'center'">
            <span class="center"> Unique </span>
          </td>
          <td width="10%" [align]="'center'">
            <span> Actions </span>
          </td>
        </tr>
      </table>
    </div>
    <div *ngSwitchCase="'full'">
      <table id="header-table" width="100%">
        <tr>
          <td>
            <span class="left"> Form Field </span>
          </td>
          <td width="10%" [align]="'center'">
            <span class="center"> Editable </span>
          </td>
          <td width="10%" [align]="'center'">
            <span class="center"> Required </span>
          </td>
          <td width="10%" [align]="'center'">
            <span class="center"> Document </span>
          </td>
          <td width="10%"></td>
          <td width="10%"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>