<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-sm-6">
    <label class="c-title-md">User Information</label><br>
    <form novalidate (ngSubmit)="save()" [formGroup]="userForm">
      <div class="form-group">
        <label for="nameId" class="form-label">First Name</label>
        <input class="form-control custom-form-control first-name-textbox-qa" id="firstNameId" type="text"
          placeholder="" formControlName="firstName" [ngClass]="{'is-invalid': (userForm.get('firstName').touched ||
                                      userForm.get('firstName').dirty) &&
                                      !userForm.get('firstName').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a name </h5>
        </span>
      </div><br>
      <div class="form-group">
        <label for="nameId" class="form-label">Last Name</label>
        <input class="form-control custom-form-control last-name-textbox-qa" id="nameId" type="text" placeholder=""
          formControlName="lastName" [ngClass]="{'is-invalid': (userForm.get('lastName').touched ||
                                      userForm.get('lastName').dirty) &&
                                      !userForm.get('lastName').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a name </h5>
        </span>
      </div><br>
      <div class="form-group" class="form-label">
        <label for="nameId" class="form-label">User Name</label>
        <input class="form-control custom-form-control user-name-textbox-qa" id="userNameId" type="text" placeholder=""
          formControlName="userName" [ngClass]="{'is-invalid': (userForm.get('userName').touched ||
                                      userForm.get('userName').dirty) &&
                                      !userForm.get('userName').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a name </h5>
        </span>
      </div><br>
      <div class="form-group">
        <label class="form-label">Email Address</label>
        <input class="form-control custom-form-control email-textbox-qa" id="emailAddressId" type="email" placeholder=""
          formControlName="emailAddress" [ngClass]="{'is-invalid': (userForm.get('emailAddress').touched ||
                                      userForm.get('emailAddress').dirty) &&
                                      !userForm.get('emailAddress').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a valid email address. </h5>
        </span>
      </div>
      <br><br>
      <app-buttons [buttons]="buttons" (actions)="buttonsClick($event)"></app-buttons>
    </form>
  </div>
  <div class="col-sm-6" *ngIf="userId">
    <div class="control-section e-tab-section">
      <div class="e-sample-resize-container">
        <app-tabs [tabs]="tabs"></app-tabs>
        <app-admin-user-groups></app-admin-user-groups>
      </div>
    </div>
  </div>
</div>