.item-chart-card-container {
  cursor: default;
}
.item-chart-card-container .title {
  font-size: 18px;
  letter-spacing: normal;
  text-align: center;
  color: #0097a9;
  cursor: pointer;
}
.e-card .e-card-content {
  padding: 0px !important;
  height: 17.3em !important;
}
.item-chart-card-container .title:hover {
  text-decoration: underline;
}

.item-chart-card-container .content {
  height: auto;
  padding: 0;
}

.item-chart-card-container .content-around {
  justify-content: space-between;
}
button {
  width: 103px;
  height: 32px;
  object-fit: contain;
  border-radius: 5px;
  border: solid 1px #00263e;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #00263e ;
  float: right;
  margin-right: 7px;
}
.item-chart-card-container .oneCycle {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 5em;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.item-chart-card-container .twoCycles {
  position: relative;
  top: 5em;
}

.item-chart-card-container .e-card:hover {
  border-color: white;
}

.item-chart-card-container a:hover {
  text-decoration: none;
}

.content-around tbody {
  display: block !important;
  max-height: 500px !important;
  overflow-y: scroll !important;
}

.content-around thead,
tbody tr {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
}

.active {
  border: 2px solid #0097a9;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #deeff3;
}



.content-around tbody::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.content-around tbody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.content-around tbody::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #033b5c;
}
.content-around tbody ul::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}
.content-around tbody ul::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}
.content-around tbody::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #033b5c;
}
/* .table-body>.e-ul {
    overflow: initial !important;
  } */

.content-around table tr th {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  border-style: solid;
  border-width: 0;
  height: 42px;
  padding: 0 21px;
  text-align: left;
  vertical-align: middle;
  color: #eaf1f2;
  background-color: #00263e;
  cursor: default;
  text-align: center;
}

.content-around table tr th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content-around table tr th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.content-around table tr td {
  font-family: "Open Sans", sans-serif;
  border-style: solid;
  border-width: 1px 0 0;
  display: table-cell;
  font-size: 12px;
  line-height: 20px;
  padding: 8px 21px;
  width: auto;
  color: #033b5c;
  cursor: pointer;
  text-align: center;
}
