<div class="item-chart-card-container">
  <a tabindex="0" class="e-card card " id="basic">
    <div tabindex="0" class="e-card" id="basic_card">
      <div class="e-card-content" style="height: 24.5em;">
        <div class="title"></div>
        <div class="content">
          <!--  -->
          <div class="row content-around">
            <table class="table table-striped table-hover">
              <thead>
                <tr style="border-radius: 5px;">
                  <th scope="col" style="text-align: left; font-weight: 900; font-size: 15px !important;">
                    {{tableData.asset}}
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr style="border-radius: 5px;">
                  <th scope="col">
                  </th>
                  <th scope="col" style="color: #00263e !important;" *ngFor="let cycle of tableData.cycles; let i = index;">
                    {{cycle.cycle}}
                  </th>
                </tr>
                <tr *ngFor="let cycleData of data;">
                  <td scope="col" style="text-align: left; font-size: 13px; font-weight: 600;">
                    {{ cycleData.label }}
                  </td>
                  <td scope="row" *ngFor="let cycle of tableData.cycles">
                    {{ cycleData.totalCompleted }} / {{ cycleData.total }}
                  </td>
                </tr>
                <tr>
                  <td scope="col" style="text-align: left; font-size: 13px; font-weight: 600;">
                    Days Left</td>
                  <td *ngFor="let cycle of tableData.cycles; let i = index;">
                    13
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--  -->
          <div>
            <button>Findings</button>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>