.check-container {
  margin-top: 12px;
}

.c-check-work-planning {
  padding: 8px 44px;
}

.c-delete-work-planning {
  padding: 3px 44px;
}

#delete {
  margin-top: 8px;
}

#sort-down {
  margin-right: 8px;
}

#pencil {
  margin: 0px 0px 6px 16px;
}

#revert {
  margin-right: 10px;
}