.video {
  width: 100%;
  height: 161px;
  border: solid 1px rgba(91, 127, 149, 0.25);
}

.video-container {
  width: 100%;
  height: 100%;
}

.live-stream-text {
  width: 102px;
  height: 16px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  color: #5b7f95;
  margin-bottom: 0;
}

/* slider */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #ABDCE3;
    border-radius: 15px;
  }
  input[type='range']::-webkit-slid#0097A9er-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 15px;
    cursor: pointer;
    box-shadow: -100vw 0 0 100vw #0097A9;
    background: #fff;
    z-index: 1;
    border-radius: 25px;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  cursor: pointer;
  border-style: solid;
  border-color: #0097A9;
  box-shadow: #0097A9l
}

input[type="range"]::-moz-range-progress {
  background-color: #0097A9;
  height: 10px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  background-color: #ABDCE3;
  height: 10px;
  border-radius: 5px;
}

/* IE*/

input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
  height: 10px;
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

.live-chart-container {
  border-radius: 4px;
  box-shadow: 0 0 13px 0 rgba(91, 127, 149, 0.25);
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
  padding: 14px 23px
}

.title {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #033b5c;
  padding: 10px 0 0 0;
}

.live-chart-dialog {
  float: right;
}

.livechat-calender {
  margin: 19px 0px 0px;
  object-fit: contain;
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #e4f0f1;
}

.livechat-calender-title-container {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.arrow-icon {
  padding: 11px;
  display: inline;
}

.livechat-calender-title-text {
  padding: 11px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.09px;
  text-align: center;
  color: #033b5c;
  display: inline-block;
}

th {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

th>p {
  font-family: EMprint;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.09px;
  text-align: center;
  color: #5b7f95;
  margin: 0px;
  padding: 0px;
}

td {
  border: dotted 1px rgba(91, 127, 149, 0.25);
}

.timeline-color {
  z-index: 3;
  width: 110px;
  height: 12.6px;
  border-radius: 2px;
  background-color: #7bc42b;
  position: absolute;
  opacity: 0.8;
  margin-left: 5px;
}

tr>th {
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  color: #5b7f95;
}

.arch-play-button {
  padding: 5px 10px 5px 10px;
}

.archive-text {
  display: inline-block;
  padding: 0px 0px 0px 40px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  text-align: center;
  color: #033b5c;
}
.archive-action-text{
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  text-align: right;
  color: #0097a9;
  cursor: pointer;
}
.vl {
  border-left: 2px solid #0097a9;
  
}