<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3 " *ngFor="let record of data; let i = index">
      <p class="live-stream-text">Camera feed {{i + 0}}</p>
      <video
        [id]="record.id"
        class="video video-js vjs-default-skin vjs-ascribe"
        autoplay
        width="100%"
        height="100%"
        src="{{record.url}}"
        poster="data.poster"
        preload="auto"
      ></video>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <div class="stream-controls">
        <img
          height="14px"
          [src]="seekModebackImg"
          class="ic_skip_next_24px-copy"
        />
        <img class="arch-play-button" />
        <img
          srcset="
            img/ic-skip-next-24-px-copy@2x.png 2x,
            img/ic-skip-next-24-px-copy@3x.png 3x
          "
          class="ic_skip_next_24px-copy"
        />
        <p class="archive-text">11:0 Am to 12:00pm</p>
        <!-- <p class="archive-action-text pull-right">Expand</p> -->
        <input
          style="display:inline;"
          #livestreamSeeker
          type="range"
          min="1"
          max="100"
          value="50"
          class="slider"
          style="height: 9px; width:100%"
          id="myRange"
        />
        <div class="vl"></div>
      </div>
      <div class="live-chat live-chat-table-container">
        <table class="table no-border ">
          <thead>
            <tr>
              <th scope="col"></th>
              <th
                scope="col"
                *ngFor="let hoursMeridian of dailyTime; let i = index"
                (click)="navigate(i)"
              >
                <p>{{hoursMeridian.hour}}</p>
                <p>{{hoursMeridian.meridiem}}</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Camera 1</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
