<div class="row">
  <div class="pb-3 col-md-12">
    <span class="pt-3">
      <button class="button-plus float-right" (click)="addNewRule()">
        Add New Rule
      </button>
    </span>
  </div>
</div>

<app-list [dataSource]="rules$ | async" [columns]="columns"></app-list>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteRule()">
</app-modal>