<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-sm-6">
    <label class="c-title-md"> Processing Rule Information </label><br>
    <form novalidate (ngSubmit)="saveRule()" [formGroup]="ruleForm">
      <div class="form-group">
        <label class="form-label"> Rule Name </label>
        <input class="form-control custom-form-control" type="text" placeholder="" formControlName="name"
          [ngClass]="{'is-invalid': (ruleForm.get('name').touched || ruleForm.get('name').dirty) && !ruleForm.get('name').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a name </h5>
        </span>
      </div><br>
      <div class="form-group">
        <label class="form-label"> Class </label>
        <input class="form-control custom-form-control" type="text" placeholder="e.g Namespace.ClassName"
          formControlName="class"
          [ngClass]="{'is-invalid': (ruleForm.get('class').touched || ruleForm.get('class').dirty) && !ruleForm.get('class').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a class name </h5>
        </span>
      </div><br>
      <div class="form-group">
        <label class="form-label"> File </label>
        <input type="file" accept=".dll" id="file" #file style="display: none" (change)="onFileChosen()" />
        <button type="button" class="file-upload-button" (click)="chooseFile()"
          [ngClass]="{'is-invalid': isFileTouched && !selectedFile }">
          <!-- {{ fileSelectionButtonText }} -->
          {{ isEdit ? 'CHANGE' : 'BROWSE' }}
          <!-- {{ selectedFiles?.length > 0 ? 'Change File(s)' : 'Attach File(s)' }} -->
        </button>
        &nbsp;
        <span class="file-upload-label"> {{ selectedFile?.name }} </span>
        <span class="invalid-feedback">
          <h5 class="form-description"> Please choose a file </h5>
        </span>
      </div><br>
      <div class="form-group">
        <label for="nameId" class="form-label"> Approval Group </label>
        <ejs-dropdownlist #approvalGroups formControlName="approvalGroupId" class="form-control custom-form-control"
          [dataSource]='groups$ | async' [placeholder]="'Select'" [fields]='groupFields'
          [ngClass]="{'is-invalid': ruleForm.get('approvalGroupId').touched && ruleForm.get('approvalGroupId').dirty && !ruleForm.get('approvalGroupId').valid }">
        </ejs-dropdownlist>
        <span class="invalid-feedback">
          <h5 class="form-description"> Please select a group for approval </h5>
        </span>
      </div><br>
      <br>
      <br>
      <button type="submit" class="button-round" [disabled]="!ruleForm.valid || !ruleForm.dirty">
        SAVE RULE
      </button>
      <button type="button" class="c-button-cancel-outline-none" (click)="cancel()">
        Cancel
      </button>
    </form>
  </div>
</div>