<app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" (navigate)="switchBreadCrumbs($event)" [hideStroke]="true">
</app-breadcrumb>

<div class="row">
  <div class="col-xl-10 col-lg-12">
    <app-tabs [tabs]="tabs" (navigate)="switchTabs($event)" (routeChange)="onRouteChange($event)"></app-tabs>
  </div>
  <div class="col-xl-2 col-lg-6">
    <table width="100%" style="margin-top: 4px;">
      <tr>
        <td width="40%">
          <span class="form-label"> Version: </span>
        </td>
        <td width="60%">
          <ejs-dropdownlist class="form-control custom-form-control-sm" [dataSource]='versions$ | async' [fields]='versionFields'
            [(value)]='selectedVersion' (change)="versionChanged($event)">
          </ejs-dropdownlist>
        </td>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>