.button-round {
    width: 187px;
    height: 40px;
  }
  
  .button-round:hover {
    background: #FFF !important;
    border: 1px solid #0097A9 !important;
    color: #0097A9 !important;
  }
  
  #button-cancel {
    margin-left: 30px;
  }