<app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" (navigate)="switchBreadCrumbs($event)"></app-breadcrumb>


<div class="container">
    <div class="c-header-buttons" style="text-align: right;">
        <button (click)="showSaveToFavoritesModal()" [disabled]="liveStreams.length < 2" class="c-button-add add-field-button-qa"> Save to “Favorites” </button>
      </div>
      
  <div class="row">
    <div class="col-md-12"
      [ngClass]="{'col-md-12': liveStreams?.length === 1, 'col-md-6': (liveStreams?.length > 1 && liveStreams?.length < 8) }"
      *ngFor="let video of liveStreams; let i = index" style="padding-bottom:15px">
      <div [id]="'player_' + video.id" style="width:100%; height:0; padding:0 0 56.25% 0"></div>
      <div class="text-center mt-2"><b>{{video.name}}</b></div>
    </div>
  </div>
</div>
<app-modal #saveToFavoritesModal type="form" title="Save To Favorites" [controls]="favoriteName"
  (submit)="saveToFavorites($event)">
</app-modal>