<div style="width: 100%">
  <div *ngIf="(deviceWidth$ | async) <= 800" (click)="showAdminNav()" class="mobileAdminNav">Admin Menu</div>

  <div [ngClass]="{'mobile-section': (deviceWidth$ | async) <= 800 && isAdminNavActive === true,
                    'sidebar-section': (deviceWidth$ | async) > 800}" style="display: none">
    <div class="bg-light border-right">
      <div class="list-group list-group-flush">
        <button class="c-leftnav-link" (click)="setActiveTab(dashboardLink)"
          [ngClass]="{'c-leftnav-link-active': isDashboardActive}">
          Admin Dashboard
        </button>
        <button class="c-leftnav-menu" (click)="mediaMenuClicked()"
          [ngClass]="{'c-leftnav-menu-active': isMediaMenuOpen}">
          Media
        </button>
        <div [ngClass]="{'m-fadeIn': isMediaMenuOpen, 'm-fadeOut': !isMediaMenuOpen}">
          <ul>
            <li class="c-leftnav-submenu" (click)="setActiveTab(newMediaUploadsLink)"
              [ngClass]="{'c-leftnav-submenu-active': isMediaUploadsActive}">
              Uploads
            </li>
            <li class="c-leftnav-submenu" (click)="setActiveTab(processingRulesLink)"
              [ngClass]="{'c-leftnav-submenu-active': isProcessingRulesActive}">
              Processing Rules
            </li>
            <li class="c-leftnav-submenu" *ngIf="userPermission?.canUploadBulkMedia"
              (click)="setActiveTab(bulkploaderLink)" [ngClass]="{'c-leftnav-submenu-active': isBulkUploaderActive}">
              Bulk Uploader
            </li>
            <li class="c-leftnav-submenu" (click)="setActiveTab(folderStructureLink)"
              [ngClass]="{'c-leftnav-submenu-active': isMediaFolderStructureActive}">
              Folder Structure
            </li>
          </ul>
        </div>
        <button class="c-leftnav-menu" (click)="metadataMenuClicked()"
          [ngClass]="{'c-leftnav-menu-active': isMetadataMenuOpen}">
          Metadata
        </button>
        <div class="content" *ngIf="isMetadataMenuOpen">
          <ul>
            <li class="c-leftnav-submenu" (click)="setActiveTab(metadataFieldsLink)"
              [ngClass]="{'c-leftnav-submenu-active': isMetadataFieldsActive}">
              Fields
            </li>
            <li class="c-leftnav-submenu" (click)="setActiveTab(activeMetadataListLink)"
              [ngClass]="{'c-leftnav-submenu-active': isMetaDataListActive}">
              Lists
            </li>
          </ul>
        </div>


        <button *ngIf="tenantPermission.isPermitedWorkPlanning" class="c-leftnav-menu" (click)="workPlanningMenuClicked()"

        
          [ngClass]="{'c-leftnav-menu-active': isWorkPlanningMenuOpen}">
          Work Planning
        </button>
        <div class="content" *ngIf="isWorkPlanningMenuOpen">
          <ul>
            <li class="c-leftnav-submenu" (click)="setActiveTab(activeWorkTemplatesLink)"
              [ngClass]="{'c-leftnav-submenu-active': isWorkTemplateActive }">
              Work Templates
            </li>
            <li class="c-leftnav-submenu" (click)="setActiveTab(activeWorkSetsLink)"
              [ngClass]="{'c-leftnav-submenu-active': isWorkSetActive }">
              Work Sets
            </li>
          </ul>
        </div>

        <button class="c-leftnav-menu" (click)="usersMenuClicked()"
          [ngClass]="{'c-leftnav-menu-active': isUsersAndGroupsMenuOpen}">
          Users & Groups
        </button>
        <div *ngIf="isUsersAndGroupsMenuOpen" class="content">
          <ul>
            <li class="c-leftnav-submenu" (click)="setActiveTab(activeGroupsLink)"
              [ngClass]="{'c-leftnav-submenu-active': isGroupsActive}">
              Groups
            </li>
            <li class="c-leftnav-submenu" (click)="setActiveTab(activeUsersLink)"
              [ngClass]="{'c-leftnav-submenu-active': isUsersActive}">
              Users
            </li>
          </ul>
        </div>
        <button class="c-leftnav-link" (click)="setActiveTab(emailTemplatesLink)"
          [ngClass]="{'c-leftnav-link-active': isEmailActive }">
          Email Templates
        </button>
      </div>
    </div>
  </div>
</div>