.sidebar-section {
  background: white;
  margin-bottom: 0!important;
  height: 100%;
  display: block!important;
}

@keyframes adminNav {
  from {
    height: 0
  }
  to {
    height: auto
  }
}

.mobile-section {
  position: absolute;
  display: block!important;
  background: red;
  z-index: 50;
  width: calc(100% - 30px);
  animation: adminNav linear 5s;
  margin-top: -30px;
}

.mobileAdminNav {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0 30px 0;
  border-radius: 3px;
  border: outset thin #f3f8fb;
  background: white;
  color: #00a9bd;
  font-size: large;
  text-align: center;
}

.dashboard-texts {
  line-height: 45px;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #5b7f95;
  padding-left: 1.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.media-child-text {
  padding-left: 2.5rem;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.1px;
  color: #5b7f95;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.e-dropup-icon:before {
  content: '\e988';
}

.valign {
  vertical-align: middle;
}

.selected-background {
  background: #E8F6F7 !important;
  color: #033b5c !important;
  font-weight: 600 !important;
}

.active-tab {
  background-color: #E8F6F7;
}

.collapsible {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  color: #5b7f95;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
}

.button-cls-focused {
  border: 1px #E8F6F7;
  border-style: solid !important;
}

.button-cls:hover {
  background-color: #f1f1f1;
}

.active:hover {
  background-color: #E8F6F7;
}

.collapsible:hover {
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\002B';
  color: orangered;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: orangered;
}

.list-group {
  background: #fff;
}

.content {
  transition: max-height 0.2s ease-out;
  background: #fff;
}

.bg-light {
  background: #fff;
}

.c-leftnav-link {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  letter-spacing: normal;
  color: #5b7f95;
  padding: 15px 30px;
  text-align: left;
  cursor: pointer;
  filter: contrast(1);
}

.c-leftnav-link:hover {
  background-color: #F3F8FB;
}

.c-leftnav-link-active {
  box-shadow: inset -1px 0 0 0 #ebebeb;
  background-color: rgba(0, 151, 169, 0.09);
  color: #033b5c;
}

.c-leftnav-menu {  
  font-family: 'OpenSans', sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  letter-spacing: normal;
  color: #5b7f95;
  padding: 15px 30px;
  text-align: left;
  cursor: pointer;
  filter: contrast(1);
}

.c-leftnav-menu::after {
  content: url("../../../assets/images/icon-drop-down-arrow.svg");
  float: right;
}

.c-leftnav-menu:hover {
  background-color: #F3F8FB;
}

.c-leftnav-menu-active {
  color: #033b5c;
}

.c-leftnav-menu-active::after {
  transform: rotate(180deg);
}

.c-leftnav-submenu {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px !important;
  font-weight: normal;
  letter-spacing: -0.1px;
  color: #5b7f95;
  padding: 15px 45px;
  text-align: left;
  cursor: pointer;
  filter: contrast(1);
}

.c-leftnav-submenu:hover {
  background-color: #F3F8FB;
}

.c-leftnav-submenu-active {
  font-weight: 600;
  box-shadow: inset -1px 0 0 0 #ebebeb;
  background-color: rgba(0, 151, 169, 0.09);
  color: #033b5c;
}

.visible {
  visibility: hidden;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeOut {
  display: none;
  transition: display 2s ease-out 300ms, opacity 300ms;
}

.m-fadeIn {
  display: block;
  transition: display 2s ease-in 2s;
}