.cycle-title {
  /* width: 63px; */
  height: 21px;
  font-size: 14px;
  letter-spacing: normal;
  color: #5b7f95;
  text-align: center;
}

.cycle-title:hover {
  text-decoration: underline;
}

.cycle-percent {
  width: 41px;
  height: 23px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.cycle-percent-label {
  width: 33px;
  height: 13px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.chart-circle {
  display: inline-block;
  text-align: center;
  padding: 0;
  font-size: 11px;
}

.chart-text {
  /* left: 5px; */
  text-align: center;
  float: right;
  padding: 0;
  position: relative;
  left: 1em;
}

.report-label {
  height: 28.1px;
  font-size: 14px;
  color: #0097a9;
  text-align: center;
  padding-top: 13px;
  font-family: "Open Sans", sans-serif;
}

.shadow {
  box-shadow: none !important;
}

.right-data-items {
  display: inline-block;
  margin: 17px 0;
  color: #5b7f95;
}

.right-data-pointer {
  bottom: 14px;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  /* margin: 10px; */
  display: inline-block;
}

/* Chart Style */

.set-size {
  font-size: 6em;
}

.progress-inner {
  height: 60px !important;
  width: 60px !important;
  margin: 22px 16px !important;
}

.charts-container {
  position: relative;
}

.chart-item {
  padding-top: 10px;
}

.pie-wrapper {
  height: 65px;
  width: 65px;
  float: left;
  margin: 20px 14px;
  position: relative;
}

.pie-inside {
  position: absolute;
}

.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 3px solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

#basic_card {
  padding: 0 20px;
}

.top-cycle-item {
  border-bottom: 1px dashed rgba(91, 127, 149, 0.55);
  padding: inherit;
  position: relative;
  margin-bottom: 10px;
}

.inner-top-cycle-item {
  display: table;
  justify-content: flex-start;
  width: 100px;
}

.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 3px solid #dbecf8;
  border-radius: 50%;
}

.pie-wrapper.style-1 {
  -webkit-transform: scale(0.81);
  transform: scale(0.81);
}

.pie-wrapper.style-1 .label {
  background: none;
  color: #7f8c8d;
}

.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}

.content > .chart {
  display: inline-block;
  border-bottom: dotted 1px rgba(91, 127, 149, 0.55);
}
