<div class="d-chard">
  <div class="title cycle-title" [routerLink]="link" [queryParams]="{cycle: data.cycleName}">
    {{data.cycleName}}
  </div>
  <div class="chart col-md-5 chart-circle">
    <div class="inner-top-cycle-item">
      <div class="set-size charts-container">
        <div class="pie-wrapper progress-outer style-2" [attr.data-percent]="data.overall" data-color="#0097a9">
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
          <div class="shadow"></div>
        </div>
        <div class="pie-wrapper pie-inside progress-inner style-1" [attr.data-percent]="data.group"
          data-color="#ffc72c">
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
          <div class="shadow"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart col-md-7 chart-text">
    <div style="height: 40px;">
      <span class="right-data-pointer" style="background: #0097a9;"></span>
      <div class="right-data-items">
        <div class="cycle-percent">50%</div>
        <div class="cycle-percent-label">overall</div>
      </div>
    </div>
    <div>
      <span class="right-data-pointer" style="background: #ffc72c;"></span>
      <div class="right-data-items">
        <div class="cycle-percent">75%</div>
        <div class="cycle-percent-label">Group</div>
      </div>
    </div>
  </div>

</div>