<div class="collaboration-setup">
  <app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack()"></app-breadcrumb>
  <label class="form-title"> {{ isCreateMode ? 'Create New' : 'Edit'}} Collaboration Session </label>
  <br><br>
  <app-collaboration-setup-first *ngIf="currentStep === 1" (statusChange)="onStatusChanged($event)">
  </app-collaboration-setup-first>
  <app-collaboration-setup-second *ngIf="currentStep === 2" (statusChange)="onStatusChanged($event)">
  </app-collaboration-setup-second>
  <app-collaboration-setup-summary *ngIf="currentStep === 3" (statusChange)="onStatusChanged($event)">
  </app-collaboration-setup-summary>
  <br>
  <app-modal #confirmModal type="confirm" title="Confirm Navigation"
    message="Are you sure you want to leave this page? You will lose all changes if you do.">
  </app-modal>
</div>