<div class="card-container" [ngSwitch]="type">
  <div class="viewer-card" *ngSwitchCase="'viewer'">
    <img src="./assets/images/dialog-close.svg" height="40" width="40" alt="">
  </div>
  <div tabindex="0" class="e-card participant-card" *ngSwitchDefault>
    <div class="e-card-header" style="padding: 12px 0;">
      <div class="e-card-header-image football e-card-corner" style="width: 60px;height: 60px;">
        <img src="{{data?.imageUrl}}" alt="" style="border-radius: 50%;width: 100%;">
      </div>
      <div class="e-card-header-caption">
        <div class="e-card-header-title participant-title-text"> {{ data?.firstName +' '+ data?.lastName | titlecase }}
        </div>
        <!-- <div class="e-card-sub-title participant-subtitle-text">{{ data?.roleNames.length > 0 ? (data?.roleNames.length === 1? data?.roleNames[0]:data?.roleNames[0] + ' + ' + data?.roleNames.length ) : '' }}</div> -->
      </div>
      <div *ngIf="status=='add'">
        <img src="./assets/images/icon-add-bubble.svg" alt="" (click)="addParticipant(data)">
      </div>
      <div *ngIf="status=='remove'">
        <img src="./assets/images/dialog-close.svg" alt="" (click)="removeParticipant(data)">
      </div>
    </div>
  </div>
</div>