.participant-card {
    background-color: unset !important;
    box-shadow: none !important;
    border-bottom: solid 1px rgba(91, 127, 149, 0.25);
}

.participant-title-text{
    opacity: 0.67;
    font-family: OpenSans;
    font-size: 17px !important;
    font-weight: 600 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.41px;
    color: #5b7f95;
}

.participant-subtitle-text{
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.08px;
    color: #5b7f95;
}