<app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" (navigate)="switchBreadCrumbs($event)" [hideStroke]="true">
</app-breadcrumb>
<div class="row">
  <div class="col-md-10">
    <app-tabs [tabs]="tabs" (navigate)="switchTabs($event)" (routeChange)="onRouteChange($event)"></app-tabs>
  </div>
</div>
<router-outlet></router-outlet>