.collaboration-viewer {
  position: relative;
}

.collaboration-viewer.annotate-cursor {
  cursor: url("./../../../assets/images/icon-pencil-cursor.svg") -24 24, auto;
}

#canvas {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.presenter-container {
  position: relative;
}

.presenter-container video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
}

@keyframes zoominoutfeature {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.collaboration-viewer .recording-badge {
  position: absolute;
  display: flex;
  background: #616161;
  top: 12px;
  left: 12px;
  z-index: 1;
  padding: 4px 12px;
  opacity: 0.9;
  border-radius: 4px;
}

.collaboration-viewer .recording-badge .outer-circle {
  position: relative;
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.collaboration-viewer .recording-badge .outer-circle .inner-circle {
  position: absolute;
  height: 9px;
  width: 9px;
  left: 25%;
  top: 25%;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.collaboration-viewer .recording-badge img {
  animation: zoominoutfeature 1s infinite;
}

.collaboration-viewer .recording-badge label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  margin-bottom: 0px;
  margin-left: 4px;
}
