<div class="collaboration-viewer" [ngClass]="{'annotate-cursor': allowAnnotation}"
  [ngStyle]="{'height': windowHeight, 'width': windowWidth}">

  <app-collaboration-viewer-details [sessionTitle]="sessionTitle" [currentParticipants]="connectedParticipants"
    [feeds]="collaborationItems" (deleteScreenShot)="deleteScreenShot($event)" (changeFeed)="changeCurrentFeed($event)">
  </app-collaboration-viewer-details>

  <div *ngIf="isLocalParticipantPresenting" class="recording-badge">
    <img src="./assets/images/icon-recording.svg" width="16">
    <label> Recording video... </label>
  </div>

  <!-- VIDEO -->
  <div #player id="videoPlayer"
    [ngStyle]="{'display': (!isLocalParticipantPresenting && !isRemoteParticipantPresenting) || isLocalParticipantPresenting ? '' : 'none', 'height': windowHeight+'px'}">
  </div>

  <div class="presenter-container"
    [ngStyle]="{'display': isRemoteParticipantPresenting ? '' : 'none', 'width': windowWidth+'px', 'height': windowHeight+'px'}">
    <video id="sharingDiv" width="100%" style="width: 100%; height: 100%"></video>
  </div>

  <canvas id="canvas" #canvas [width]="windowWidth" [height]="windowHeight"
    [ngStyle]="{'pointer-events': allowAnnotation ? 'auto' : 'none'}">
  </canvas>

  <!-- CHAT -->
  <app-collaboration-chat *ngIf="chatToken && chatChannelName" (minimizeChatBox)=minimizeChatBox($event)
    (toggleChatBox)=toggleChatBox() [toggleChat]="openChat" (messageAdded)="onMessageAdded($event)" [token]="chatToken"
    [channelName]="chatChannelName" [connectedUserName]="connectedUserName">
  </app-collaboration-chat>

  <!-- CONTROLS -->
  <app-collaboration-controls [allowControls]="allowControls"
    [showScreenShare]="(!isLocalParticipantPresenting && !isRemoteParticipantPresenting) || isLocalParticipantPresenting"
    [isPresenting]="isLocalParticipantPresenting"
    [showScreenshot]="isLocalParticipantPresenting || isRemoteParticipantPresenting" [allowAnnotation]="allowAnnotation"
    [showAnnotate]="isRemoteParticipantPresenting || isLocalParticipantPresenting "
    [savingScreenshot]="savingScreenshot" [ischatMessageAdded]="isChatMessageAdd" [muted]="isLocalParticipantMuted"
    [showLeaveRoom]="true" [showEndRoom]="isHost || isLocalParticipantPresenting" (shareScreen)="shareScreen()"
    (annotate)="annotate()" (screenshot)="screenshot()" (chat)="toggleChatBox()"
    (addParticipant)="showAddParticipantsModal()" (mute)="mute()" (leave)="confirmLeave()" (end)="confirmEnd()">
  </app-collaboration-controls>

  <!-- SCREENSHOT -->
  <video id="screenshotVideo" style="display:none;"></video>
  <!-- ADD PARTICIPANT -->
  <app-modal #participantModal type="collaboration-participants" [width]="1100" [participants]="sessionParticipants"
    (save)="onSaveParticipants($event)">
  </app-modal>
  <!-- CONFIRM MODAL -->
  <app-modal #confirmModal type="confirm"></app-modal>
</div>