.item-chart-card-container {
  cursor: default;
}

.item-chart-card-container .title {
  height: 28.1px;
  font-size: 18px;
  letter-spacing: normal;
  text-align: center;
  color: #0097a9;
  cursor: pointer;
}

.item-chart-card-container .title:hover {
  text-decoration: underline;
}

.item-chart-card-container .content {
  height: auto;
  padding: 0;
}

.item-chart-card-container .content-around {
  justify-content: space-between;
}

.item-chart-card-container .oneCycle {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 5em;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.item-chart-card-container .twoCycles {
  position: relative;
  top: 5em;
}

.item-chart-card-container .e-card:hover {
  border-color: white;
}

.item-chart-card-container a:hover {
  text-decoration: none;
}
