<div class="item-chart-card-container">
  <a tabindex="0" class="e-card card " id="basic">
    <div tabindex="0" class="e-card" id="basic_card">
      <div class="e-card-content" style="height: 24.5em;">
        <div class="title" [routerLink]="data.routeLink">{{data.itemName}}</div>
        <div class="content">
          <!--  -->
          <div class="row content-around">
            <div *ngFor=" let cycle of data.workSetPlanning" class="col-5 top-cycle-item"
              [ngClass]="{'oneCycle': cycleLength == 1, 'twoCycles': cycleLength == 2}">
              <app-doughnut-chart [data]="cycle" [link]="data.routeLink"></app-doughnut-chart>
            </div>
          </div>
          <!--  -->
        </div>
        <div class="title report-label"></div>
      </div>
    </div>
  </a>
</div>