@media (max-width: 800px) {
  .filter-container #filter-content td:first-child {
    width: 14%;
  }
  .filter-container #filter-content td:nth-child(3) {
    width: 20%;
  }
  .filter-container #filter-content td:nth-child(4) {
    width: 18%;
  }
}

@media screen and (min-width: 500px) {
  /* this code will be in effect from 500px width and up */
  .filter-container #filter-content td:first-child {
    width: 21%;
  }
  .filter-container #filter-content td:nth-child(3) {
    width: 20%;
  }
  .filter-container #filter-content td:nth-child(4) {
    width: 18%;
  }
}

@media screen and (min-width: 800px) {
  /* this code will be in effect from 968px width and up */
  .filter-container #filter-content td:first-child {
    width: 12%;
  }
  .filter-container #filter-content td:nth-child(3) {
    width: 15%;
    text-align: end;
  }
  .filter-container #filter-content td:nth-child(4) {
    width: 14%;
    text-align: end;
  }
}

@media screen and (min-width: 968px) {
  /* this code will be in effect from 968px width and up */
  .filter-container #filter-content td:first-child {
    width: 10%;
  }
  .filter-container #filter-content td:nth-child(3) {
    width: 15%;
  }
  .filter-container #filter-content td:nth-child(4) {
    width: 15%;
  }
}

@media screen and (min-width: 1024px) {
  /* this code will be in effect from 1024px width and up */
  .filter-container #filter-content td:first-child {
    width: 9%;
  }
  .filter-container #filter-content td:nth-child(3) {
    width: 15%;
  }
  .filter-container #filter-content td:nth-child(4) {
    width: 12%;
  }
}

@media screen and (min-width: 1280px) {
  /* this code will be in effect from 1280px width and up */
  .filter-container #filter-content td:first-child {
    width: 8%;
  }
  .filter-container #filter-content td:nth-child(3) {
    width: 13%;
  }
  .filter-container #filter-content td:nth-child(4) {
    width: 11%;
  }
  .filter-search-container #filter-content td:first-child {
    width: 9%;
  }
  .filter-search-container #filter-content td:nth-child(3) {
    width: 16%;
  }
}

@media screen and (min-width: 1440px) {
  /* this code will be in effect from 1600px width and up */
  .filter-container #filter-content td:first-child {
    width: 7%;
  }
  .filter-container #filter-content td:nth-child(3) {
    width: 11%;
  }
  .filter-container #filter-content td:nth-child(4) {
    width: 9%;
  }
  .filter-search-container #filter-content td:first-child {
    width: 8%;
  }
  .filter-search-container #filter-content td:nth-child(3) {
    width: 16%;
  }
}

@media screen and (min-width: 1920px) {
  /* this code will be in effect from 1920px width and up */
  .filter-container #filter-content td:first-child {
    width: 7%;
  }
  .filter-container #filter-content td:nth-child(3) {
    width: 11%;
  }
  .filter-container #filter-content td:nth-child(4) {
    width: 9%;
  }
  .filter-search-container #filter-content td:first-child {
    width: 7%;
  }
  .filter-search-container #filter-content td:nth-child(3) {
    width: 16%;
  }
}

/* #region FILTER DEFAULT */

.filter-container #filter-content td:nth-child(3) {
  text-align: end;
}

.filter-container #filter-content td:nth-child(4) {
  text-align: end;
}

.filter-container #filter-content {
  padding: 12px 14px 2px 20px;
}

.filter-container #filter-content td {
  vertical-align: top;
}

.filter-container #filter-content td:nth-child(1) label {
  margin: 6px 0px 16px 0px;
}

.filter-container #filter-content td:nth-child(2) div {
  display: inline-block;
  margin: 0px 10px 10px 0px;
}

.filter-container #filter-content td:nth-child(3) button,
.filter-container #filter-content td:nth-child(4) button {
  margin-top: 6px;
}

.filter-container {
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: solid 1px #5b7f95;
}

.filter-container .filter-top-section {
  padding: 12px 16px !important;
}

.filter-container .filter-lower-section {
  padding: 12px 24px !important;
}

.filter-container hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0 !important;
  border: solid 0.5px #5b7f95 !important;
}

.filter-container .filter.button-round {
  margin: 20px auto;
  display: block;
  /* width: 187px; */
  height: 40px;
}

/* #endregion */

/* #region FILTER SEARCH */

.filter-search-container {
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: solid 1px #5b7f95;
}

.filter-search-container #filter-content td:nth-child(3) {
  text-align: end;
}

.filter-search-container #filter-content td {
  padding: 0px;
}

.filter-search-container #filter-content td:nth-child(1) label {
  margin: 0px 0px 0px 22px;
}

#search-button {
  background: #0097a9;
  height: 56px;
  padding: 0px 42px;
  margin-left: 16px;
  color: #fff;
  font-size: 18px !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#search-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#search-button:active {
  transform: scale(0.97);
}

#search-input {
  width: 100%;
  height: 36px;
  border: 0px;
  color: #033b5c;
  font-size: 16px;
}

#search-input:hover,
#search-input:focus,
#search-input:active {
  outline: 0 !important;
}

#search-input::placeholder {
  font-style: italic;
}

/* #endregion */

.not-allowed {
  opacity: 0.6;
  cursor: not-allowed;
}

.toggler {
  background: #5b7f95;
  margin: 0px auto;
  display: block;
  width: 76px;
  height: 28px;
  cursor: pointer;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.toggler > div {
  text-align: center;
  padding-top: 6px;
  display: block;
}

.toggler > div > span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin-right: 3px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}

.toggler-up-icon {
  filter: invert(1);
}

.toggler-direction {
  margin: 0px auto 0px auto;
  padding-top: 6px;
  display: block;
  filter: invert(1);
}
