<div class="filter-container" *ngIf="mode === 'default'">
  <!-- TOP SECTION SECTION -->
  <div id="filter-content">
    <table width="100%">
      <tr>
        <td>
          <label class="form-title-md"> Filter By: </label>
        </td>
        <td>
          <div *ngFor="let tag of tags">
            <app-tag [tag]="tag" (removeTag)="onRemoveTag($event)"></app-tag>
          </div>
        </td>
        <td>
          <button id="save-to-favorite" *ngIf="canSaveFavorites" class="button-no-outline save-to-favorite_QA"
            [disabled]="tags?.length < 1" (click)="showSaveToFavoriteDialog()">
            Save To "Favorites" </button>
        </td>
        <td>
          <button class="button-no-outline clear-all-filter_QA" [disabled]="tags?.length < 1"
            (click)="onClearFilters()">
            Clear All Filters </button>
        </td>
      </tr>
    </table>
  </div>
  <hr *ngIf="showMenu" />

  <!-- BOTTOM SECTION -->
  <div class="filter-lower-section" *ngIf="showMenu">
    <dynamic-form #dynamicForm="dynamicForm" *ngIf="fields?.length > 0" mode="filter" [config]="fields"
      (addTag)="onAddTag($event)">
    </dynamic-form>

    <!-- BUTTON SECTION -->
    <button class="filter button-round apply-filters_QA" [disabled]="tags?.length < 1" (click)="onApplyFilters()">
      APPLY FILTERS
    </button>
  </div>
</div>

<div class="filter-search-container" *ngIf="mode === 'search'" style="margin-bottom: 28px;">
  <!-- TOP SECTION -->
  <div id="filter-content">
    <table width="100%">
      <tr>
        <td>
          <label class="form-title-md"> Filter By: </label>
        </td>
        <td>
          <input #searchInput id="search-input" type="text" placeholder="Type your search here"
            (input)="onSearchInputChanged($event.target.value)"
            (keyup.enter)="onSearch($event.target.value); $event.target.value = ''">
        </td>
        <td>
          <button id="search-button" (click)="onSearch(searchInput.value); searchInput.value = ''"
            [disabled]="filterQuery === ''" class="em-search-button"> SEARCH
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="toggler see-all-filter_QA" (click)="onToggle()" *ngIf="!hideToggler">
  <div *ngIf="!showMenu">
    <span> See All </span> <img class="toggler-up-icon" width="10px" src="./assets/images/icon-arrow-down.svg" />
  </div>
  <img *ngIf="showMenu" class="toggler-direction" src="./assets/images/icon-arrow-up.svg" width="14px" />
</div>