<div class="container-padding">  
  <img src="../assets/images/icon-warning.svg" width="200" class="warning-icon" />

  <label class="warning-text"> You are not authorized to view this page! </label>
  <!-- <button class="button-no-outline" (click)="login()"> Login </button> -->
</div>
