
<div class="row">
	<app-tabs style="margin-left: 16px;" [tabs]="tabs" (navigate)="switchTabs($event)">
	</app-tabs>
	<div class="pb-3 col-md-12" *ngIf="userPermission?.canEditMetadata">
		<span class="pt-3">
			<button ejs-button class="button-plus float-right" (click)="showFieldModal()"> Add New Field </button>
		</span>
	</div>
</div>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteField()">
</app-modal>

<app-list [dataSource]="currentRoute === 'workplanning' ? workPlanningFields : mediaFields" [allowFiltering]="true"
	[allowSearch]="true" [allowGridPaging]="true" [allowRowDragAndDrop]="true" [columns]="columns"
	(rowDrop)="onRowDrop($event)">
</app-list>

<app-buttons [buttons]="gridButtons" spacing="30" [disabled]="!enableGridButtons"></app-buttons>

<ejs-dialog #fieldDialog [visible]="false" [width]='550' isModal="true">
	<ng-template #content>
		<div *ngIf="!isConfirmModal">
			<!-- Title Section -->
			<div>
				<img class="dialog-close" src="./assets/images/dialog-close.svg" (click)="closeDialog()" /><br>
				<label class="dialog-title"> {{ modalTitle}} </label>
				<hr><br>
			</div>

			<form [formGroup]="fieldForm" style="padding: 0 16px">
				<div class="row pt-3">
					<div class="col-md-3">
						<label class="media-label pt-3"> Field Name: </label>
					</div>
					<div class="col-md-8">
						<input class="form-control custom-form-control" type="text" placeholder="e.g CreatedBy"
							formControlName="name" [readonly]="currentMetadataField" [ngClass]="{
							'is-invalid': (fieldForm.get('name').touched || fieldForm.get('name').dirty) && !fieldForm.get('name').valid							
						}" />
						<span class="invalid-feedback">
							<h5 *ngIf="fieldForm.get('name').errors?.required" class="form-description">
								Please enter a field name.
							</h5>
							<h5 *ngIf="fieldForm.get('name').errors?.pattern" class="form-description">
								Name should start and end only with an alphabet or underscore and should contain only
								alphabets,
								numbers,
								dot or underscore.
							</h5>
						</span>
					</div>
				</div>
				<br>

				<div class="row pt-3">
					<div class="col-md-3">
						<label class="media-label pt-3"> Field Label: </label>
					</div>
					<div class="col-md-8">
						<input class="form-control custom-form-control" type="text" placeholder="e.g Created By"
							formControlName="label"
							[ngClass]="{'is-invalid': (fieldForm.get('label').touched || fieldForm.get('label').dirty) && !fieldForm.get('label').valid }">
						<span class="invalid-feedback">
							<h5 class="form-description"> Please enter a field label. </h5>
						</span>
					</div>
				</div>
				<br>

				<div class="row pt-3">
					<div class="col-md-3">
						<label class="media-label pt-3"> Field Type: </label>
					</div>
					<div class="col-md-8">
						<ejs-dropdownlist formControlName="typeId" class="form-control custom-form-control" [ngClass]="{
							'is-invalid': (fieldForm.get('typeId').touched || fieldForm.get('typeId').dirty) && !fieldForm.get('typeId').valid
						}" [dataSource]='fieldTypes' (change)="onFieldTypeChange($event)" [placeholder]="'Select'" [fields]='typeFields'>
						</ejs-dropdownlist>
						<span class="invalid-feedback">
							<h5 class="form-description"> Please select a type. </h5>
						</span>
					</div>
				</div>
				<br>

				<div *ngIf="showListControl" class="row pt-3">
					<div class="col-md-3">
						<label class="media-label pt-3"> List: </label>
					</div>
					<div class="col-md-8">
						<ejs-dropdownlist #samplesDropdownlist class="form-control custom-form-control"
							formControlName="listId" [ngClass]="{
							'is-invalid': (fieldForm.get('listId').touched || fieldForm.get('listId').dirty) && !fieldForm.get('listId').valid
						}" [dataSource]='metadataLists$ | async' [placeholder]="'Select'" [fields]='metadataListFields'>
						</ejs-dropdownlist>
						<span class="invalid-feedback">
							<h5 class="form-description"> Please select a list. </h5>
						</span>
					</div>
				</div>
				<br *ngIf="showListControl">

				<div *ngIf="showParentField" class="row pt-3">
					<div class="col-md-3">
						<label class="media-label pt-3"> Parent Field: </label>
					</div>
					<div class="col-md-8">
						<ejs-dropdownlist #samplesDropdownlist formControlName="parentId"
							class="form-control custom-form-control"
							[dataSource]="currentRoute === 'workplanning' ? (workPlanningMetadataFields$ | async) : (mediaMetadataFields$ | async)"
							[ngClass]="{
							'is-invalid': (fieldForm.get('parentId').touched || fieldForm.get('parentId').dirty) && !fieldForm.get('parentId').valid
						}" [placeholder]="'Select'" [fields]='medataFieldsList'>
						</ejs-dropdownlist>
						<span class="invalid-feedback">
							<h5 class="form-description"> Please select a parent field. </h5>
						</span>
					</div>
					<br>
				</div>
				<br *ngIf="showParentField">

				<div class="row pt-3">
					<div class="col-md-3">
						<label class="media-label pt-3"> Data Type: </label>
					</div>
					<div class="col-md-8">
						<ejs-dropdownlist formControlName="dataType" class="form-control custom-form-control"
							[dataSource]='dataTypes' [ngClass]="{'disabled': currentMetadataField}"
							[sortOrder]="'Ascending'" [placeholder]="'Select'" [fields]='dataTypesFields'
							[(value)]="currentDataType" [readonly]="currentMetadataField">
						</ejs-dropdownlist>
						<span [ngStyle]="{'display': !isEditing ? 'block' : 'none' }">
							<h5 class="form-description" style="color:red"> Field is non-editable after save. </h5>
						</span>
						<span class="invalid-feedback">
							<h5 class="form-description"> Please select a type. </h5>
						</span>
					</div>
				</div>
				<br>

				<div class="row pt-3" *ngIf="isFilterableChecked && currentRoute !== 'workplanning'">
					<div class="col-md-3">
						<label class="media-label pt-3"> Search Type: </label>
					</div>
					<div class="col-md-8">
						<ejs-dropdownlist formControlName="searchType" class="form-control custom-form-control"
							[dataSource]='searchTypes' [placeholder]="'Select'" [fields]='searchTypeFields'
							[value]="currentSearchType">
						</ejs-dropdownlist>
					</div>
				</div>
				<br *ngIf="isFilterableChecked && currentRoute !== 'workplanning'">

				<div [ngStyle]="{'display': currentRoute === 'workplanning' ? 'none' : ''}" class="row pt-3">
					<div class="col-md-3">
						<label class="media-label pt-3"> Is Filterable: </label>
					</div>
					<div class="col-md-8 pt-3">
						<app-checkbox cssClass="c-large" [checked]="isFilterableChecked" formControlName="isFilterable"
							(change)="isFilterableChecked = !isFilterableChecked">
						</app-checkbox>
					</div>
					<br>
				</div>
				<br *ngIf="currentRoute === 'workplanning'">

				<br><br>
				<div class="text-center form-group">
					<button class="button-round" [disabled]='!fieldForm.valid || !fieldForm.dirty || isSaving'
						(click)="confirmSaveField()">
						SAVE CHANGES
					</button>
				</div>
				<br>
			</form>
		</div>
		<div *ngIf="isConfirmModal">
			<div>
				<img class="dialog-close" src="./assets/images/dialog-close.svg" (click)="closeConfirmDialog()" />
				<label class="dialog-title"> Confirm Save </label>
				<hr><br>
			</div>
			<div>
				<div class="text-center form-group">
					<span id="confirm-message">
						<label> Data Type field is non-editable after save. Do you want to continue? </label>
					</span>
					<br><br>
					<app-buttons [buttons]="confirmButtons" spacing="30" (actions)="confirmButtonActions($event)">
					</app-buttons>
				</div>
			</div>
		</div>
	</ng-template>
</ejs-dialog>