<div id="container">
  <div id="body" [ngStyle]="{'padding-bottom': !(showFullscreen$ | async) ? '63px' : '0px'}">
    <app-header *ngIf="!(showFullscreen$ | async)" [hideMenu]="!(isAuthorized$ | async)"></app-header>

    <ejs-toast #toast [position]='toastPosition' showProgressBar='true' showCloseButton='true'></ejs-toast>

    <ejs-toast #downloadToast [position]='downloadToastPosition' [animation]="toastAnimation" showCloseButton='true'
      timeOut="0" extendedTimeOut="0">
      <ng-template #title>
        <div>
          <img src="./assets/images/icon-download-white.svg" width="13" style="margin-top: -3px; margin-right: 10px;">
          Download Status
        </div>
      </ng-template>
      <ng-template #content>
        <div>
          <p> {{ inCompleteDownloads }} item(s) downloading. </p>
          <p> {{ completeDownloads }} Item(s) downloaded. </p>
        </div>
      </ng-template>
    </ejs-toast>

    <main id="main"
      [ngClass]="{'container-fluid': displayWidth <= 1265 && !(showFullscreen$ | async), 'container': displayWidth > 1265 && !(showFullscreen$ | async)}">
      <div [ngClass]="{'row pt-4': !(showFullscreen$ | async)}">
        <div *ngIf="(showLeftNav$ | async)" class="col-md-3">
          <app-leftnav></app-leftnav>
        </div>
        <div [ngClass]="(showFullscreen$ | async) ? '' : (showLeftNav$ | async) ? 'col-md-9' : 'col-md-12'">
          <div id="spinnerContainer"></div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
  <app-footer *ngIf="!(showFullscreen$ | async)"></app-footer>
</div>