<app-breadcrumb [previousRoute]="previousRoute$ | async" [enableBackRouting]="true" (navigate)="onBack($event)">
</app-breadcrumb>

<div class="sync-player-container" [ngClass]="{'active': isSyncMode}">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <button [title]="!isReadyToPlay ? 'Loading...' : isSyncMode ? 'Stop Sync Mode (s)' : 'Start Sync Mode (s)'"
        class="button-round-plain" [disabled]="!isReadyToPlay" (click)="toggleSyncMode()">
        {{ isSyncMode ? 'Stop' : 'Start' }} Sync Mode </button>
    </div>
  </div>
  <!-- PROGESS BAR / SEEKER -->
  <div class="row">
    <div class="col-md-12">
      <table width="100%">
        <tr>
          <td width="2.5%" [ngStyle]="{'opacity': !isSyncMode ? '.3' : '1'}">
            <img [src]="skipBackwardIcon" width="14" height="14" title="Skip Backward" (click)="skipBackward()" />
          </td>
          <td width="3%" [align]="'center'" [ngStyle]="{'opacity': !isSyncMode ? '.3' : '1'}">
            <img [src]="isPlaying ? pauseIcon : playIcon" width="21" height="26"
              [title]="isPlaying ? 'Pause (Space bar)' : 'Play (Space bar)'"
              (click)="isPlaying ? onPause() : onPlay();" />
          </td>
          <td width="2.5%" [align]="'right'" [ngStyle]="{'opacity': !isSyncMode ? '.3' : '1'}">
            <img [src]="skipForwardIcon" width="14" height="14" [title]="'Skip Foward'" (click)="skipForward()" />
          </td>
          <td width="92%">
            <ejs-slider #slider id="height_slider" min="0" [max]="maxDuration" type="MinRange" [tooltip]="tooltip"
              (created)="onCreated()" (changed)="onSliderChanged($event)" [enabled]="isSyncMode"
              (tooltipChange)="tooltipChangeHandler($event)">
            </ejs-slider>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- VIDEOS SECTION -->
  <div class="row" style="margin-top: 8px;">
    <div *ngFor="let video of videos; let i = index" [ngClass]="{
      'col-md-12': videos?.length === 1,
      'col-md-6': videos?.length >= 1 && videos?.length <= 4,
      'col-md-4': videos?.length >= 5,
      'col-md-3': videos?.length >= 9
    }">
      <div class="video-player" [ngClass]="{'disabled': isSyncMode}" (click)="onVideoSelected(i)">
        <img src="./assets/images/icon-volume.svg" style="opacity: .5;" width="26"
          *ngIf="isSyncMode && activeVideoIndex === i">
        <!-- <img src="./assets/images/dialog-close.svg" width="26" (click)="removeVideo(i)">
        <img [src]="video.isFavorite ? './assets/images/favorite.png' : './assets/images/icon-not-favorite.svg'"
          width="24" (click)="toggleFavorite(i)"> -->
        <video #vid [id]="video.id" class="video video-js vjs-big-play-centered" type="video/mp4" preload="auto"
          [ngStyle]="{'display': isSyncMode && vid.duration < currentTime ? 'none' : ''}"
          (canplaythrough)="onCanPlayThrough()" (ended)="onVideoEnded(i)" (durationchange)="onDurationChange($event)">
          <source [src]="video?.url" type="video/mp4">
        </video>
      </div>
      <br>
    </div>
  </div>
</div>