.sync-player-container {
  border-radius: 6px;
  border: solid 3px #e0f0f4;
  padding: 14px 10% 30px 10%;
}

.sync-player-container.active {
  border: solid 3px #0097a9;
  background-color: rgba(0, 151, 169, 0.1);
}

.sync-player-container table tr td:nth-child(4) {
  padding: 10px 0px 0px 32px;
}

.sync-player-container .video-player {
  position: relative;
  background: #000;
  min-height: 100%;
  height: 44vh;
  border: solid 2px #f3f8fb;
}

.sync-player-container .video-player.active {
  border: solid 4px #0097a9;
}

.sync-player-container .disabled video {
  pointer-events: none;
}

.sync-player-container .video {
  /* display: contents; */
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
}

.sync-player-container .video-player img {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 1;
}

.sync-player-container .video-player img:nth-of-type(2) {
  right: 46px;
}

/* #region SLIDER */

.sync-player-container .timeline-slider .e-slider {
  cursor: pointer;
}

.sync-player-container .e-control-wrapper.e-slider-container.e-horizontal {
  height: 12px;
}

.sync-player-container .e-slider-track {
  background-color: rgba(91, 127, 149, 0.25);
}

.sync-player-container .e-limits {
  background: #fff !important;
  z-index: -1;
}

.sync-player-container
  .e-control-wrapper.e-slider-container.e-horizontal
  #height_slider
  .e-range {
  cursor: -webkit-grab;
  cursor: grab;
  height: 9px;
  top: calc(50% - 6px);
  border-radius: 5px;
}

.sync-player-container #height_slider.e-control.e-slider .e-slider-track {
  cursor: -webkit-grab;
  cursor: grab;
  height: 9px;
  top: calc(50% - 6px);
  border-radius: 5px;
}

.sync-player-container
  .e-slider-container.e-horizontal
  #height_slider
  .e-handle {
  margin-left: -10px;
  top: calc(50% - 9px);
}

.sync-player-container .e-slider-container #height_slider.e-slider .e-handle {
  height: 15px;
  width: 15px;
}

/* #endregion */

/* modal starts here */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-color: #0097a9;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 95%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.video-content {
  border-color: #0097a9;
  border-style: solid;
  border-width: 0.01em;
  background-color: #ffffff;
  padding: 10px 15px 15px 15px;
}

/* modal ends here */
.Icon---Video {
  width: 21px;
  height: 26px;
  object-fit: contain;
}

.rectangle {
  width: 168px;
  height: 36px;
  border-radius: 18px;
  border: solid 2px #0097a9;
}
img {
  max-width: 100%;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}
/* a:hover {
    box-shadow: inset 0px -24px 0px #61b5d9;
  } */

.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 69rem;
}

.truncate,
.video-title,
.next-video-title,
.next-video-info {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* Site header */
.site-header {
  -webkit-animation: slidein 0.5s;
  animation: slidein 0.5s;
  background: #ffffff;
  color: #fff;
  line-height: 4.5rem;
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translate3d(0, -4.5rem, 0);
    transform: translate3d(0, -4.5rem, 0);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translate3d(0, -4.5rem, 0);
    transform: translate3d(0, -4.5rem, 0);
  }
}
.site-title {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 16px 0;
  float: left;
}

.credit-line {
  float: right;
  margin: 16px 0;
}

.title-five {
  background: #fff;
  border-radius: 100%;
  color: #ffffff;
  font-weight: 600;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

/* Video area */
.video-area {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  color: #fff;
  padding: 4.5rem 0;
}

@-webkit-keyframes slidebottom {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidebottom {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.video-column {
  float: left;
  max-width: 854px;
}

.video-playlist {
  float: right;
  font-size: 18px;
  font-weight: 600;
  max-width: 250px;
}

.video-header {
  background: #61b5d9;
  line-height: 1.5rem;
  padding: 1.5rem;
}

.video-title {
  float: left;
  margin: 0;
  width: auto;
  max-width: 75%;
}

.video-author {
  font-size: 18px;
  float: left;
  margin-left: 3rem;
}
.video-author a:hover {
  box-shadow: inset 0px -24px 0px #f11753;
}
.marginleft5px {
  margin-left: 5px;
}
/* Video controls */
.video-controls {
  box-sizing: border-box;
  background: #2f2f38;
  line-height: 4rem;
  padding: 0px 1.5rem;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate3d(0, 3rem, 0);
  transform: translate3d(0, 3rem, 0);
  width: 100%;
  height: 7rem;
  vertical-align: middle;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.video-controls button {
  background: 0;
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

/* .video-player:hover .video-controls {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
   */
/* Seeker bar */
.video-bars {
  background: rgba(8, 11, 19, 0.8);
  display: inline-block;
  position: relative;
  width: 63%;
  height: 5px;
}

.bar-seeker,
.bar-progress,
.bar-buffer {
  position: absolute;
  height: 5px;
}

.bar-seeker {
  z-index: 3;
}

.bar-progress {
  z-index: 2;
}

.bar-buffer {
  z-index: 1;
}

/*
  * Reset range input
  * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
  */
input[type="range"] {
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 92%;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.bar-seeker {
  width: 100%;
}

input#barSeeker {
  background-color: #ffffff;
}

input.slider-volume2 {
  background-color: #ffffff !important;
}

.bar-seeker::-ms-fill-lower {
  background: transparent;
}

.bar-seeker::-ms-fill-upper {
  background: transparent;
}

/* Style the seeker bar */
.bar-seeker::-webkit-slider-runnable-track {
  background: transparent;
  height: 5px;
  padding: 0;
}

.bar-seeker::-moz-range-track {
  background: transparent;
  height: 5px;
  padding: 0;
}

.bar-seeker::-ms-track {
  background: transparent;
  height: 5px;
  padding: 0;
}

.bar-seeker::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 5px !important;
  width: 7px !important;
  height: 7px !important;
  margin-top: -1.3px;
  box-shadow: 0px 0px 1px 1px #eceaea;
}

.bar-seeker::-moz-range-thumb {
  background: #ffffff;
  border-radius: 5px !important;
  width: 7px !important;
  height: 7px !important;
  margin-top: -1.3px;
  box-shadow: 0px 0px 1px 1px #eceaea;
}

.bar-seeker::-ms-thumb {
  background: #ffffff;
  border-radius: 5px !important;
  overflow: visible;
  width: 7px !important;
  height: 7px !important;
  margin-top: -1.3px;
  box-shadow: 0px 0px 1px 1px #eceaea;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE */
  .bar-seeker {
    height: 24px;
    margin-top: -5px;
    padding: 0;
    vertical-align: middle;
  }
}
input.slider-volume {
  position: absolute;
  bottom: 71px;
  right: 0.5%;
  width: 6rem;
  opacity: 0;
  -webkit-transform: rotate(-90deg) scaleX(0);
  transform: rotate(-90deg) scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  transition: all 1s;
  background-color: #ffffff !important;
}

.slider-volume::-webkit-slider-runnable-track {
  background: #2f2f38;
  height: 5px;
}

.slider-volume::-moz-range-track {
  background: #2f2f38;
  height: 5px;
}

.slider-volume::-ms-track {
  background: #2f2f38;
  height: 5px;
}

.slider-volume2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 5px !important;
  width: 7px !important;
  height: 7px !important;
  margin-top: -1.3px;
  box-shadow: 0px 0px 1px 1px #eceaea;
}

.slider-volume2::-moz-range-thumb {
  background: #ffffff;
  border-radius: 5px !important;
  width: 7px !important;
  height: 7px !important;
  margin-top: -1.3px;
  box-shadow: 0px 0px 1px 1px #eceaea;
}

.slider-volume2::-ms-thumb {
  background: #ffffff;
  border-radius: 5px !important;
  width: 7px !important;
  height: 7px !important;
  margin-top: -1.3px;
  box-shadow: 0px 0px 1px 1px #eceaea;
}

.slider-volume2 {
  display: none;
}

.btn-sound {
  padding-right: 5px;
  width: 15px;
}
.btn-sound:hover + .slider-volume2,
.slider-volume2:hover {
  display: unset;
}

.btn-sound:hover ~ .video-bars,
.slider-volume2:hover ~ .video-bars {
  width: 53.4%;
}

/* Progress bars */
/* Reset bar */
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.2);
  border: none;
  height: 5px;
  width: 92%;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: transparent;
}

/* Buffer bar styling */
.bar-buffer::-webkit-progress-value {
  background: rgba(255, 255, 255, 0.2);
}

.bar-buffer::-moz-progress-bar {
  background: rgba(255, 255, 255, 0.2);
}

/* Progress bar styling */
.bar-progress::-webkit-progress-value {
  background: #ffffff;
}

.bar-progress::-moz-progress-bar {
  background: #ffffff;
}

.bar-progress {
  color: #ffffff;
}

/* Replay button */
.btn-replay {
  background: none;
  border: none;
  display: none;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -110px;
  font-size: 9rem;
  width: 220px;
  height: 220px;
}

/* Time bubble for seeker bar */
.time-bubble {
  background: #61b5d9;
  border-radius: 1.5rem 1.5rem 0px;
  height: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  bottom: 3.2rem;
  left: 4.8rem;
  padding: 0.5em;
  display: none;
}

/* PLaylist */
.playlist-title {
  background: #0e2052;
  padding: 16.5px;
  max-height: 60px;
}

.next-video {
  display: block;
  height: 140px;
  position: relative;
  overflow: hidden;
}
.next-video img {
  display: block;
}
.next-video::before {
  background: linear-gradient(0deg, rgba(14, 32, 82, 0.9) 0%, transparent 60%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}
.next-video-title {
  position: absolute;
  -webkit-transform: translateY(-4.5rem);
  transform: translateY(-4.5rem);
  padding: 0.75rem 1.5rem;
  transition: all 0.5s;
}
.next-video-info {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  padding: 0.75rem 1.5rem;
  position: absolute;
  -webkit-transform: translateY(-6.75rem);
  transform: translateY(-6.75rem);
  transition: all 0.5s;
  opacity: 0;
  width: 100%;
}
.next-video:hover .next-video-title {
  -webkit-transform: translateY(-9.75rem);
  transform: translateY(-9.75rem);
}
.next-video:hover::before {
  background: rgba(14, 32, 82, 0.8);
}
.next-video:hover .next-video-info {
  opacity: 1;
}

.played-video {
  -webkit-transform: scale(0);
  transform: scale(0);
  height: 0;
  width: 0;
}

.video-popularity {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
}

.video-popularity,
.description {
  padding: 0 1.5rem;
}

.likes {
  padding-left: 1em;
  padding-right: 1em;
}

/* Like icon styling */
.like-this {
  box-shadow: none;
  color: #ffffff;
}
.like-this:hover {
  -webkit-animation: beat 1s infinite;
  animation: beat 1s infinite;
  box-shadow: none;
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.meta-icon {
  padding-left: 0.5em;
}

.like-prompt {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7rem;
  padding-left: 0.75em;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.wiggle {
  -webkit-animation: wiggle 0.5s;
  animation: wiggle 0.5s;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
}

.wiggle + .like-prompt {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}
.info-area {
  background: #fff;
  color: #080b13;
}

.info-heading {
  color: #61b5d9;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin: 4.5rem auto;
}

.clearfix:before,
.wrapper:before,
.video-header:before,
.clearfix:after,
.wrapper:after,
.video-header:after {
  content: " ";
  display: table;
}
.clearfix:after,
.wrapper:after,
.video-header:after {
  clear: both;
}
.syncSliderslider {
  width: 861px;
  height: 9px;
  object-fit: contain;
  border-radius: 4.5px;
  border: solid 1px #5b7f95;
  background-color: rgba(91, 127, 149, 0.25) !important;
}
.syncSlidersliderActive {
  height: 9px;
  object-fit: contain;
  border-radius: 4.5px;
  background-color: #0097a9 !important;
}

/* slider */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    /* overflow: hidden;
      */
    -webkit-appearance: none;
    background-color: #abdce3;
    border-radius: 15px;
    margin-left: -2px;
  }

  input[type="range"]::-webkit-slid#0097A9er-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 15px;
    cursor: pointer;
    /* box-shadow: -100vw 0 0 100vw #0097A9; */
    background: #fff;
    z-index: 1;
    border-radius: 25px;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  cursor: pointer;
  border-style: solid;
  border-color: #0097a9;
  /* box-shadow: #0097A9l */
}
input[type="range"]::-moz-range-progress {
  background-color: #0097a9;
  height: 10px;
  border-radius: 5px;
}
input[type="range"]::-moz-range-track {
  background-color: #abdce3;
  height: 10px;
  border-radius: 5px;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
  height: 10px;
  border-radius: 5px;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
.notSeekMode {
  border-style: solid;
  border-color: #daedf2;
  border-radius: 5px;
}
.isSeekMode {
  border-style: solid;
  border-color: #0097a9;
  border-radius: 5px;
  background-color: #daedf2;
}
