.stage-summary-container .parent {
  overflow-x: auto;
  white-space: nowrap;
}

.stage-summary-container .child {
  display: inline;
}

.stage-summary-container .session-title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0097a9;
}

.stage-summary-container .navigation-buttons button {
  font-size: 18px !important;
  padding: 10px 50px !important;
  margin: 0px !important;
}

.e-list-text {
  cursor: pointer;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #033b5c !important;
}

.collapse-btn {
  float: left !important;
  color: #033b5c;
}

.form-title-lg {
  letter-spacing: 0.14px;
}

.stage-summary-container .step-5 i {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #5b7f95;
}

.stage-summary-container .step-5 i:nth-child(2) {
  margin-left: 7px;
  margin-right: 7px;
}

.stage-summary-container .step-5 i:last-child {
  color: #009b77;
}
