<div class="stage-summary-container">
  <p class="session-video form-title-lg">
    {{ 
      currentSession?.videos?.length === 0 ? 'No Video was selected' : 
      currentSession?.videos?.length === 1 ? '1 Video was selected' : 
      currentSession?.videos?.length > 1 ? currentSession?.videos?.length + ' Videos were selected' :
      'N/A'
    }}
  </p>
  <p class="session-time custom-label-xs">
    {{ currentSession?.startTime | date:'hh:mm aa' }} - {{ currentSession?.endTime | date:'hh:mm aa' }}
  </p>
  <p class="session-title"> {{ currentSession?.title }} </p>
  <p class="session-participants custom-label-xs-fade"> {{ currentSession?.participantNames }} </p>

  <div class="row">
    <div class="col-md-12 step-5">
      <label class="form-title-lg"> Step 5 </label>
      <i> Select Archive Destination </i>
      <i> {{ directoryPath }} </i>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 filters-container ">
      <div id='treeparent' style="padding-top:2rem; padding-bottom:3rem;">
        <app-tree-view #appTreeView [fields]="field" [allowDragAndDrop]='false' (nodeExpanding)="onNodeExpanding()"
          (nodeSelected)="onNodeSelected($event)"></app-tree-view>
      </div>
    </div>
  </div>
  <div class="navigation-buttons">
    <button class="omv-primary" [disabled]="isSaving" (click)="previous()"> Previous </button>

    <div class="float-right">
      <button class="button-no-outline" (click)="cancel()"> Cancel </button>
      <button class="omv-primary" [disabled]="!currentDirectoryId" (click)="create()">
        {{ currentSession?.id ? 'Update' : 'Create' }}
      </button>
    </div>
  </div>
</div>