<div class="row">
  <div class="pb-3 col-md-12" *ngIf="userPermission?.canEditMetadata">
    <span class="pt-3">
      <button class="button-plus float-right" (click)="add()">
        Add New List
      </button>
    </span>
  </div>
</div>

<app-list #metadataListView [dataSource]="metadataLists" [columns]="columns" [initialRecords]="selectedListIds"
  checkField="id" [allowFiltering]="true" [allowSearch]="true" [allowGridPaging]="true"
  [totalRecordsCount]="totalListCount$ | async" [totalText]="'Total List'" [toolbar]="toolbar" [showTotal]="true"
  (rowSelected)="rowSelectedEvent($event)" (rowDeselected)="rowDeselectedEvent($event)">
</app-list>

<ejs-dialog #listDialog [visible]="false" [width]="500" isModal="true">
  <ng-template #content>
    <button class="dialog-close" (click)="closeDialog()">
      <img src="./assets/images/dialog-close.svg" />
    </button>
    <br />
    <label class="dialog-title">Add Metadata list </label>
    <hr />
    <br />
    <form novalidate (ngSubmit)="saveMetadataList()" [formGroup]="metadataListForm">
      <div class="row pt-3">
        <div class="col-md-3">
          <label class="media-label" style="padding-top: 11px;">
            List Name:
          </label>
        </div>
        <div class="col-md-8">
          <input class="form-control custom-form-control" id="fieldNameId" type="text" placeholder="" autofocus
            formControlName="fieldName" [ngClass]="{
              'is-invalid':
                (metadataListForm.get('fieldName').touched ||
                  metadataListForm.get('fieldName').dirty) &&
                !metadataListForm.get('fieldName').valid
            }" />
        </div>
      </div>
      <br />
      <div class="row pt-3">
        <div class="col-md-3">
          <label class="media-label"> Is Nested?: </label>
        </div>
        <div class="col-md-8">
          <ejs-checkbox (change)="checkValue($event)"></ejs-checkbox>`
        </div>
      </div>
      <br />
      <div class="row pt-3" [hidden]="!showAllListDropdown">
        <div class="col-md-3">
          <label class="media-label" style="padding-top: 11px;">
            Parent:
          </label>
        </div>
        <div class="col-md-8">
          <ejs-dropdownlist #samplesDropdownlist formControlName="parentListId" class="form-control custom-form-control"
            [dataSource]="activeMetadataList$ | async" [placeholder]="'Select a List'" [value]="itemDescription"
            [fields]="metadataListFields">
          </ejs-dropdownlist>
        </div>
      </div>
      <br /><br />
      <app-buttons [buttons]="buttons" position="center" spacing="30"></app-buttons>
    </form>
    <br />
  </ng-template>
</ejs-dialog>