<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <label class="form-label"> Process </label>
    <ejs-dropdownlist class="form-control custom-form-control" [dataSource]='processes$ | async'
      [placeholder]="'Select Process'" [fields]='processFields' [(value)]='selectedProcessId'
      (change)="processChanged($event)">
    </ejs-dropdownlist>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <label class="form-label"> Steps </label>
    <ejs-dropdownlist class="form-control custom-form-control" [dataSource]='steps$ | async'
      [placeholder]="'No step was found'" [fields]='stepFields' [(value)]='selectedStepId'
      (change)="stepChanged($event)">
    </ejs-dropdownlist>
  </div>
  <div class="col-sm-6 offset-md-1 col-md-3" style="position: relative;">
    <button id="add-button" class="button-plus float-right"
      [disabled]="(isReadOnlyMode$ | async) || steps?.length === 0" (click)="addField()">
      Add Form Field
    </button>
  </div>
</div>
<br><br>

<dynamic-form #dynamicForm mode="full" [config]="currentFormFields" [disabled]="isReadOnlyMode$ | async"
  (labelChange)="overrideLabel($event)" (revertLabel)="revertLabelAction($event)" (delete)="deleteField($event)">
</dynamic-form>
<br>
<div style="margin-left: 16px">
  <app-buttons *ngIf="currentFormFields?.length > 1" [buttons]="buttons" spacing="30"
    [disabled]="(!dynamicForm?.form?.dirty || currentFormFields?.length === 1) || (isReadOnlyMode$ | async)"
    style="margin-left: 16px">
  </app-buttons>
</div>

<!-- METADATA FIELDS MODAL -->
<app-modal #metadataFieldsModal type="multiselect-listview" [dataSource]="metadataFields" title="Add Form Field(s)"
  saveText="DONE" (save)="addMetadataFields($event)">
</app-modal>

<!-- OVERRIDE LABEL MODAL -->
<app-modal #labelOverrideModal type="form" [title]="'Field - ' + currentFormField?.label"
  [controls]="overrrideLabelControls" (submit)="saveLabel($event)">
</app-modal>

<!-- CONFIRM MODAL -->
<app-modal #confirmModal type="confirm"></app-modal>