<div class="row download-link-outer-box">
  <div class="pb-3 col-md-6">
    <div class="download-link-inner-box">
      <a [href]="(bulkUploaderWindowsContainerUrl$ | async)">
        <div class="download-label-cover">
          <span class="download-link-text">Download for Windows</span>
        </div>
      </a>
    </div>
  </div>
  <div class="pb-3 col-md-6">
    <div class="download-link-inner-box">
      <a [href]="(bulkUploaderMacContainerUrl$ | async)">
        <div class="download-label-cover">
          <span class="download-link-text">Download for MAC</span>
        </div>
      </a>
    </div>
  </div>
</div>