.download-link-text {
  color: #5b7f95 !important;
  font-size: 16px !important;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1px;
}

a:hover {
  color: #5b7f95 !important;
}

.download-link-outer-box {
  top: 65px;
  position: relative;
}

.download-link-inner-box {
  background-color: #e8f6f7;
  height: 165px;
  width: 284px;
}

.download-label-cover {
  position: relative;
  top: 68px;
  margin: 0 34px;
  text-align: center;
  background-color: white;
}
