<app-list [dataSource]="cycles$ | async" [columns]="columns" [showToolbar]="true" [showTotal]="true"
  [totalRecordsCount]="total$ | async" [allowPaging]="true" [autoPagination]="false" [pageSize]='pageSize'
  (changePage)="paginationEvent($event)" (edit)="showCycleModal($event)">
</app-list>

<app-modal #cycleModal type="form" title="Edit Cycle" [controls]="cycleControls" (submit)="updateCycle($event)">
</app-modal>

<app-modal #confirmModal type="confirm" [title]="confirmModalTitle" [message]="confirmModalMessage"
  (yes)="onConfirmed()">
</app-modal>