<div class="row">
  <div class="col-md-12">
    <div class="c-header-buttons">
      <button class="c-button-update update-metadata-qa" (click)="updateMetadata()"
        [disabled]="!dynamicForm?.form?.valid || !dynamicForm?.form?.dirty">
        Update Metadata
      </button>
      <button class="c-button-cancel disregard-changes-button-qa" (click)="disregardChanges()"
        [disabled]="!dynamicForm?.form?.dirty">
        Disregard Changes
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div id="process-side-menu" class="col-md-3">
    <app-side-list-menu #sideMenu [title]="workTitle" [dataSource]="processes" (menuSelected)="onSelect($event)">
    </app-side-list-menu>
  </div>
  <div class="col-md-9">
    <dynamic-form #dynamicForm mode="default" [config]="fields" [allowUpload]="true" (upload)="showUploadModal($event)">
    </dynamic-form>
  </div>
</div>

<!-- UPLOAD MODAL -->
<app-modal #uploadModal type="upload" allowedFiles="image/*, .doc, .docx, .xls, .xlsx, .ppt, .csv, .log, .pdf"
  [title]="uploadModalTitle" (save)="upload($event)">
</app-modal>