label {
	color: #FFFFFF;
}

.e-card {
	border-radius: 4px;
	box-shadow: 0 2px 11px 0 rgba(91, 127, 149, 0.25);
	background-color: #033b5c;
	transition: all .3s ease-in-out;
}

.e-card:hover {
	background-color: #023b5c;
	transform: scale(1.01);
}

.e-card-header {
	padding-bottom: 0px;
}

#tile-fav {
	vertical-align: top;
	float: right;
}

#tile-name {	
	color: #FFFFFF;
	text-align: left;
}

#tile-date {
	color: #FFFFFF;
	margin: 25px 0px 3px 0px;
}

.info-cls {
	vertical-align: initial;
	padding-right: .5rem;
	cursor: pointer;
}

.align-items {
	vertical-align: middle;
	display: inline-flex;
}

.tile-card-date {
	margin-bottom: 0px;
	padding-bottom: 15px;
}

.search-card {
	height: 155px;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 13px;
	cursor: pointer;
	border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #eaf1f2;
}

.search-card > img {
	display: block;
	margin: 4em auto;
	width: 50px;
	height: 50px;
}