<div tabindex="0" class="e-card" id="basic">
  <div tabindex="0" class="e-card" id="basic_card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">
          <input id="tile-fav" class="c-checkbox-star" type="checkbox" title="" [checked]="data.isFavorite"
            (click)="toggleFavoriteEvent(data)">
        </div>
      </div>
    </div>
    <div class="e-card-content" (click)="tileClickEvent(data)">
      <div class="search-card">
        <img src="../../../../assets/images/icon-magnifying-glass.svg">
      </div>
      <span>
        <p id="tile-name" class="label-size-12">
          {{ data.name | uppercase }}
        </p>
        <p id="tile-date" class="label-size-12 label-bold-600" *ngIf="!hideDate" >
          {{ data.modifiedOn | date }}
        </p>
      </span>
    </div>
  </div>
</div>