<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-sm-6">
    <label class="c-title-md">Group Information</label><br>
    <form novalidate (ngSubmit)="save()" [formGroup]="groupForm">
      <div class="form-group">
        <label for="nameId" class="form-label">Group Name</label>
        <input class="form-control custom-form-control" id="nameId" type="text" placeholder="Enter a group name"
          formControlName="name" [ngClass]="{'is-invalid': (groupForm.get('name').touched ||
                                     groupForm.get('name').dirty) &&
                                     !groupForm.get('name').valid }" />
        <span class="invalid-feedback">
          <h5 class="form-description"> Please enter a name </h5>
        </span>
      </div><br>
      <div class="form-group">
        <label for="descriptionId" class="form-label">Description</label>
        <input class="form-control custom-form-control" id="descriptionId" type="text"
          placeholder="Enter a description for the group" formControlName="description" />
      </div><br><br>
      <app-buttons [buttons]="buttons" (actions)="buttonsClick($event)"></app-buttons>
    </form>
  </div>
  <div class="col-sm-6" *ngIf="groupId">
    <div class="control-section e-tab-section">
      <div class="e-sample-resize-container">
        <app-tabs [tabs]="groupItemTabs" (navigate)="switchTabs($event)"></app-tabs>
        <app-admin-group-permissions *ngIf="showPermissions"></app-admin-group-permissions>
        <app-admin-group-members *ngIf="showMembers"></app-admin-group-members>
        <app-admin-group-media-access *ngIf="showMediaAccess"></app-admin-group-media-access>
      </div>
    </div>
  </div>
</div>