<!-- <app-tile-view #tileView type="chart" [dataSource]="workItems$ | async" [allowPagination]="true" [pageSize]='pageSize'
  [pageCount]='pageCount' [currentPage]="currentPage" (tileClick)="navigate($event)"
  (setItemName)="setItemName($event)">
</app-tile-view> -->


<app-tile-view  #tileView  type="table" [dataSource]="workItems$ | async">
</app-tile-view>