.dropdown-readonly {
  cursor: not-allowed;
  background-color: #C5D3DA;
}

.dropdown-readonly span {
  cursor: not-allowed;
}

.work-set-container .directory {
  display: flex;
}

.work-set-container .directory i {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-left: 7px;
  color: #009b77;
  margin-top: 10px;
}