<form novalidate (ngSubmit)="save()" [formGroup]="setForm">
  <div class="row work-set-container">
    <div class="col-sm-6">
      <label class="form-label"> Name </label>
      <input class="form-control custom-form-control" formControlName="name" type="text" [readonly]="workSet">
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter a name </h5>
      </span>
      <br><br>

      <label class="form-label"> Work Template </label>
      <ejs-dropdownlist class="form-control custom-form-control" [placeholder]="'Select'"
        formControlName="templateGroupId" [ngClass]="{'disabled': isFormLocked}" [readonly]="isFormLocked"
        (change)="onTemplateChange($event)" [dataSource]='workTemplates' [fields]="workTemplateFields">
      </ejs-dropdownlist>
      <span class="invalid-feedback">
        <h5 class="form-description"> Please select a template </h5>
      </span>
      <br><br>

      <label class="form-label"> Asset </label>
      <ejs-dropdownlist class="form-control custom-form-control" [placeholder]="assetPlaceholder"
        formControlName="asset" [ngClass]="{'disabled': isFormLocked}" [readonly]="isFormLocked"
        [dataSource]='assets$ | async' [fields]="workAssetFields">
      </ejs-dropdownlist>
      <span class="invalid-feedback">
        <h5 class="form-description"> Please select a template </h5>
      </span>
    </div>
    <div class="col-sm-6">
      <div class="directory">
        <label class="form-label"> Directory </label>
        <i> {{ directoryPath }} </i>
      </div>
      <app-tree-view #appTreeView [fields]="field" [allowDragAndDrop]='false' (nodeExpanding)="onNodeExpanding()"
        (nodeSelected)="onNodeSelected($event)">
      </app-tree-view>
    </div>
  </div>
  <app-buttons [buttons]="buttons" [disabled]="(!setForm.valid || !setForm.dirty)" spacing="30">
  </app-buttons>
</form>
<app-modal #confirmModal type="confirm"></app-modal>