<div class="row">
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 filters-container" style="margin-top: 13px; height: 590px;
    overflow: auto;">
    <app-facets [filters]="filters" (applyFilter)="onApplyFilter($event)" (resetAll)="resetAllFilters()"
      (reset)="resetFilter($event)">
    </app-facets>
  </div>
  <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-8">
    <app-media-all-tileview *ngIf="viewType === 'tile'"></app-media-all-tileview>
    <app-media-all-listview *ngIf="viewType === 'list'"></app-media-all-listview>
    <!-- <app-media-all-treeview *ngIf="viewType === 'tree'"></app-media-all-treeview> -->
    <app-media-all-mapview *ngIf="viewType === 'map'"></app-media-all-mapview>
  </div>
</div>