#menu-title {
  margin-bottom: 18px;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item-text {
  font-size: 16px !important;
  font-weight: 700;
  opacity: 0.67;
  margin-bottom: 0 !important;
  letter-spacing: -0.1px;
  font-family: "Open Sans", sans-serif;
  color: #5b7f95;
}

.menu-item-text.active {
  color: #033b5c;
  opacity: 1;
}

.menu-item-line {
  height: 4.1px;
  opacity: 0.09;
  background-color: #0097a9;
  margin-top: 10px;
  margin-bottom: 0px;
}

.sub-menu-item {
  margin-bottom: 10px;
}

.sub-menu-text {
  font-size: 14px !important;
  font-weight: 700;
  opacity: 0.67;
  margin-bottom: 0 !important;
  letter-spacing: -0.09px;
  font-family: "Open Sans", sans-serif;
  color: #5b7f95;
}

.sub-menu-text.active {
  color: #033b5c;
  opacity: 1;
}

.sub-menu-item .download-icon {
  float: right;
  margin-top: 4px;
}

.sub-menu-item-line {
  height: 2px;
  background-color: #f3f8fb;
  margin-top: 12px;
  margin-bottom: 0px;
}
