<label id="menu-title" class="form-title-md-fade"> {{ title }} </label>
<div class="menu-item" *ngFor="let menu of dataSource;">
  <button class="menu-item-text" [title]="menu.text" [ngClass]="{'active': menu.isSelected}"
    (click)="onMenuSelected(menu)">
    {{ menu.text }}
  </button>
  <div class="sub-menu-item" *ngFor="let sub of menu.subMenuItems; let i = index">
    <div
      [ngStyle]="{'margin-top': i === 0 ? '16px' : '0px', 'margin-bottom': (i === menu.subMenuItems.length - 1) ? '26px' : '10px' }">
      <button class="sub-menu-text" [title]="sub.text" [ngClass]="{'active': sub.isSelected}"
        (click)="onSubMenuSelected(sub)">
        {{ sub.text }}
      </button>
      <img src="./assets/images/icon-download.svg" *ngIf="sub.isSelected" width="16" class="download-icon"
        (click)="onDownload(sub)">
    </div>
    <hr class="sub-menu-line" *ngIf="i !== (menu.subMenuItems.length - 1)">
  </div>
  <hr class="menu-item-line">
</div>