<div class="row">
  <div class="col-md-12">
    <app-buttons [buttons]="buttons" position="right" [disabled]="(isReadOnlyMode$ | async)"></app-buttons>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <dynamic-form #dynamicForm mode="unique" [config]="templateFields" [disabled]="isReadOnlyMode$ | async"
      (checkBoxChange)="checkUniqueRule()" (delete)="deleteField($event)">
    </dynamic-form>
  </div>
</div>
<br>
<div style="margin-left: 16px" *ngIf="!(isReadOnlyMode$ | async)">
  <app-buttons [buttons]="formButtons" spacing="30" [disabled]="!dynamicForm?.form?.dirty" style="margin-left: 16px">
  </app-buttons>
</div>

<!-- METADATA FIELDS MODAL -->
<app-modal #metadataFieldsModal type="multiselect-listview" [dataSource]="metadataFields" title="Add Item Field(s)"
  saveText="DONE" (save)="addMetadataFields($event)">
</app-modal>

<!-- CONFIRM MODAL -->
<app-modal #confirmModal type="confirm"></app-modal>