<!-- <div class="control-section">
    <div >
      <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='title'>
        <e-series-collection>
            <e-series [dataSource]='data' type='StackingBar' xName='x' yName='y' name='Annual' stackingGroup='Annual'></e-series>
            <e-series [dataSource]='data2' type='StackingBar' xName='x' yName='y' name='Semi-Annual' stackingGroup='Semi-Annual'></e-series>
            <e-series [dataSource]='data2' type='StackingBar' xName='x' yName='y' name='Cycle 2' stackingGroup='Cycle 2'></e-series>
            <e-series [dataSource]='data' type='StackingBar' xName='x' yName='y' name='Cycle 3' stackingGroup='Cycle 3'></e-series>
        </e-series-collection>
    </ejs-chart>
    </div>
</div> -->

