.tag-container {
  display: inline-block;
  border-radius: 3px;
  background-color: #033b5c;
  padding: 6.6px 12px;
  text-align: center;
}

.tag-container-small {
  display: inline-block;
  border-radius: 3px;
  background-color: #033b5c;
  padding: 0.5px 6px;
  text-align: center;
}

.tag-container-small label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #ffffff;
  margin-right: 6px;
  margin-bottom: 0px;
}

.tag-container-small img {
  margin-top: -2px;
  width: 12px;
}

.tag-name {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #ffffff;
  margin-right: 4px;
  margin-bottom: 0px;
}

.tag-value {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #ffffff;
  margin-right: 12px;
  margin-bottom: 0px;
}

.tag-close {
  margin-top: -2px;
  width: 12px;
}

.tag-search {
  background: #0097a9;
}
