<div class="tag-container" [ngStyle]="{'margin-right': (right || '0') + unit}" *ngIf="!isSmall">
  <label class="tag-name"> {{ tag?.label }}: </label>
  <label class="tag-value"> {{ tag?.value }} </label>
  <img class="tag-close" src="./assets/images/icon-close.svg" (click)="removeTagEvent(tag)" />
</div>
<div class="tag-container-small" [ngClass]="tag?.cssClass" [ngStyle]="{'margin-right': (right || '0') + unit}"
  *ngIf="isSmall">
  <label> {{ tag?.value }} </label>
  <img src="./assets/images/icon-close.svg" (click)="removeTagEvent(tag)" />
</div>