<div class="collaborations-calender">
  <div class="calender-navigator" (click)="previous()">
    <img width="12" class="arrow-icon pull-left" src="./assets/images/icon-right.svg">
  </div>
  <div class="calender-days">
    <div>
      <h6 class="custom-label-sm"> {{ currentDate | date:'MMMM, yyyy' }} </h6>
    </div>
    <div class="calender-table-container">
      <table class="calender-table">
        <thead>
          <tr>
            <th scope="col" *ngFor="let calendarDay of calendarDays; let i = index;"
              (click)="getCollaborations(calendarDay.date)" data-toggle="tooltip"
              [title]="calendarDay.date | date:'fullDate'"
              [ngClass]="{'active': (currentDate | date:'dd/MMM/yyyy') == (calendarDay.date | date:'dd/MMM/yyyy')}">
              <p> {{ calendarDay.day }} </p>
              <p *ngIf="(collaborationDays$ | async)?.includes(calendarDay.day)" class="dot-mark"> &#8226; </p>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="calender-navigator" (click)="next()">
    <img width="12" class="arrow-icon pull-right" src="./assets/images/icon-right.svg" />
  </div>
</div>