.collaborations-calender {
  margin: 19px 0px 5px 0px;
  object-fit: contain;
  background-color: #ffffff;
  display: flex;
  height: 80px;
}

.collaborations-calender .calender-navigator {
  width: 44px;
  border: 1px solid #dee2e6;
  display: flex;
  cursor: pointer;
}

.collaborations-calender .calender-navigator:hover {
  background-color: #0097a9;
}

.collaborations-calender .calender-navigator:hover img {
  filter: brightness(0) invert(1);
}

.collaborations-calender .calender-navigator:first-child {
  transform: rotate(180deg);
}

.collaborations-calender .calender-navigator img {
  margin: auto;
}

.collaborations-calender .calender-days {
  width: 100%;
}

.collaborations-calender .calender-days div:first-child {
  display: flex;
  padding: 5px;
  justify-content: center;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  height: 40px;
}

.collaborations-calender .calender-days div:first-child h6 {
  display: inline-block;
  margin: auto;
}

.collaborations-calender .calender-days div:last-child {
  height: 39px;
}

.collaborations-calender .calender-days div:last-child table {
  width: 100%;
}

.collaborations-calender .calender-days div:last-child table th {
  border: 1px solid #dee2e6;
  height: 39px;
  width: 40px;
  cursor: pointer;
  position: relative;
}

.collaborations-calender .calender-days div:last-child table th p {
  margin: auto;
  width: fit-content;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.09px;
  text-align: center;
}

.collaborations-calender .calender-days div:last-child table tr {
  background-color: #fff;
  color: #5b7f95;
}

.collaborations-calender .calender-days div:last-child table tr th:hover {
  background-color: #009b77;
  color: #fff;
}

.collaborations-calender .calender-days div:last-child table tr th.active {
  background-color: #009b77;
  color: #ffffff;
}

.collaborations-calender .calender-days div:last-child table tr th.disabled {
  cursor: not-allowed;
}

.collaborations-calender .dot-mark {
  position: absolute;
  left: 43%;
  top: 60%;
}

table {
  position: relative;
}

.tooltip-custom span {
  /* display: none; */
  color: #000;
  text-decoration: none;
  padding: 3px;
}

.tooltip-custom:hover span {
  display: block;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 2px 10px;
}
