<app-breadcrumb [previousRoute]="previousRoute$ | async" [enableBackRouting]="true" (navigate)="onBack($event)">
</app-breadcrumb>

<app-multi-viewer *ngIf="type" [type]="type" [source]="url" [thumbnails]="thumbnails" [thumbnailUrl]="thumbnailUrl" [containerUrl]="containerUrl" [name]="name" [sasToken]="sasToken" [transcript]="transcript"></app-multi-viewer>

<!-- <br><br> -->

<!-- <div class="video-content">
  <div style="margin: 8px 10px">
    <span class="c-video-title">NAME: &nbsp; </span>
    <span class="c-video-info"> {{ name | uppercase }} </span>
    <img src="./assets/images/icon-download.svg" height="15" width="15" class="float-right" (click)="download(url)">
  </div>
  <div style="margin: 8px 10px">
    <span class="c-video-title"> LINK: &nbsp; </span>
    <span class="c-video-info"> {{ url }} </span>
  </div>
  <div style="margin: 8px 10px">
    <span class="c-video-title">TYPE: &nbsp; </span>
    <span class="c-video-info"> {{ type}} </span>
  </div>
</div> -->