<div class="stage-two-container">
  <div class="row">
    <div class="col-md-12 step-3">
      <label class="form-title-lg"> Step 3 </label>
      <i class="form-info"> Select Date/Time </i>
    </div>
  </div>
  <br>
  <div class="session-date">
    <label class="form-title-md"> DATE: </label>
    <ejs-datepicker class="custom" [showClearButton]="false" [value]='sessionDate' placeholder='Enter Date'
      [strictMode]='true' [min]="today" (change)="onDateChanged($event)">
    </ejs-datepicker>
    <label class="form-title-md"> TIME: </label>
    <ejs-timepicker class="custom" [showClearButton]="false" [(value)]='startTime' placeholder='Start Time'
      [strictMode]='true' [min]='startMinValue' [max]='startMaxValue' (change)="onStartTimeChanged($event)">
    </ejs-timepicker>
    <label class="form-title-md"> to </label>
    <ejs-timepicker class="custom" [showClearButton]="false" [(value)]='endTime' placeholder='End Time'
      [strictMode]='true' [min]='endMinValue' [max]='endMaxValue' (change)="onEndTimeChanged($event)">
    </ejs-timepicker>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12 step-4">
      <label class="form-title-lg"> Step 4 </label>
      <i class="form-info"> Select Participants </i>
      <i> {{ (participants$ | async)?.length }} </i>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3" style="align-self: flex-end">
      <div class="e-control e-textbox e-lib">
        <div class="e-float-input e-control-wrapper e-input-group">
          <input #nameInput [value]="userFilter" id="nameInput"
            class="e-control e-textbox e-lib e-name search-textbox-qa" type="text" placeholder="Search Name"
            (blur)="userFilterFocused = false;" (focus)="userFilterFocused = true;"
            (input)="onUserFilterChanged($event.target.value)" (keyup.enter)="searchUser($event.target.value)">
          <span [ngStyle]="{ display: (userFilter !== '') ? 'block' : 'none' }"
            (click)="userFilter = ''; nameInput.value = '';" class="e-icons e-close"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="align-self: flex-end">
      <ejs-dropdownlist #groupSelect [dataSource]="groups$ | async" [fields]="fields" [(value)]="groupId"
        class="custom-ddl groups-dropdown-qa" [showClearButton]="true" placeholder="Select Group">
      </ejs-dropdownlist>
    </div>
    <div class="col-md-3" style="align-self: flex-end">
      <button class="omv-green search-button-qa" (click)="searchUser()"> Search </button>
    </div>
  </div>
  <br><br>

  <app-profile-view [profiles]="users$ | async" [allowPagination]="true" [pageSize]='pageSize' [pageCount]='3'
    [currentPage]="currentPage" [totalRecordsCount]="totalUsers$ | async" (changePage)="onPageChanged($event)"
    (select)="onUserSelected($event)">
  </app-profile-view>

  <div class="navigation-buttons">
    <button class="omv-primary" (click)="previous()"> Previous </button>
    <button class="omv-primary float-right" (click)="next()"
      [disabled]="(participants?.length <= 1) || !sessionDate || startTime == null || !endTime">
      Next </button>
  </div>
</div>