.stage-two-container .form-title-lg {
  letter-spacing: 0.14px;
}

.stage-two-container .form-title-md {
  letter-spacing: normal;
}

.stage-two-container .step-3 .form-info {
  margin-left: 7px;
}

.stage-two-container .session-date {
  display: flex;
}

.stage-two-container .session-date .form-title-md:first-child {
  margin-top: 5px;
  margin-right: 20px;
}

.stage-two-container .session-date .form-title-md:nth-of-type(2) {
  margin: 5px 20px 0px 38px;
}

.stage-two-container .session-date .form-title-md:nth-of-type(3) {
  margin: 5px 20px 0px 20px;
}

.stage-two-container .custom.e-datepicker {
  width: 120px;
}

.stage-two-container .custom .e-input-group.e-control-wrapper.e-date-wrapper {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
  font-weight: 600;
  color: #5b7f95 !important;
  margin: 0px !important;
}

.stage-two-container
  .custom
  .e-input-group.e-control-wrapper.e-date-wrapper
  .e-date-icon {
  margin-bottom: 0px;
}

.stage-two-container .custom.e-timepicker {
  margin-top: 2px;
  width: 100px;
}

.stage-two-container .custom .e-input-group.e-control-wrapper.e-time-wrapper {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
  font-weight: 600;
  color: #5b7f95 !important;
  margin: 0px !important;
}

.stage-two-container .step-4 i {
  margin-left: 7px;
}

.stage-two-container .step-4 i:nth-of-type(2) {
  background-color: #ffc72c;
  border-radius: 10px;
  padding: 4px 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.07px;
  text-align: center;
  color: #033b5c;
}

.stage-two-container .e-textbox .e-control-wrapper {
  margin: 0px;
}

.stage-two-container #nameInput {
  font-size: 16px;
  letter-spacing: -0.1px;
  color: #5b7f95;
  font-family: "Open Sans", sans-serif;
}

.stage-two-container #nameInput::placeholder {
  opacity: 0.7;
}

.stage-two-container .e-close {
  color: gray;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  margin-left: -20px;
  cursor: pointer;
}

.stage-two-container .e-close:before {
  content: "\e932";
}

.stage-two-container .omv-green {
  margin: 0px;
  font-size: 16px !important;
  padding: 10px 40px !important;
}

.stage-two-container .navigation-buttons button {
  font-size: 18px !important;
  padding: 10px 50px !important;
  margin: 0px !important;
}
