.collaboration-viewer-details-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #f3f8fb;
  width: 100%;
  margin: auto;
  border: solid 1px rgba(91, 127, 149, 0.25);
}

.collaboration-viewer-details-container .collaboration-controls-item {
  padding: 5px;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}

.detailsbutton {
  border-radius: 4px;
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
  width: 118px;
  height: 28px;
  position: absolute;
  top: 0;
  text-align: center;
  display: flex;
  left: 44%;
}

.toggle-btn-container {
  position: absolute;
  top: 20.7em;
  right: 45.6%;
  background-color: #f3f8fb;
  display: flex;
  padding-right: 10px;
  padding-left: 12px;
  padding-top: 5px;
  width: 118px;
  height: 28px;
  border-radius: 4px;
  border: solid 1px rgba(91, 127, 149, 0.25);
  cursor: pointer;
  z-index: 1;
}
.hide-detail-card {
  top: 0px !important;
  width: 126px !important;
}

.fade {
  opacity: 0.2;
}

.fade :hover {
  opacity: 1;
}

.details-text {
  width: 76px;
  height: 17px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0097a9;
}
.minimize {
  position: relative;
  bottom: 3px;
  left: 9px;
}
.collaboration-details {
  padding: 7px 30px 20px 30px;
}
.collaboration-detail-header {
  width: 100%;
  height: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
  color: #033b5c;
}

.grid-item .container {
  margin: 0px 0px 40px 0px !important;
  padding: 0px 0px 40px 0px !important;
  height: 85%;
  overflow-y: scroll;
}

.collaboration-viewer-details-container
  .grid-item
  .container::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.collaboration-viewer-details-container
  .grid-item
  .container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.collaboration-viewer-details-container
  .grid-item
  .container::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0097a9;
}

.collaboration-viewer-details-container .grid-item .container .row {
  margin: 0px !important;
  padding: 0px !important;
}

.screenshot {
  width: 126px;
  height: 17px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0097a9;
  margin-bottom: 14px;
  margin-right: 8px;
}

.screenshot-container {
  margin-bottom: 14px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.remove-screenshot-container {
  position: relative;
  bottom: 3px;
}
.remove-screenshot {
  width: 13px;
  height: 15px;
}
.participant-container {
  padding-right: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 40%;
}
.grid-item {
  padding: 20px 30px 20px 30px;
  height: 205px;
  overflow: hidden;
}

.card-title {
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.29px;
  text-align: center;
  color: #033b5c;
  padding: 9px;
  margin-bottom: 0px !important;
}
.collaboration-title {
  width: 96%;
  margin: auto;
  border-bottom: solid 2px rgba(91, 127, 149, 0.25);
}
.details-items {
  display: flex;
}
.item-text {
  padding: 5px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.22px;
  color: #033b5c;
}

.feed-content {
  border-radius: 8px;
}

.feed-content.active {
  border: solid 4px #0097a9;
}

.feed-label {
  height: 25px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
}
.feeds-container {
  display: flex;
  overflow: auto;
  width: 100%;
}
.feed-details {
  padding-right: 20px;
}
