<div class="collaboration-viewer-details-container" *ngIf="toggleDetail">
  <ejs-accordion expandMode='Single' expanded='true'>
    <div class="card-title"> {{ sessionTitle | uppercase }}</div>
    <div class="collaboration-title"></div>
    <div class="collaboration-details" class="grid-container">
      <div class="grid-item">
        <div class="collaboration-detail-header">
          <div> CURRENT PARTICIPANTS </div>
        </div>
        <app-profile-view type="viewer" [profiles]="currentParticipants"></app-profile-view>
      </div>
      <div class="grid-item">
        <div class="collaboration-detail-header">
          <div> SCREENSHOTS ADDED </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="screenshot-container col-md-6" *ngFor="let screenshot of screenshots; ">
              <a [href]="screenshot.url" class="screenshot" target="_blank"> {{screenshot.name}}</a>
              <img class="remove-screenshot" src="./assets/images/icon-trash.svg" alt=""
                (click)="onDeleteScreenShot(screenshot.id)">
            </div>
          </div>
        </div>


      </div>
      <div class="grid-item">
        <div class="collaboration-detail-header" style="overflow:auto">
          <div> ALL FEEDS </div>
        </div>
        <div class="feeds-container">
          <div class="feed-details" (click)="setSelectedFeed(feed)" *ngFor="let feed of feeds; let i = index;">
            <div class="feed-label"> {{ feed.name }} </div>
            <img class="feed-content" [ngClass]="{'active': feed?.id === selectedfeed?.id}"
              src="./assets/images/photo-oceaneering.jpg" height="76" width="132">
          </div>

        </div>
      </div>
    </div>
  </ejs-accordion>
</div>
<div class="toggle-btn-container" (click)="toggleDetailCard()" [ngClass]="{'hide-detail-card': !toggleDetail}">
  <div class="details-text">
    {{toggleDetail ? 'Hide details' : 'See Details'}}
  </div>
  <img class="minimize" src="./assets/images/icon-expand.svg" alt="" *ngIf="toggleDetail" />
  <img class="minimize" src="./assets/images/icon-minimize.svg" alt="" *ngIf="!toggleDetail" />

</div>