.float-right {
  justify-content: space-between;
}

.e-tab-text {
  text-transform: initial !important;
}

.link {
  text-decoration: underline !important;
  font-family: "OpenSans", sans-serif !important;
  color: #0097a9 !important;
}

.omv-orange-badge {
  font-family: "EMprint", sans-serif;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: #033b5c;
  border-radius: 10px;
  background-color: #ffc72c;
  padding: 3px 5px;
}

#download {
  text-decoration: underline;
  color: #033b5c;
}

#toolbar-action-text {
  color: #033b5c;
}

.button-toolbar-action-text {
  color: #0097a9;
  margin-left: 12px;
}

.button-toolbar-action-text:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button-default {
  margin-left: 8px !important;
}

.item-field-color {
  color: #0097a9;
  font-weight: 600;
}

/* colapse/details style */
.e-templatecell .button-collapse::before {
  text-align: center;
  content: url("../../../assets/images/icon-arrow-open.svg");
  width: 30px;
  margin: 0;
}

.e-detailrowexpand ~ .e-templatecell .button-collapse::before {
  text-align: center;
  content: url("../../../assets/images/icon-arrow-close.svg");
  width: 30px;
  margin: 0;
}

.details {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.detail-heading {
  font-size: 14px;
  font-weight: 600;
  color: #033b5c;
}

.detail-info {
  font-size: 14px;
  color: #033b5c;
}

.detail-advance {
  width: 88px;
  height: 27px;
  object-fit: contain;
  background-color: #0097a9;
  border-radius: 15px;
  color: #ffffff;
}

.detail-close {
  width: 88px;
  height: 27px;
  object-fit: contain;
  background-color: #ffffff;
  border-radius: 15px;
  color: #0097a9;
}

.e-icon-grightarrow::before,
.e-icon-gdownarrow::before {
  content: "" !important;
}
.e-detailindentcell {
  visibility: hidden;
}

.detail-buttons-group {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  padding-bottom: 10px;
}

/* Region Numbering css */
/* .e-table {
  counter-reset: rowNumber;
}

.e-row {
  counter-increment: rowNumber;
}
.e-detailrowcollapse::before,
.e-detailrowexpand::before {
  content: counter(rowNumber);
  min-width: 1em;
  padding: 0 16px;
}
.e-detailheadercell {
  padding: 0 10px !important;
} */

/* .e-detailheadercell::before {
  content: url("../../../assets/images/icon-setting.svg");
  position: absolute;
  top: 12px;
  right: 0;
} */

/* Region End */

/* Region Scroll Bar */

.e-content::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.e-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.e-content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0097a9;
}
.e-content ul::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}
.e-content ul::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}
.e-content ul::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0097a9;
}
.e-content > .e-ul {
  overflow: initial !important;
}

/* Region End */
