<ul class="tab nav" [ngClass]="{'tabs-overflow': applyOverflow}">
  <li [id]="i" *ngFor="let tab of tabs; let i = index">
    <a *ngIf="!tab.disabled && !tab.isNotPermitted" [ngStyle]="{'font-size': fontSize ? fontSize + 'px' : '17px'}"
      [ngClass]="{'tab active': currentRoute === tab.link || tab.isActive}"
      (click)="tab.action ? tab.action(tab) : performNavigation(tab.link)">{{ tab.name }}</a>
    <a *ngIf="tab.disabled && !tab.isNotPermitted" [ngStyle]="{'font-size': fontSize ? fontSize + 'px' : '17px'}"
      class="tab-disabled">{{ tab.name }}</a>
  </li>
</ul>