.nav {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.nav > li {
  display: inline-flex;
  margin: 0 33px 0 0;
}

.nav > li > a {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #5b7f95;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  padding: 4px 0;
  white-space: nowrap;
}

.active {
  border-bottom: solid 5px #033b5c;
  box-sizing: border-box !important;
  color: #033b5c !important;
  font-weight: 600 !important;
}

.tab-disabled {
  cursor: not-allowed !important;
  opacity: 0.7;
}

.tabs-overflow {
  overflow: auto;
  flex-wrap: nowrap !important;
  padding: 8px 0px;
}

.tabs-overflow::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.tabs-overflow::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.tabs-overflow::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #033b5c;
}
