<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>

<div class="row">
  <div class="col-sm-6">
    <label class="title title-16 form-label"> Upload {{id}} </label>

    <div class="row form-label pb-3">
      <div class="col-md-6">

        <div>
          <label class="form-label">Destination</label>
        </div>
        <label class=" upload-details-label">

          {{upload?.destination}}
        </label>
      </div>
      <div class="col-md-6 ">
        <div>

          <label class="form-label">Date</label>

        </div> <label class=" upload-details-label">

          {{upload?.createdOn | date}}
        </label>
      </div>
    </div>
    <div class="row form-label pb-3">
      <div class="col-md-6">
        <div>
          <label class="form-label">Size</label></div> <label class=" upload-details-label">

          {{upload?.size | filesize}}</label>
      </div>
      <div class="col-md-6 ">
        <div>
          <label class="form-label"># Files</label>
        </div>
        <label class=" upload-details-label">
          {{upload?.files}}</label>
      </div>
    </div>
    <div class="row form-label pb-3">
      <div class="col-md-6">
        <div>

          <label class="form-label">OCR</label>
        </div>
        <label class=" upload-details-label">
          {{upload?.isOCRAllowed ? 'Yes': 'No'}} </label>
      </div>
      <div class="col-md-6 ">
        <div>
          <label class="form-label">Speech To Text</label>

        </div>
        <label class=" upload-details-label">

          {{upload?.isSRAllowed  ? 'Yes': 'No'}}</label>
      </div>
    </div>
    <div class="row form-label pb-3">
      <div class="col-md-6">
        <div>
          <label class="form-label">Uploaded By</label>
        </div> <label class=" upload-details-label">

          {{upload?.requesterName}}</label>
      </div>
    </div>
  </div>
</div>