<app-list *ngIf="!isLoading" #membersList [dataSource]="groupMembers" [columns]="columns" [footer]="footer"
	(rowSelected)="rowSelectedEvent($event)" (rowDeselected)="rowDeselectedEvent($event)">
</app-list>

<ejs-dialog #groupDialog [visible]='false' [width]='500' isModal="true">
	<ng-template #content>
		<button class="dialog-close group-member-close-dialog_QA" (click)="closeDialog()">
			<img src="./assets/images/dialog-close.svg" />
		</button>
		<br />
		<label class="dialog-title">Add Member(s) to Group</label>
		<hr /><br />
		<div>
			<ejs-multiselect id='users' [dataSource]='filteredUsers' [mode]="'Box'" [fields]='usersFields'
				placeholder="Select Users" [(value)]="userIds" [width]="450">
			</ejs-multiselect>
			<br /> <br />
		</div>
		<div class="text-center form-group">
			<button class="btn btn-lg omv-primary add-group-member_QA" style="width: 14rem;" (click)="addMembersClick()">
				Add Member(s)
			</button>
		</div>
	</ng-template>
</ejs-dialog>

<app-modal #confirmModal type="confirm" title="Remove Member(s) from Group"
	message="Are you sure you want to remove these members?" (yes)="deleteMembers()"></app-modal>