.hourly-schedule-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: -30px;
}

/* #region VIDEO */

@media screen and (min-height: 500px) {
  /* this code will be in effect from 1600px width and up */
  .video-lg {
    height: 55vh;
  }
  .video-md {
    height: 24vh;
  }
  .video-sm {
    height: 19vh;
  }
  .video-xs {
    height: 16vh;
  }
}

@media screen and (min-height: 600px) {
  /* this code will be in effect from 1920px width and up */
  .video-lg {
    height: 57vh;
  }
  .video-md {
    height: 25vh;
  }
  .video-sm {
    height: 19vh;
  }
  .video-xs {
    height: 18vh;
  }
}

@media screen and (min-height: 720px) {
  /* this code will be in effect from 600px height and up */
  .video-lg {
    height: 60vh;
  }
  .video-md {
    height: 27vh;
  }
  .video-sm {
    height: 25vh;
  }
  .video-xs {
    height: 24vh;
  }
}

@media screen and (min-height: 900px) {
  /* this code will be in effect from 600px height and up */
  .video-lg {
    height: 65vh;
  }
  .video-md {
    height: 31vh;
  }
  .video-sm {
    height: 19vh;
  }
  .video-xs {
    height: 21vh;
  }
}

.video {
  width: 100%;
  border: solid 1px rgba(51, 110, 146, 0.25);
  background: #5b7f95;
}

.hourly-schedule-container .video-container img {
  position: absolute;
  padding-top: 41px;
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

/* #endregion */

/* #region TIMELINE GRID */

.hourly-schedule-container table {
  margin: 0px;
  background-color: #e4f0f1;
  border-left: 1px dotted rgba(91, 127, 149, 0.64);
  border-right: 1px dotted rgba(91, 127, 149, 0.64);
}

.hourly-schedule-container table th {
  border: none;
  padding: 0px;
}

.hourly-schedule-container table td {
  padding: 0px;
  height: 26px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px rgba(91, 127, 149, 0.25);
}

.hourly-schedule-container table th svg g line {
  fill: none;
}

.hourly-schedule-container table th svg g text {
  fill: #5b7f95;
  pointer-events: none;
}

.hourly-schedule-container table th svg g text tspan:first-child {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.09px;
  text-align: center;
  color: #5b7f95;
}

.hourly-schedule-container table th svg g text tspan:last-child {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  text-align: center;
  color: #5b7f95;
}

.hourly-schedule-container table td svg {
  margin-top: 6px;
}

.hourly-schedule-container table td svg line {
  fill: none;
  stroke: rgba(91, 127, 149, 0.25);
  stroke-width: 1px;
  stroke-dasharray: 3 4;
}

.hourly-schedule-container table td label {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  margin: 0px 0px 0px 8px;
  color: #033b5c;
  top: 8px;
}

/* #endregion */

/* #region TIMELINE - CONTROLS */

.timeline-controls {
  background-image: linear-gradient(
    to bottom,
    rgba(120, 161, 206, 0),
    rgba(5, 81, 106, 0.75)
  );
}

.timeline-buttons {
  padding: 10px 16px;
}

.timeline-controls #fast-backward {
  margin-left: 6px;
  transform: rotate(180deg);
}

.timeline-controls #step-backward {
  margin-left: 18px;
}

.timeline-controls #play {
  margin-left: 18px;
}

.timeline-controls #step-forward {
  margin-left: 18px;
}

.timeline-controls #fast-forward {
  margin-left: 18px;
}

.timeline-controls #timespan-text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  text-align: center;
  color: #033b5c;
  margin-left: 44px;
}

.timeline-buttons-expand {
  filter: brightness(0) invert(1);
}

.timeline-controls #timeline-toggle {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  text-align: right;
  color: #0097a9;
  float: right;
}

.timeline-controls #icon-toggle {
  margin-bottom: 4px;
}

/* #endregion */

/* #region TIMELINE - SLIDER */

.timeline-controls .timeline-slider .e-slider {
  cursor: pointer;
}

.timeline-slider .e-control-wrapper.e-slider-container.e-horizontal {
  height: 12px;
}

.timeline-controls .timeline-slider .e-slider-track {
  background: #fff !important;
}

.timeline-controls .timeline-slider .e-limits {
  background: #fff !important;
  z-index: -1;
}

/* #endregion */

/* #region  SLIDER */

.slider-content-wrapper {
  width: 40%;
  margin: 0 auto;
  min-width: 185px;
}

.slider-userselect {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.slider-labeltext {
  text-align: -webkit-left;
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 10px;
}

.material .e-slider-container #height_slider.e-slider .e-handle,
.material.e-bigger .e-slider-container #height_slider.e-slider .e-handle,
.material .e-slider-container #gradient_slider.e-slider .e-handle,
.material.e-bigger .e-slider-container #gradient_slider.e-slider .e-handle {
  height: 16px;
  width: 16px;
}

.material .e-slider-container.e-horizontal #height_slider .e-handle,
.material.e-bigger .e-slider-container.e-horizontal #height_slider .e-handle,
.material .e-slider-container.e-horizontal #gradient_slider .e-handle,
.material.e-bigger .e-slider-container.e-horizontal #gradient_slider .e-handle {
  margin-left: -8px;
  top: calc(50% - 8px);
}

.e-bigger:not(.material)
  .e-slider-container.e-horizontal
  #height_slider.e-slider
  .e-handle,
.e-bigger:not(.material)
  .e-slider-container.e-horizontal
  #gradient_slider.e-slider
  .e-handle {
  margin-left: -11px;
  top: calc(50% - 11px);
}

.e-bigger:not(.material) .e-slider-container #height_slider.e-slider .e-handle,
.e-bigger:not(.material)
  .e-slider-container
  #gradient_slider.e-slider
  .e-handle {
  height: 22px;
  width: 22px;
}

.e-slider-container #height_slider.e-slider .e-handle,
.e-slider-container #gradient_slider.e-slider .e-handle {
  height: 12px;
  width: 12px;
}

.e-slider-container.e-horizontal #height_slider .e-handle,
.e-slider-container.e-horizontal #gradient_slider .e-handle {
  margin-left: -10px;
  top: calc(50% - 10px);
}

.slider_container {
  margin-top: 40px;
}

.e-bigger .slider-content-wrapper {
  width: 80%;
}

#height_slider .e-tab-handle::after {
  background-color: #f9920b;
}

#height_slider.e-control.e-slider .e-slider-track {
  cursor: grab;
  height: 4px;
  top: calc(50% - 6px);
  border-radius: 0;
}

.e-control-wrapper.e-slider-container.e-horizontal #height_slider .e-limits {
  top: calc(50% - 6px);
}

.e-control-wrapper.e-slider-container.e-horizontal #height_slider .e-range {
  cursor: grab;
  height: 4px;
  top: calc(50% - 6px);
}

.highcontrast #height_slider.e-control.e-slider .e-slider-track {
  height: 10px;
  top: calc(50% - 5px);
  border-radius: 0;
}

.fabric .slider_container .e-slider-hover .e-slider-track,
.fabric .slider_container .e-slider-container:active .e-slider-track,
.fabric .slider_container .e-slider-container .e-slider .e-tab-track {
  background-color: #c8c8c8;
}

.fabric .slider_container .e-slider-hover .e-slider-track,
.fabric .slider_container .e-slider-container:active .e-slider-track,
.fabric .slider_container .e-slider-container .e-slider .e-tab-track {
  background-color: #c8c8c8;
}

.e-control-wrapper.e-slider-container #height_slider.e-slider .e-handle {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75) !important;
  border: solid 1px #0097a9 !important;
  background-color: #ffffff !important;
}

/* vertical line starts */

.vertical-line {
  border-left: 2px solid #0097a9;
  height: 54.4375em;
  z-index: 1;
  position: absolute;
  top: 60%;
}

/* vertical line stops */

/* #endregion */
