<div style="position: relative;">
  <div class="container-fluid hourly-schedule-container" style="position: relative">
    <!-- VIDEOS -->
    <div class="row" style="margin-bottom: 4px;">
      <div class="video-container" *ngFor="let camera of archive?.feeds; let i = index" style="position: relative"
        [ngClass]="{
        'col-md-12': archive?.feeds.length === 1,
        'col-md-6': archive?.feeds.length >= 2 && archive?.feeds.length <= 4,
        'col-md-4': archive?.feeds.length >= 5 && archive?.feeds.length <= 6,
        'col-md-3': archive?.feeds.length >= 7
      }">
        <label class="form-title-xs-fade" style="margin-top: 12px; font-weight: 700">
          {{ camera.name }}
        </label>
        <video [id]="camera.id" class="video video-js vjs-default-skin vjs-ascribe"
          [poster]="camera.isLoading ? '' : camera?.url ? './assets/images/icon-loading.svg' : './assets/images/no-video-placeholder.svg'"
          [src]="camera.url + (sasToken$ | async) + '#t=0.5'" (waiting)='onWaiting(camera.id)'
          (canplay)="onCanPlay(camera.id)" [ngStyle]="{'padding': !camera.url ? '5em 0px' : '0px'}" style="width: 100%;"
          preload="metadata" [ngClass]="{
            'video-lg': archive?.feeds.length >= 1 && archive?.feeds.length <= 2,
            'video-md': archive?.feeds.length >= 3 && archive?.feeds.length <= 8,
            'video-sm': archive?.feeds.length >= 9 && archive?.feeds.length <= 12,
            'video-xs': archive?.feeds.length >= 13
          }">
        </video>
        <img *ngIf="camera.isLoading" width="200" height="200" src="./assets/images/icon-loading.svg">
      </div>
    </div>

    <!-- CONTROLS -->
    <div class="timeline-section">
      <!-- GRID -->
      <div class="timeline-container" [@ExpandMinimize]="isTimelineExpanded ? 'true' : 'false'"
        style="position: absolute; bottom: 55px; width: 100%; padding-left: 0.3%; padding-right: 0.3%; background: #e4f0f1">
        <table #timelineContainer class="table" width="99.4%">
          <thead>
            <tr>
              <th colspan="12" height="40px">
                <svg width="100%" height="100%">
                  <g *ngFor="let time of timeline; let i = index">
                    <line [attr.x1]="((100 / 12) * i) + '%'" y1="0" [attr.x2]="((100 / 12) * i) + '%'" y2="100%" />
                    <text class="svg-text" [attr.x]="((100 / 12) * i) + '%'" y="20">
                      <tspan [attr.x]="((100 / 12) * i) + '%'" y="18">
                        {{ time.text }}
                      </tspan>
                      <tspan [attr.x]="(((100 / 12) * i) + 0.6) + '%'" y="30">
                        {{ time.meridiem }}
                      </tspan>
                    </text>
                  </g>
                </svg>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let camera of archive?.feeds; let i = index">
              <td colspan="12" style="position: relative">
                <label class="timeline-label" style="position: absolute">
                  Camera {{ camera.name }}</label>
                <svg width="100%" height="10px">
                  <g>
                    <rect *ngFor="let duration of camera.durations" [attr.width]="
                      duration.width ? duration.width + '%' : 0
                    " height="10" [attr.x]="duration.offset ? duration.offset + '%' : 0"
                      [ngStyle]="{ fill: camera.color }" rx="2" ry="2" />
                  </g>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div #timelineContainer class="col-md-12">
          <div class="timeline-controls">
            <div class="timeline-buttons" [ngClass]="{ 'timeline-buttons-expand': isTimelineExpanded }">
              <img id="fast-backward" src="./assets/images/icon-fast-forward.svg" height="16" title="Previous Hour"
                (click)="fastBackward()" />
              <img id="step-backward" src="./assets/images/syn-backwards-active.svg" height="16" title="Step Backward"
                (click)="stepBackward()" />
              <img id="play" [src]="isPlaying ? pauseIcon : playIcon" height="16" [title]="isPlaying ? 'Pause' : 'Play'"
                (click)="isPlaying ? onPause() : onPlay()" />
              <img id="step-forward" src="./assets/images/syn-forward-active.svg" height="16" title="Step Forward"
                (click)="stepForward()" />
              <img id="fast-forward" src="./assets/images/icon-fast-forward.svg" height="16" title="Next Hour"
                (click)="fastForward()" />
              <span id="timespan-text">
                {{ currentTime | date: "hh:mm:ss aa" | lowercase }} &nbsp;&nbsp;
                to &nbsp;&nbsp; {{ timespanEnd }}
              </span>
              <button id="timeline-toggle" (click)="isTimelineExpanded = !isTimelineExpanded">
                {{ isTimelineExpanded ? "Minimize" : "Expand" }}
                <img id="icon-toggle" width="12" [src]="
                  isTimelineExpanded
                    ? './assets/images/icon-minimize.svg'
                    : './assets/images/icon-expand.svg'
                " />
              </button>
            </div>
            <div class="timeline-slider" style="position: relative;">
              <ejs-slider #slider id="height_slider" min="-24" max="3600" type="MinRange" [tooltip]="tooltip"
                [limits]="limits" (created)="onCreated()" (change)="onSliderChanging($event)"
                (changed)="onSliderChanged($event)" (tooltipChange)="tooltipChangeHandler($event)">
              </ejs-slider>
              <svg [@ExpandMinimize]="isTimelineExpanded ? 'true' : 'false'" width="100%"
                [attr.height]="84 + (26 * archive?.feeds?.length) + 'px'"
                style="position: absolute; left: 0px; pointer-events: none; bottom: 10px;">
                <line [attr.x1]="sliderOffset" [attr.x2]="sliderOffset"
                  [attr.y2]="84 + (26 * archive?.feeds?.length) + 'px'" y1="0"
                  style="stroke: #0097a9; stroke-width: 2px;" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>