<app-list [dataSource]="newUploads$ | async" [allowResizing]= 'true' [columns]="columns" [toolbar]="toolbar" [showTotal]="true"
  [totalText]="'Total Uploads'" (toolbarClick)="onToolbarClick($event)" (rowSelected)="rowSelectedEvent($event)"
  (rowDeselected)="rowDeselectedEvent($event)" (edit)="editEvent($event)" [statusIconPosition]="0">
</app-list>

<app-modal #confirmModal type="confirm" title="Confirm Action" [message]="message" (yes)="confirmed()"></app-modal>