.stage-one-container .form-title-lg {
  letter-spacing: 0.14px;
}

.stage-one-container #session-title {
  width: 80% !important;
  margin-left: 12px;
  margin-right: 12px;
}

.stage-one-container .form-group img {
  margin-top: -5px;
}

.stage-one-container .form-description {
  color: #d60f36;
  margin-bottom: 0px;
}

.stage-one-container .step-2 i {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #5b7f95;
}

.stage-one-container .step-2 i:nth-child(2) {
  margin-left: 7px;
}

.stage-one-container .step-2 i:last-child {
  color: #009b77;
}

.stage-one-container .omv-green {
  margin: 0px;
  font-size: 16px !important;
  padding: 10px 40px !important;
}

.stage-one-container .navigation-buttons button {
  font-size: 18px !important;
  padding: 10px 50px !important;
  margin: 0px !important;
}
