<div id="container" class="stage-one-container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-title-lg"> Step 1 </label>
        <input #title type="text" id="session-title" class="form-control custom-form-control"
          placeholder="Session Title..." (keyup)="sessionTitle = title.value; evaluate();" (keydown)="isTyping = true"
          (focusout)="onFocusOut(sessionTitle); isTyping = false;" [value]="sessionTitle" autocomplete="off">
        <img *ngIf="isTitleDirty && !isTyping" width="20"
          [src]="isValidating ? './assets/images/icon-input-spinner.svg' : isTitleValid ? './assets/images/icon-success.svg' : './assets/images/icon-error.svg'">
        <div *ngIf="isTitleDirty && !isTitleValid && !isValidating && !isTyping">
          <label class="form-title-lg" style="visibility: hidden;"> Step 1 </label>
          <label class="form-description" style="margin-left: 12px;">
            {{ title.value ? 'The title already exists. Please use a different title.' : 'Please enter a title.' }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 step-2">
      <label class="form-title-lg"> Step 2 </label>
      <i> Select Video </i>
      <i> (You can skip this for now and update later) </i>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3" style="align-self: flex-end">
      <ejs-dropdownlist #assetSelect [dataSource]="assets$ | async" [fields]="fields" [(value)]="assetId"
        class="custom-ddl asset-dropdown-qa" [showClearButton]="true" placeholder="Select Asset">
      </ejs-dropdownlist>
    </div>
    <div class="col-md-3" style="align-self: flex-end">
      <ejs-dropdownlist #groupSelect [dataSource]="groups$ | async" [fields]="fields" [(value)]="groupId"
        class="custom-ddl group-dropdown-qa" [showClearButton]="true" placeholder="Select Group">
      </ejs-dropdownlist>
    </div>
    <div class="col-md-3" style="align-self: flex-end">
      <button class="omv-green search-button-qa" (click)="searchVideo()"> Search </button>
    </div>
  </div>

  <br><br>
  <app-tile-view #tileView [dataSource]="videos$ | async" type="live-stream" [hasFavorite]='false'
    [allowPagination]="true" [allowPaginationRouting]="false" [pageSize]='pageSize' [pageCount]='5'
    [currentPage]="currentPage" [totalRecordsCount]="totalVideos$ | async" (changePage)="onPageChanged($event)"
    (toggleCheckBox)="selectVideo($event)">
  </app-tile-view>

  <div class="navigation-buttons">
    <div class="float-right">
      <button class="omv-primary" (click)="next()" [disabled]="!title.value">
        <ng-container *ngIf="isValidatingWithButton; else defaultText">
          <div class="button-spinner"></div>
        </ng-container>
      </button>
    </div>
    <ng-template #defaultText> Next </ng-template>
  </div>
  <br>
</div>