<app-live-stream-favorites-tileview *ngIf="viewType === 'tile'"></app-live-stream-favorites-tileview>
<app-live-stream-favorites-listview *ngIf="viewType === 'list'"></app-live-stream-favorites-listview>