<div class="row">
  <div class="pb-3 col-md-12">
    <span class="pt-3">
      <button class="button-plus float-right" (click)="addNewTemplate()"> Add New Template </button>
    </span>
  </div>
</div>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteField()">
</app-modal>

<app-list [dataSource]="emailTemplates$ | async" [columns]="columns">
</app-list>