<app-tree-grid #treegrid [dataSource]="data | async" [columns]="columns" [treeColumnIndex]="2" [idMapping]="'id'"
  [parentIdMapping]="'parentId'" [hasChildMapping]="'hasChild'" [selectionOptions]="selectionOptions"
  (dataStateChange)="dataStateChange($event)" (toggleFavorite)="toggleFavoriteEvent($event)"
  (download)="download($event)" (rowChecked)="rowChecked($event)" (edit)="editEvent($event)">
</app-tree-grid>

<!-- <div id='treeparent' style="padding-top:2rem;">
	<ejs-treeview id='tree' #treeview [fields]='data' [showCheckBox]='false' [allowDragAndDrop]='true'
		(dataBound)="dataBound($event)" (nodeEdited)="onNodeEdited($event)" (nodeDropped)="onNodeDropped($event)"
		(nodeExpanding)="onNodeExpanding($event)" (dataSourceChanged)="dataStateChange($event)">
  </ejs-treeview>
  </div> -->
