<ejs-treeview #treeview id="icons" [fields]='field' [showCheckBox]='true' [checkedNodes]="checkedNode"
  (nodeExpanding)="onNodeExpanding($event)" (nodeChecked)='nodeChecked($event)' (dataBound)='dataBound($event)'>
</ejs-treeview>

<button type="button" class="button-default update-media-access-qa" (click)="updateMediaAccess()" style="float: right;">
  Update Access
</button>