<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>

<label id="form-title" class="form-title-xxl"> Report Issue </label><br>
<label id="form-description" class="custom-label-lg-fade">
  Send a message to provide feedback, share a recommendation or offer an idea for improvement
</label>

<form novalidate (ngSubmit)="save()" [formGroup]="reportForm">
  <div class="row">
    <div class="col-4">
      <input class="form-control custom-form-control-lg" type="text" placeholder="Please enter the subject"
        formControlName="subject"
        [ngClass]="{'is-invalid': (reportForm.get('subject').touched || reportForm.get('subject').dirty) && !reportForm.get('subject').valid }" />
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <textarea id="textare" [placeholder]="'Type here...'" class="form-control custom-form-control-lg"
        formControlName="message" rows="9"
        [ngClass]="{'is-invalid': (reportForm.get('message').touched || reportForm.get('message').dirty) && !reportForm.get('message').valid }">
      </textarea>
      <br>
      <div id="buttons-container">
        <div style="display: inline-flex;">
          <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
          <button type="button" class="button-attachment-transparent float-left" (click)="addFiles()">
            {{ selectedFiles?.length > 0 ? 'Change File(s)' : 'Attach File(s)' }}
          </button>
          <span id="selected-file" class="custom-label-lg-fade">{{fileAddedText}}</span>
          <span id="selected-file" *ngIf="selectedFiles?.length > 0" class="custom-label-lg-fade">
            {{ selectedFiles?.length === 1 ? selectedFiles[0]?.name : (selectedFiles[0]?.name + ' and ' + (selectedFiles?.length - 1) + ' other(s) ') }}
          </span>
        </div>
        <button type="submit" class="button-round-lg float-right" [disabled]='!reportForm.valid || !reportForm.dirty'>
          SUBMIT
        </button>
      </div>
    </div>
  </div>
  <br>

  <div>
    <span id="followup-message" class="custom-label-lg-fade">
      May we contact you to follow up on your feedback?
    </span>
    <ejs-radiobutton name="followUp" formControlName="isFollowUp" label="Yes" value="1" labelPosition="Before"
      (change)="onFollowupChanged($event)">
    </ejs-radiobutton>
    <ejs-radiobutton name="followUp" formControlName="isFollowUp" label="No" value="0" labelPosition="Before"
      (change)="onFollowupChanged($event)">
    </ejs-radiobutton>
  </div>
  <br><br>

  <div *ngIf="allowFollowUp">
    <div FormArrayName="availability">
      <label id="availability" class="custom-label-lg"> Availablity: </label>
      <br><br>
      <div>
        <label class="form-title-md">Day of week:</label>
        <span *ngFor="let day of reportForm.controls.availability.controls; let i = index" style="margin-left: 20px">
          <ejs-checkbox [label]="availability[i].name" [formControl]="day"></ejs-checkbox>
        </span>
      </div>
    </div>
    <br><br>
    <div style="display: inline-flex">
      <label class="form-title-md" style="margin-top: 8px">Time:</label>
      <ejs-timepicker formControlName="startTime" placeholder='Start time' class="form-control custom-form-control"
        [strictMode]='true' [min]='startMinValue' [max]='startMaxValue' (change)="onStartTimeChanged($event)"
        style="margin-left: 20px; margin-right: 20px; width: 25% !important">
      </ejs-timepicker>
      <label class="form-title-md" style="margin-top: 8px">to</label>
      <ejs-timepicker formControlName="endTime" placeholder='End time' class="form-control custom-form-control"
        [strictMode]='true' [min]='endMinValue' [max]='endMaxValue' (change)="onEndTimeChanged($event)"
        style="margin-left: 20px; margin-right: 20px; width: 25% !important">
      </ejs-timepicker>
    </div>
  </div>
</form>