#form-title {
  margin-top: 10px;
}

#form-description {
  margin-top: 8px;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.11px;
}

#buttons-container {
  margin-top: 10px;
}

#selected-file {
  margin-left: 10px;
  font-size: 18px;
}

#followup-message {
  vertical-align: sub;
  font-size: 18px;
}

#availability {
  font-size: 18px;
}