<app-buttons [buttons]="buttons" position="right"></app-buttons>

<input #file type="file" accept=".json" style="display: none" (change)="onFileChosen()" />

<app-modal #confirmModal type="confirm" title="Confirm Import" (yes)="confirmImport()"
  message="Are you sure you want to override the current Draft?">
</app-modal>

<app-list [dataSource]="versions$ | async" [columns]="columns" [allowGridPaging]="true"></app-list>

<app-modal #commentModal type="form" title="Add Comment" [controls]="controls"></app-modal>