<div tabindex="0" class="e-card media-card-{{index}}_QA" id="basic">
  <div tabindex="0" class="e-card" id="basic_card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">
          <ejs-tooltip #tooltip id='tooltip' [content]="data?.name ? data.name : 'Unknown'" position='TopCenter'>
            <img class="card-tooltip" src="./assets/images/info.png">
          </ejs-tooltip>

          <div class="float-right">
            <span>
              <label id="tile-type" class="label-size-12 label-bold-600">
                {{ data.isVideo ? 'VIDEO' : data.type }}
              </label>
              <label id="tile-size">
                {{ data.size | filesize:0 }}
              </label>
            </span>
            <span>

                <span id="tile-fav" style="margin-right: 20px;" type="checkbox" 
                [ngClass]="data.isFavorite ? 'c-checkbox-star-checked' : 'e-checkbox-star'"
                (click)="toggleFavoriteEvent(data)"></span>

                
              <!-- <input id="tile-fav" class="c-checkbox-star" type="checkbox" title="" [checked]="data.isFavorite"
                (click)="toggleFavoriteEvent(data)"> -->
              <ejs-checkbox id="checkbox" cssClass="e-small" [checked]="data.isChecked"
                (change)="toggleCheckboxEvent(data)"></ejs-checkbox>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="e-card-content">
      <div class="thumbnail-container">
        <a *ngIf="data.routeLink" [routerLink]="data.routeLink">
          <img [src]="data.thumbnail" [default]="'./assets/images/default-image-placeholder.jpg'" height="150"
            width="100%">
        </a>
        <img *ngIf="!data.routeLink" (click)="tileClickEvent(data)" [src]="data.thumbnail" [default]="data.url"
          height="150" width="100%">
        <img *ngIf="data?.isVideo" class="play-overlay" src="./assets/images/icon-play-overlay.svg" alt="">
      </div>
      <span>
        <p [title]="data.name | uppercase | fileName" id="tile-name" class="label-size-12">
          {{ (data.name ? data.name : 'Unknown') | uppercase | fileName }}
        </p>
        <p id="tile-date" class="label-size-12 label-bold-600">
          {{ data.modifiedOn | date }}
        </p>
      </span>
    </div>
  </div>
</div>