.image-loaded {
  width: 100% !important;
  border: solid 1px rgba(91, 127, 149, 0.25);
  height: 155px !important;
  margin-bottom: 13px;
}

.e-card {
  border-radius: 4px;
  box-shadow: 0 2px 11px 0 rgba(91, 127, 149, 0.25);
  background-color: #fefefe;
  transition: all 0.3s ease-in-out;
}

.e-card:hover {
  transform: scale(1.01);
}

.e-card-header {
  padding-bottom: 0px;
}

#tile-type {
  margin-right: 7px;
  vertical-align: middle;
  color: #033b5c;
  margin-bottom: 0px;
}

#tile-size {
  margin-right: 10px;
  margin-bottom: 0px;
  vertical-align: middle;
}

#tile-fav {
  margin-right: 10px;
  vertical-align: top;
}

#tile-name {
  color: #033b5c;
  text-align: left;
}

#tile-date {
  color: #00263e;
  margin: 25px 0px 3px 0px;
}

.card-tooltip {
  vertical-align: initial;
  padding-right: 0.5rem;
  cursor: pointer;
}

.tile-card-date {
  margin-bottom: 0px;
  padding-bottom: 15px;
}

.thumbnail-container {
  position: relative;
}

.thumbnail-container .play-overlay {
  position: absolute;
  top: 46%;
  left: 50%;
  width: 4em;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  pointer-events: none;
}
