<div class="row">
  <div class="pb-3 col-md-12">
    <span class="pt-3">
      <button class="button-plus float-right" (click)="editGroup()">
        Add New Group
      </button>
    </span>
  </div>
</div>

<app-list #groupsList [dataSource]="groups" [columns]="columns" [toolbar]="toolbar" [showTotal]="true"
  [allowFiltering]="true" [allowSearch]="true" [allowGridPaging]="true" [totalText]="'Total Groups'"
  [totalRecordsCount]="totalGroups$ | async" (rowSelected)="rowSelectedEvent($event)"
  (rowDeselected)="rowDeselectedEvent($event)">
</app-list>

<app-modal #permissionsModal type="listview" title="Assign Groups to Permissions" [dataSource]="permissions$ | async"
  [fields]="field" saveText="SAVE" (rowSelected)="modalRowSelected($event)" (save)="savePermissions()"
  (close)="clearPermissionsSelection()">
</app-modal>