<div id="tile-container" [ngSwitch]="type">
  <div *ngSwitchCase="'chart'" #tileParent class="row card-layout">
    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-4" style="padding-bottom: 2.5rem"
      *ngFor="let data of dataSource; let i = index">
      <app-item-chart-card [data]="data" [index]="i" (tileClick)="tileClickEvent($event)"
        (cycleSelected)="onCycleSelected($event)" (click)="setItemname(data)">
      </app-item-chart-card>
    </div>
  </div>

  <div *ngSwitchCase="'table'" #tileParent class="row card-layout">
    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-4" style="padding-bottom: 2.5rem"
    *ngFor="let tableData of dataSource; let i = index">
      <app-item-table-card [tableData]="tableData" >
      </app-item-table-card>
    </div>
  </div>

  <div *ngSwitchCase="'group'" #tileParent class="row card-layout group-card">
    <div class="col-xs-12 row" style="justify-content: space-between; margin: 0;"
      *ngFor="let data of dataSource; let i = index">
      <div class="col-md-12 group-card-label group-card-style">
        {{ data.name }}
        <span class="group-card-text"> {{ data.frequency }} </span>
      </div>
      <!-- <div *ngFor="let tile of data.images; let i = index">
        <app-group-card [data]="tile"></app-group-card> -->
      <div *ngFor="let tile of data.workFile; let i = index" style="margin-bottom: 30px;">
        <app-group-card (toggleCheckbox)="toggleCheckboxEvent($event)" [data]="tile" [sasToken]="sasToken"
          (tileClick)="tileClickEvent($event)"></app-group-card>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'collaboration'" style="margin-top: 5px;" #tileParent class="row card-layout">
    <div class="col-md-12" style="margin: 1px 0;" *ngFor="let data of dataSource; let i = index"
      [ngClass]="{ 'participation-modal': isModal }">
      <app-collaboration-card [data]="data" (add)="addParticipant($event)" (edit)="editSession($event)"
        (remove)="removeCollaboration($event)" (join)="joinSession($event)" (tileClick)="tileClickEvent($event)">
      </app-collaboration-card>

    </div>
  </div>

  <div *ngSwitchCase="'participant'" style="display: flex;flex-wrap: wrap;margin-top: 30px;" #tileParent
    class="card-layout">
    <div style="margin: 10px 0;" class="col-md-3 col-sm-4" *ngFor="let data of dataSource; let i = index"
      [ngClass]="{ 'participation-modal': isModal }">
      <app-participant-card [data]="data" [status]="status" (add)="addParticipant($event)"
        (remove)="removeParticipant($event)">
      </app-participant-card>
    </div>
  </div>

  <div *ngSwitchCase="'live-stream'" #tileParent class="row card-layout">
    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3" style="padding-bottom: 2.5rem"
      *ngFor="let data of dataSource; let i = index">
      <app-live-stream-card *ngIf="!data.isMultiple" [data]="data" [index]="i" [hasFavorite]="hasFavorite"
        [showLive]="showLive" [hasPreview]="hasPreview" (toggleCheckbox)="toggleCheckboxEvent($event)"
        (toggleFavorite)="toggleFavoriteEvent($event)" (tileClick)="tileClickEvent($event)"
        (previewClick)="preview($event)">
      </app-live-stream-card>
      <app-search-card *ngIf="data.isMultiple" [hideDate]="true" [data]="data" [index]="i"
        (toggleFavorite)="toggleFavoriteEvent($event)" (tileClick)="tileClickEvent($event)">
      </app-search-card>

    </div>
  </div>


  <div *ngSwitchDefault #tileParent class="row card-layout">
    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3" style="padding-bottom: 2.5rem"
      *ngFor="let data of dataSource; let i = index">
      <app-media-card *ngIf="!data.isSearch" [data]="data" [index]="i" (toggleCheckbox)="toggleCheckboxEvent($event)"
        (toggleFavorite)="toggleFavoriteEvent($event)" (tileClick)="tileClickEvent($event)">
      </app-media-card>
      <app-search-card *ngIf="data.isSearch" [data]="data" [index]="i" (toggleFavorite)="toggleFavoriteEvent($event)"
        (tileClick)="tileClickEvent($event)">
      </app-search-card>
    </div>
  </div>

</div>

<!-- Pagination -->
<app-pager *ngIf="allowPagination" [pageCount]="pageCount" [pageSize]="pageSize" [pageSizes]="pageSizes" [currentPage]="currentPage"
  [totalRecordsCount]="totalRecordsCount" [showDropdown]="showPagerDropdown"
  (pageNumberChanged)="onPageNumberChanged($event)" (pageSizeChanged)="onPageSizeChanged($event)">
</app-pager>