/* .card{
    
}
.e-card-header{
    padding-bottom: 0px;
}

.favorite-cls{
    vertical-align: initial;
    padding-right: .8rem;
}
.info-cls{
    vertical-align: initial;
    padding-right: .5rem;
    cursor: pointer;
}
.align-items{
    vertical-align: middle;
    display: inline-flex;
}
.tile-card-date{
    margin-bottom: 0px;
    padding-bottom: 15px;
} */

.group-card {
    position: relative;
    top: 10px;
}

.group-card-label {
    padding-bottom: 14px;
}

.group-card-text {
    width: 301px;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b7f95;
}

.group-card-style {
    font-style: normal;
    width: 301px;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b7f95;
    padding-left: 0px;
}

.participation-modal {
    max-width: 250px;
}