<div class="dashboard-container">
	<div *ngIf="!isCustomizable" (click)="customizeDashboard()" style="width: 16em;">
		<img class="customize-icon" src="./assets/images/customize-icon.svg" />
		<div class="customize-label">Customize Dashboard</div>
	</div>

	<div *ngIf="isCustomizable">
		<div class="row">
			<div class="col-md-12">
				<ejs-tooltip #tooltip id='tooltip' content='Select Layout'>
					<button ejs-button id="target" (click)="showlayoutDialogList()">Select Layout</button>
				</ejs-tooltip>
				<ejs-tooltip #tooltip id='tooltip' content='Select Layout' style="margin-left: 2em;">
					<button ejs-button id="add-panel-target" (click)="addWidget('add-panel')">Add Panel</button>
				</ejs-tooltip>
				<div class="" style="float: right">
					<button ejs-button id='saveBtn' #saveBtn cssClass="e-primary" (click)='onSaveClick()'>Save</button>
					<button ejs-button id='cancelBtn' #cancelBtn cssClass="e-flat e-outline"
						(click)='oncancelClick()'>Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<hr class="stroke" />
	<div class="row">
		<div class="col-sm-12">
			<div id="dashboard_layout">
				
			</div>
		</div>
	</div>
	<ejs-dialog #sectionDialog [visible]="false" [width]='500' isModal="true">
		<ng-template #content>
			<form>
				<img class="dialog-close" (click)="closeWidgetsDialogList()" src="./assets/images/dialog-close.svg" />
				<br />
				<label class="dialog-title"> Add Widget </label>
				<hr /><br />
				<div *ngFor="let widget of widgetLabels">
					<div class="row pt-3">
						<div class="col-md-12">
							<label class="media-label pt-3" (click)="addWidget(widget)" style="cursor: pointer;">
								{{ widget.name }}</label>
						</div>
					</div>
				</div>

				<div *ngIf="widgetLabels.length == 0" class="no-widget-label">
					<label>
						No available widget for selection.
					</label>
				</div>

			</form>
		</ng-template>
	</ejs-dialog>

	<ejs-dialog #layoutDialog [visible]="false" [width]="900" isModal="true">
		<ng-template #content>
			<form>
				<img class="dialog-close" (click)="closeLayoutDialog()" src="./assets/images/dialog-close.svg" />
				<br />
				<label class="dialog-title"> Add a Layout</label>
				<hr /><br />
				<div class="col-lg-4">
					<div class="property-section dashboard" id="dash_property">
						<div class="property-panel-header">
						</div>
						<div class="row property-panel-content" id="template" (click)="onTemplateClick($event)">
							<div class="row row-header">
								Choose dashboard layout
							</div>
							<div class="row" style="padding-top: 3px;">
								<div class="image-pattern-style e-selected-style" id="template1" data-id="1"></div>
								<div class="image-pattern-style" id="template2" data-id="2"></div>
								<div class="image-pattern-style" id="template3" data-id="3"></div>
							</div>
						</div>
					</div>

				</div>
			</form>
		</ng-template>
	</ejs-dialog>

	<app-modal #confirmModal type="confirm" title="Confirm Change" [message]="changeTemplateMessage"
		(yes)="changeTemplate(true)" (no)="closeDialog()">
	</app-modal>
</div>