.image-loaded {
	width: 100% !important;
	border: solid 1px rgba(91, 127, 149, 0.25);
	height: 161px !important;
    margin-bottom: 15px;
}

.e-card {
	border-radius: 4px;
	box-shadow: 0 2px 11px 0 rgba(91, 127, 149, 0.25);
	background-color: #fefefe;
	transition: all .3s ease-in-out;
}

.e-card:hover {
	transform: scale(1.01);
}

.e-card-header {
	padding-bottom: 0px;
}

#tile-type {
	margin-right: 7px;
	vertical-align: middle;
	color: #033b5c;
	margin-bottom: 0px;
}

.rectangle {
	width: 320px !important;
    height: 280px;
	border-radius: 4px;
	box-shadow: 0 2px 11px 0 rgba(91, 127, 149, 0.25);
	background-color: lightgrey;
  }
  .image-size{
    width: 267px;
    height: 155px;
  }

  .image-txt {
    /* width: 271px !important;
    height: 26px; */
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.01px;
    color: #033b5c;
    /* padding-top: 12px; */
    
  }

  .image-date {
    /* width: 122px;
    height: 13px; */
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.01px;
    color: #00263e;
  }
 

#tile-size {
	margin-right: 10px;
	margin-bottom: 0px;
	vertical-align: middle;
}

#tile-fav {
	margin-right: 10px;
	vertical-align: top;
}

#tile-name {
	color: #033b5c;
	text-align: left;
}

#tile-date {
	color: #00263e;
	/* margin: 25px 0px 3px 0px; */
}

.card-tooltip {
	vertical-align: initial;
	padding-right: .5rem;
	cursor: pointer;
}

.tooltip-info {
  font-size: 14px;
  font-weight: 300;
}

.tile-card-date {
	margin-bottom: 0px;
	padding-bottom: 15px;
}

