<div tabindex="0" class="e-card rectangle" id="basic">
  <div tabindex="0" class="e-card" id="basic_card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">
          <ejs-tooltip #tooltip id='tooltip' position='TopCenter'>
            <ng-template #content>
              <div class="tooltip-info">
                <p> Process Name: {{ data?.processName }} </p>
                <p> Process Code: {{ data?.processCode }} </p>
                <p> Metadata Field: {{ data?.metadataField }} </p>
                <p> Finding Name: {{ data?.findingName }} </p>
              </div>
            </ng-template>
            <img class="card-tooltip" src="./assets/images/info.png">
          </ejs-tooltip>

          <div class="float-right">
            <span>
              <label id="tile-type" class="label-size-12 label-bold-600">
                {{ data?.type }}
              </label>
              <label id="tile-size">
                {{ data?.size | filesize:0 }}
              </label>
            </span>
            <span>
              <ejs-checkbox id="checkbox" cssClass="e-small" [checked]="data?.isChecked"
                (change)="toggleCheckboxEvent(data)"></ejs-checkbox>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="e-card-content">
      <!-- <a *ngIf="data.routeLink" [routerLink]="data.routeLink">
        <img [src]="data.thumbnail" [default]="data.url" height="155" width="100%">
      </a> -->
      <img (click)="tileClickEvent(data)" [src]="data.thumbnail + sasToken" [default]="data.url + sasToken" height="150" width="100%">
      <span>
        <p id="tile-name" class="label-size-12 image-txt">
          {{ (data?.name ? data?.name : 'Unknown') | uppercase | fileName }}
        </p>
        <p id="tile-date" class="label-size-12 label-bold-600 image-date">
          {{ data?.modifiedOnString | date }}
        </p>
      </span>
    </div>
  </div>
</div>