<app-list *ngIf="!showParentListItems" [dataSource]="metadataListItems$ | async" [columns]="columns"
	[allowGridPaging]="true" [footer]="footer">
</app-list>

<app-list *ngIf="showParentListItems" [dataSource]="metadataListItems$ | async" [columns]="columnsWithParentListItems"
	[allowGridPaging]="true" [footer]="footer">
</app-list>

<ejs-dialog #listItemDialog [visible]='false' [width]='500' isModal="true">
	<ng-template #content>
		<button class="dialog-close" (click)="closeDialog()">
			<img src="./assets/images/dialog-close.svg" />
		</button>
		<br />

		<label class="dialog-title"> {{ isEdit? 'Edit List Item' : 'Add List Item to List' }} </label>
		<hr />
		<br />
		<form novalidate [formGroup]="metadataListItemForm">
			<div class="row pt-3">
				<div class="col-md-3">
					<label class="media-label" style="padding-top: 11px;">
						List Name:
					</label>
				</div>
				<div class="col-md-8">
					<input class="form-control custom-form-control" type="text" placeholder="" autofocus
						formControlName="description" [ngClass]="{'is-invalid': (metadataListItemForm.get('description').touched ||
																			   metadataListItemForm.get('description').dirty) &&
																			  !metadataListItemForm.get('description').valid }"
						(keyup.enter)="(metadataListItemForm.valid && metadataListItemForm.dirty) ? !isEdit ? addMembersClick() : updateListItem() : return;" />
				</div>
			</div>
			<br>
			<div class="row pt-3" *ngIf="showParentListItems">
				<div class="col-md-3">
					<label class="media-label" style="padding-top:11px">Dependency:</label>
				</div>
				<div class="col-md-8">
					<ejs-dropdownlist #samples formControlName="parentId" class="form-control custom-form-control"
						[dataSource]='parentMetadataListItems$ | async' [placeholder]="'Select'" [fields]='parentFields'>
					</ejs-dropdownlist>
				</div>
			</div>
			<br><br>
			<div id="buttons" *ngIf="!isEdit">
				<button type="button" (click)="addMembersClick()" class="button-round"
					[disabled]="!metadataListItemForm.valid || !metadataListItemForm.dirty">
					SAVE LIST ITEM
				</button>
			</div>
			<div id="buttons" *ngIf="isEdit">
				<button type="button" (click)="updateListItem()" class="button-round"
					[disabled]="!metadataListItemForm.valid || !metadataListItemForm.dirty">
					UPDATE CHANGES
				</button>
			</div>
			<br>
		</form>
	</ng-template>
</ejs-dialog>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteItems()">
</app-modal>