
  
  .body {
    color: #fefefe;
    font-family: Helvetica;
    padding: 2em;
  }
  
  .wrapper {
    text-align: center;
  }
  
  .file-title {
    font-size: 16px;
  }
  
  .droshadowclass {
    padding: 5px;
    border: solid 1px #EFEFEF;
  }
 
  .c-video {
    width: 100px;
    max-width: 800px;
    position: 'relative';
  }

  .controls{
    display: flex;
    position : absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgb(0, 0,0,0,7);

  }

  button {
   padding: 10pxx;
   }
   .video-content  > h4{
    color:#1C4F6D;
    font-size: 14px;
   }
  
  .description{
    font-size: 12px;
  }
  .title{
    font-weight: bolder;
  }
   .buttons button{
     background: none;
     border : 0;
     outline: 0;
     cursor: pointer;
   }
   .active{
     border-color:#0097a9;
     border-style: solid; 
     border-radius: 2px;
     box-shadow: 0 0 3px #0097A9;
   } 
   .text-center{
     text-align: center;
   }

   #custom-seekbar {
    /* cursor: pointer;
    height: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 3px #0097A9;
    overflow: hidden;
    position: relative;
    width: 86%;
    border-radius: 12px;
    margin-top: 32px;
    margin-left: 88px; */
    cursor: pointer;
      height: 11px;
      margin-bottom: 10px;
      box-shadow: 0 0 3px #0097A9;
      overflow: hidden;
      position: relative;
      width: 100%;
      border-radius: 8px;
      
     
  }
  #custom-seekbar span {
    background-color: #0097A9;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 0px;
  }
  
  