<app-breadcrumb [previousRoute]="previousRoute$ | async" [enableBackRouting]="true" (navigate)="onBack($event)">
</app-breadcrumb>

<app-multi-viewer *ngIf="playlist?.length > 0" [playlist]="playlist" [type]="'Playlist'" [transcript]="transcript"
  (getTranscript)="onGetTranscript($event)" (removeFromPlaylist)="onRemoveFromPlaylist($event)">
</app-multi-viewer>