.profile-view-container .offset {
  margin-left: 12.333%;
  margin-right: 12.333%;
}

.profile-view-container .profile-card {
  position: relative;
  display: flex;
  padding: 0px 15px 17px 0px;
  border-bottom: solid 1px rgba(91, 127, 149, 0.25);
  margin-bottom: 15px;
}

.profile-view-container-small .profile-card {
  position: relative;
  display: flex;
  padding: 0px 0px 0px 0px;
  margin-bottom: 15px;
}

.profile-view-container .profile-card .avatar-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-right: 15px;
}

.profile-view-container-small .profile-card .avatar-circle {
  width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-right: 9px;
}

.profile-view-container .profile-card .initials {
  position: relative;
  top: 12.5px; /* 25% of parent */
  font-size: 25px; /* 50% of parent */
  line-height: 25px; /* 50% of parent */
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.profile-view-container-small .profile-card .initials {
  position: relative;
  top: 7px; /* 25% of parent */
  font-size: 14px; /* 50% of parent */
  line-height: 14px; /* 50% of parent */
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.profile-view-container .profile-card .profile-details,
.profile-view-container-small .profile-card .profile-details {
  display: grid;
}

.profile-view-container .profile-card .profile-details label:first-child {
  opacity: 0.67;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.41px;
  color: #5b7f95;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile-view-container-small .profile-card .profile-details label:first-child {
  font-family: "Open Sans", sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: normal;
  color: #033b5c;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px !important;
}

.profile-view-container .profile-card .profile-details label:nth-of-type(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.08px;
  color: #5b7f95;
}

.profile-view-container-small
  .profile-card
  .profile-details
  label:nth-of-type(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #5b7f95;
}

.profile-view-container .profile-card .profile-details img {
  position: absolute;
  top: 6px;
  right: 0px;
}
