<ng-container *ngIf="type === 'viewer'">
  <div class="row profile-view-container-small">
    <div *ngFor="let profile of profiles; let i = index;" class="col-md-4">
      <div class="profile-card">
        <div class="avatar-circle" [ngStyle]="{'background-color': profile.id | avatar:'color'}">
          <span class="initials">
            {{ profile.name | avatar }}
          </span>
        </div>
        <div class="profile-details">
          <label [title]="profile.name"> {{ profile.name }} </label>
          <label> {{ profile.description || 'N/A' }} </label>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type !== 'viewer'">
  <div class="row profile-view-container">
    <div *ngFor="let profile of profiles; let i = index;"
      [ngClass]="{'col-md-3': type === 'default', 'col-md-12': type === 'modal', 'offset': ((i - 1) % 3 === 0 && type === 'default')}">
      <div class="profile-card">
        <div class="avatar-circle" [ngStyle]="{'background-color': profile.id | avatar:'color'}">
          <span class="initials">
            {{ profile.displayName | avatar }}
          </span>
        </div>
        <div class="profile-details">
          <label> {{ profile.displayName }} </label>
          <label> {{ profile.groups || 'N/A' }} </label>
          <img *ngIf="!profile.isCurrent" width="27"
            [src]="profile.isParticipant ? './assets/images/dialog-close.svg' : 
                    type === 'modal' ? './assets/images/icon-add-bubble.svg' : 
                    !profile.isSelected ? './assets/images/icon-add-bubble.svg' : './assets/images/icon-cancel-bubble.svg'"
            (click)="onProfileSelected(profile)">
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="profiles?.length === 0">
      <label class="form-title-md"> No users found. </label>
    </div>
  </div>
</ng-container>

<!-- Pagination -->
<app-pager *ngIf="allowPagination && profiles?.length > 0" [pageCount]="pageCount" [pageSize]="pageSize"
  [currentPage]="currentPage" [totalRecordsCount]="totalRecordsCount" (change)="changePageEvent($event)"></app-pager>