<label [class]="cssClass" [ngClass]="{'disabled': disabled}">
    <!-- {{ label }} -->
  <input type="checkbox" [checked]="checked" (change)="toggle()" [disabled]="disabled">
  <span class="checkmark"></span>
</label>