.c-small,
.c-large {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #5b7f95;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.c-small input,
.c-large input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.c-small .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 14px;
  width: 14px;
  line-height: 10px;
  background-color: transparent;
  border: 2px solid #0097a9 !important;
  border-radius: 2px;
}

.c-large .checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 18px;
  width: 18px;
  line-height: 12px;
  background-color: transparent;
  border: 2px solid #0097a9 !important;
  border-radius: 2px;
}

.c-small.disabled .checkmark,
.c-large.disabled .checkmark {
  border: 2px solid #5b7f95 !important;
  cursor: not-allowed;
}

/* When the checkbox is checked, add a blue background */
.c-small input:checked ~ .checkmark,
.c-large input:checked ~ .checkmark {
  background-color: #0097a9;
}

.c-small.disabled input:checked ~ .checkmark,
.c-large.disabled input:checked ~ .checkmark {
  background-color: #5b7f95;
}

/* Create the checkmark/indicator (hidden when not checked) */
.c-small .checkmark:after,
.c-large .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.c-small input:checked ~ .checkmark:after,
.c-large input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.c-small .checkmark:after {
  content: "✔";
  color: white;
  font-size: 12px;
  font-weight: 700;
  transform: rotate(9deg);
}

.c-large .checkmark:after {
  content: "✔";
  color: white;
  font-size: 16px;
  font-weight: 700;
  transform: rotate(9deg);
}
