<app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" (navigate)="switchBreadCrumbs($event)"></app-breadcrumb>

<div class="row">
  <div class="col-md-6">
    <app-tabs [tabs]="tabs" (navigate)="switchTabs($event)"></app-tabs>
  </div>

</div>

<app-filters #filters mode="default" [fields]="filterFields" [tags]="filterTags" [hideToggler]="false"
  [showMenu]="showFilterMenu" (addTag)="addTag($event)" (removeTag)="removeTag($event)"
  (applyFilters)="applyFilters($event)" (clearFilters)="clearFilters()" (toggleMenu)="toggleFilterMenu()">
</app-filters>

<div>
  <div class="row toolbar" *ngIf="!(showFilters$ | async)">
    <div class="col-md-6">
      <label class="media-label" style="padding-right: 2rem;">
        Total: {{ totalStreams$ | async }}
      </label>
      <app-views [showTreeView]="false" [showMapView]="false"></app-views>
    </div>
    <div class="col-md-6">
      <app-toolbar [selectionText]="'Selected Feeds'" [toolbar]="toolbarItems" (click)="toolbarEvent($event)">
      </app-toolbar>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>