<button class="button-plus float-right add-related-item-qa" (click)="showDialog()">
  Add Related Item
</button>
<br />
<app-list [dataSource]="relatedItems$ | async" [columns]="columns" [toolbar]="toolbar" [allowGridPaging]="true" [autoPagination]="true"
  (toolbarClick)="toolbarEvent($event)" (download)="downloadGridEvent($event)" (edit)="editGridEvent($event)"
  (rowSelected)="rowSelectedGridEvent($event)" (rowDeselected)="rowDeselectedGridEvent($event)">
</app-list>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="deleteConfirmed()">
</app-modal>

<ejs-dialog #relatedItemsDialog [visible]="false" [width]="1000" isModal="true">
  <ng-template #content>
    <button class="dialog-close dialog-close-qa" (click)="closeDialog()">
      <img src="./assets/images/dialog-close.svg" />
    </button>
    <br />

    <label class="dialog-title"> Add Related Items </label>
    <hr />
    <br />
    <div class="row">
      <div class="col-xl-3 col-lg-5 col-md-5 col-sm-4 filters-container ">
        <!-- <button class="button-no-outline float-right collapse-btn" style="font-weight: 700; font-size: 16px"
            (click)="collapseAll()">Collapse All</button> -->
        <div id='treeparent'>
          <app-tree-view #appTreeView [fields]="treeViewFields" 
          [showCheckBox]='true' [allowDragAndDrop]='false' (nodeExpanding)="onNodeExpanding()" (nodeSelected)="onNodeSelected($event)"></app-tree-view>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-9 col-lg-7 col-md-7 col-sm-8">
          <span class="file-upload-path">{{ folderPath }} </span>
          <app-list [dataSource]="media" [columns]="columns" [totalRecordsCount]="totalMedia" [initialRecords]="selectedIds" [checkField]="'id'"
            [allowPaging]="true" [autoPagination]="false" [pageSize]="pageSize" [currentPage]="currentPage" (changePage)="onChangePage($event)"
            (rowDeselected)="rowDeselectedGridEvent($event)" (rowSelected)="rowSelectedGridEvent($event)">
          </app-list>
        </div>
    </div>
    <br />
    <button class="button-round dialog-add-related-items-qa" (click)="addRelatedItems()">
      ADD
    </button>
  </ng-template>
</ejs-dialog>