<nav id="footer-nav" class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/oceaneering-white.png" width="82" height="27" alt="">
  </a>
  <ul class="navbar-nav flex-row justify-content-end">
    <li>
      <div class="">
        <label class="c-footer-text"> Privacy Policy </label>
        <span class="dot"></span>
        <label class="c-footer-text"> Terms & Conditions </label>
      </div>
    </li>
    <li>
      <label class="c-footer-text"> Copyright 2018 Oceaneering </label>
    </li>
  </ul>
</nav>