@media screen and (min-width: 480px) {
  /* this code will be in effect from 480px width and up */
  #footer-nav {
    padding: .5em 1em !important;
  }
  #footer-nav ul li {
    margin-left: 8px;
  }
  .dot {
    margin: 0px 4px;
  }
}

@media screen and (min-width: 768px) {
  /* this code will be in effect from 900px width and up */
  #footer-nav ul li {
    margin-left: 45px;
  }
  .dot {
    margin: 0px 16px;
  }
}

@media screen and (min-width: 900px) {
  /* this code will be in effect from 900px width and up */
  #footer-nav ul li {
    margin-left: 90px;
  }
}

@media screen and (min-width: 1280px) {
  /* this code will be in effect from 1280px width and up */
  #footer-nav {
    padding: .5em 7em !important;
  }
}

#footer-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #033b5c;
}

#footer-nav label {
  margin-bottom: 0px;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
  border-radius: 50%;
  display: inline-block;
}