<app-breadcrumb [breadCrumbs]="breadcrumbs$ | async" (navigate)="switchBreadCrumbs($event)" [hideStroke]="true">
</app-breadcrumb>

<div class="row">
  <div class="pb-3 col-md-12">
    <span class="pt-3">
      <button class="button-plus float-right" (click)="addNewTemplate()"> Create New </button>
    </span>
  </div>
</div>

<app-list [dataSource]="workTemplates$ | async" [columns]="columns" [allowGridPaging]="true" [allowSearch]="true">
</app-list>