<div *ngIf="!isPlaylist && !isVideo && !isWorkPlanning" class="row">
  <div class="col-md-12">
    <label id="title" style="margin:15px" class="title"> {{name}} </label>
    <img *ngIf="!isPDF && !isVideo" class="float-right" width="30" src="./assets/images/icon-download.svg"
      (click)="download()" />
  </div>
</div>

<div class="multi-viewer control-section">
  <div class="content-wrapper">
    <!-- IMAGE VIEWER -->
    <div *ngIf="isImage" [ngClass]="{'droshadowclass': source}" style="width: 100%; height: 40%">
      <img style="width: 100%; height: auto;" class="image" [src]="source" alt="Picture">
    </div>

    <!-- OTHERS -->
    <div *ngIf="isOthers" class="preview-container">
      <div class="preview-label">No Preview Available</div>
    </div>

    <!-- DOCUMENT VIEWER -->
    <div *ngIf="isDocument" style="width: 100%; height: 100vh">
      <div class="body doc-viewer"
        *ngIf="sourceExtension == 'ppt' || sourceExtension == 'pptx' || sourceExtension == 'doc' || sourceExtension == 'docx' || sourceExtension == 'xls' || sourceExtension == 'xlsx'; else elseBlock">
        <ngx-doc-viewer [url]="trustedSource" viewer="office"></ngx-doc-viewer>
      </div>

      <ng-template class="body doc-viewer" #elseBlock>
        <ngx-doc-viewer [url]="trustedSource" viewer="google"></ngx-doc-viewer>
      </ng-template>
    </div>

    <!-- VIDEO PLAYER -->
    <div *ngIf="isVideo">
      <div class="video-player">
        <video #videoPlayer class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9"
          data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' width="640px" height="267px"
          (timeupdate)="videoUpdate()" style="margin: auto;">
          <source [src]="source" type="video/mp4">
        </video>
        <br />
        <div class="video-content">
          <div class="transcript-container" [ngClass]="{'disabled': !hasTranscript}">
            <span class="c-video-title"> TRANSCRIPT: &nbsp; </span>
            <label class="switch">
              <input #switch type="checkbox" id="togBtn" [checked]="showTranscript" [disabled]="!hasTranscript"
                (change)="hasTranscript ? (showTranscript = !showTranscript) : return;">
              <div class="slider round"></div>
            </label>
            <img src="./assets/images/icon-download.svg" height="15" width="15" class="float-right"
              (click)="download(currentlyPlaying)">
            <ul class="transcript-content" *ngIf="showTranscript">
              <li [id]="i" *ngFor="let segment of transcript; let i = index" [ngClass]="{'active': segment.isCurrent}"
                (click)="onSegmentClicked(segment)">
                <div>
                  <span> {{ segment.timestamp }} </span>
                  <span> {{ segment.text }} </span>
                </div>
              </li>
            </ul>
          </div>
          <div style="margin: 8px 0px">
            <span class="c-video-title">NAME: &nbsp; </span>
            <span class="c-video-info"> {{ name | uppercase }} </span>
          </div>
          <div style="margin: 8px 0px">
            <span class="c-video-title"> LINK: &nbsp; </span>
            <a href="{{pageUrl}}"><span class="c-video-info link"> {{ pageUrl }} </span></a>
          </div>
          <div style="margin: 8px 0px">
            <span class="c-video-title">TYPE: &nbsp; </span>
            <span class="c-video-info"> VIDEO </span>
          </div>
        </div>
      </div>
    </div>

    <!-- PDF VIEWER -->
    <div *ngIf="isPDF">
      <!-- <ejs-pdfviewer id="pdfViewer" [serviceUrl]='pdfViewerService' [documentPath]='source'
        style="height:640px;display:block">
      </ejs-pdfviewer> -->
      <ngx-doc-viewer [url]="source" viewer="google"></ngx-doc-viewer>
    </div>

    <!-- PLAYLIST -->
    <div *ngIf="isPlaylist" class="row">
      <div class="col-sm-10" style="padding-left: 0px;">
        <div style="width: 100%;">
          <div class="video-player">
            <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" #videoPlayer autoplay
              (ended)="playNextVideo()" type="video/mp4" preload="auto" (timeupdate)="videoUpdate()">
              <source [src]="currentlyPlaying?.url" type="video/mp4">
            </video>
          </div>
          <br />
          <br />
          <div class="video-content">
            <div class="transcript-container" [ngClass]="{'disabled': !hasTranscript}">
              <span class="c-video-title"> TRANSCRIPT: &nbsp; </span>
              <label class="switch">
                <input #switch type="checkbox" id="togBtn" [checked]="showTranscript" [disabled]="!hasTranscript"
                  (change)="hasTranscript ? (showTranscript = !showTranscript) : return;">
                <div class="slider round"></div>
              </label>
              <img src="./assets/images/icon-download.svg" height="15" width="15" class="float-right"
                (click)="download(currentlyPlaying)">
              <ul class="transcript-content" *ngIf="showTranscript">
                <li [id]="i" *ngFor="let segment of transcript; let i = index" [ngClass]="{'active': segment.isCurrent}"
                  (click)="onSegmentClicked(segment)">
                  <div>
                    <span> {{ segment.timestamp }} </span>
                    <span> {{ segment.text }} </span>
                  </div>
                </li>
              </ul>
            </div>
            <div style="margin: 8px 0px">
              <span class="c-video-title">NAME: &nbsp; </span>
              <span class="c-video-info"> {{ currentlyPlaying?.name | uppercase }} </span>
            </div>
            <div style="margin: 8px 0px">
              <span class="c-video-title"> LINK: &nbsp; </span>
              <a href="{{pageUrl}}"><span class="c-video-info link"> {{ pageUrl }} </span></a>
            </div>
            <div style="margin: 8px 0px">
              <span class="c-video-title">TYPE: &nbsp; </span>
              <span class="c-video-info"> VIDEO </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2" class="playlist-side-menu">
        <div class="playlist-row">
          <label class="title"> Playlist </label>
          <div class="copy-icon" (click)="copyUrl()">
            <img src="./assets/images/Ei-share-apple.svg" alt="">
          </div>
        </div>

        <hr>
        <div class="playlist-content">
          <div class="playlist-item-container" *ngFor="let item of playlist;  let i = index;"
            [ngClass]="{'active' : i === currentPlayingIndex}">
            <img class="playlist-item-thumbnail" width="160" height="107" [src]="item.thumbnail"
              (click)="onClickPlaylistItem(item, i)">
            <img class="play-icon"
              [src]="item.id === currentlyPlaying?.id ? './assets/images/icon-pause-round.svg' : './assets/images/icon-play-round.svg'">
            <img *ngIf="item.id !== currentlyPlaying?.id" class="remove-icon" (click)="onRemoveFromPlaylist(item.id)"
              src="./assets/images/dialog-close.svg">
            <label class="playlist-item-name"> {{ item.name }} </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>