.doc-viewer {
  height: 100%;
}

.doc-viewer .iframe {
  width: 100%;
  height: 100%;
}

.preview-container {
  height: 100px;
  background-color: #4c494c;
  width: 300px;
  border-radius: 1em;
  position: absolute;
  left: 53em;
  top: 19em;
  padding: 3em 1em;
}
.copy-icon {
  width: 25px;
  position: relative;
  bottom: 5px;
  left: 81px;
}
.preview-label {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.playlist-row {
  display: flex;
}

#iframe {
  width: 100% !important;
  height: 100vh !important;
}

.video-content {
  padding: 0px 10px;
}

/* #region VIDEO */

.multi-viewer .video-player video {
  cursor: pointer;
}

/* #endregion */

/* #region TRANSCRIPT SWITCH */

.transcript-container .switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 24px;
  display: inline-block;
  margin-bottom: -8px;
}

.transcript-container .switch input {
  display: none;
}

.transcript-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1.1px solid #009b77;
  border-radius: 24px;
}

.transcript-container.disabled .slider {
  border: 1.1px solid #5b7f95;
  cursor: not-allowed;
}

.transcript-container .slider:before {
  position: absolute;
  content: "";
  height: 20.5px;
  width: 20.5px;
  left: 2px;
  bottom: 0.5px;
  background-color: #009b77;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 50%;
}

.transcript-container.disabled .slider:before {
  background-color: #5b7f95;
}

.transcript-container input:checked + .slider {
  background-color: #009b77;
}

.transcript-container input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.transcript-container input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(28px);
  background-color: white;
}

.transcript-container .slider:after {
  content: "OFF";
  color: #009b77;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  right: 0%;
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.transcript-container.disabled .slider:after {
  content: "N/A";
  color: #5b7f95;
}

.transcript-container input:checked + .slider:after {
  content: "ON";
  color: white;
  left: 0%;
  transform: translate(15%, -50%);
}

/* #endregion */

/* #region TRANSCRIPT CONTENT */

.transcript-content {
  max-height: 140px;
  overflow: auto;
  border-bottom: 1px solid #ccd8e1;
  margin: 12px 0px;
  padding: 0px 12px 0px 0px;
  list-style: none;
}

.transcript-content li {
  padding: 3px 0px;
  display: flex;
  cursor: pointer;
}

.transcript-content li.active div {
  background-color: #dbe5eb;
  padding-right: 12px;
}

.transcript-content li div {
  display: flex;
}

.transcript-content li span:first-child {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #033b5c;
  margin-right: 14px;
}

.transcript-content li span:last-child {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #033b5c;
}

.transcript-content::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.transcript-content::-webkit-scrollbar {
  width: 6px;
  background-color: #ccd8e1;
}

.transcript-content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5b7f95;
}

/* #endregion */

/* #region PLAYLIST */

.playlist-side-menu {
  padding-right: 0px;
}

.playlist-side-menu .title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.7px;
  color: #033b5c;
  margin-bottom: 0px !important;
  margin-top: -11px;
}

.playlist-side-menu hr {
  border: solid 1px rgba(91, 127, 149, 0.25);
  margin: 0px;
  width: 160px;
}

.playlist-side-menu .playlist-content {
  overflow: auto;
  height: 795px;
  padding-right: 4px;
  margin-top: 10px;
}

.playlist-side-menu .playlist-content::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccd8e1;
}

.playlist-side-menu .playlist-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.playlist-side-menu .playlist-content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0097a9;
}

.playlist-item-container {
  position: relative;
  width: 160px;
  margin-bottom: 6px;
}

.playlist-item-container:last-child {
  margin-bottom: 0px;
}

.playlist-item-container .play-icon {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 24px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  pointer-events: none;
}

.playlist-item-container .remove-icon {
  position: absolute;
  top: 8px;
  height: 20px;
  right: 8px;
}

.playlist-item-name {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}

/* #endregion */
