<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"></app-breadcrumb>

<p class="form-title">Upload Media</p>
<div>
  <span class="step-title"> Step 1 <i class="step-description-title">Select File</i></span>
  <br />

  <input type="file" #file style="display: none" (change)="onFilesAdded()" />
  <button class="file-upload-button file-upload-button_QA" (click)="addFiles()"> {{ uploadButtonText }}</button>
  <span class="file-upload-label">{{ selectedFile?.name }}</span>
</div>

<div>
  <span class="step-title"> Step 2 <i class="step-description-title">Select Destination</i></span>
  <br />
  <br *ngIf='!isDestinationSelected' />

  <app-tree-grid #appTreeGrid [ngStyle]="{'display': !isDestinationSelected ? 'block' : 'none'}"
    [dataSource]="data | async" [columns]="columns" [treeColumnIndex]="0" [idMapping]="'id'"
    [parentIdMapping]="'parentId'" [hasChildMapping]="'hasChild'" (rowSelected)="rowSelected($event)"
    [selectionOptions]="selectionOptions" (dataStateChange)="dataStateChange($event)">
  </app-tree-grid>

  <div *ngIf='isDestinationSelected'>
    <button class="file-upload-button change-media-upload_QA" (click)="changeDestination()"> Change </button>
    <div class="Step-2-folder">
      <span class="file-upload-label"> Destination Folder Title: </span>
      <div>
        <span class="file-upload-path">{{ folderPath }} </span>
      </div>
    </div>
  </div>
</div>

<br *ngIf='!isDestinationSelected' />
<fieldset class="fieldset">
  <legend class="legend"> Optional Services </legend>
  <div id="optional-services-container">
    <ejs-checkbox (change)="checkValue($event)" cssClass="e-small"
      label="Perform Speech Recognition <i>(may incur additional processing charges) </i>">
    </ejs-checkbox>
  </div>
</fieldset>
<br><br>

<div *ngIf='isFileSelected && isDestinationSelected'>
  <span class="step-title"> Step 3 <i class="step-description-title">Metadata</i></span>
  <br><br>

  <dynamic-form #dynamicForm="dynamicForm" mode="default" [config]="metadata">
  </dynamic-form>
  <br />
  <button type="submit" [disabled]="!dynamicForm?.form?.valid" (click)="upload()" class="btn omv-primary btn-lg">
    Upload
  </button>
  <button type="button" class="media-button-small" style="color:#079AAB; margin-left: 25px;" routerLink="/media/all">
    Cancel
  </button>
</div>