.form-title {
  margin-bottom: 25px;
  margin-top: 10px;
}

.step-title {
  margin-right: 10px;
}

.file-upload-button {
  margin: 25px 17px 32px 0px;
}

.file-upload-path {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #5b7f95;
  padding-bottom: 25px;
}

.Step-2-folder{
  margin-top: -70px;
  margin-left: 124px;
  margin-bottom: 30px;
}

#optional-services-container {
  display: grid;
}

#optional-services-container .e-small:first-child {
  margin-bottom: 19px;
}

#optional-services-container span.e-label {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #5b7f95;
}

.fieldset {
  border: 1px dashed #0097a9;
  padding: 20px 23px 30px 23px;
}

.legend {
  width: auto;
  margin-left: 48px;
  margin-bottom: .5rem;
  padding: 0px 14px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #033b5c;
}
