.daily-schedule-container {
  border-radius: 4px;
  box-shadow: 0 0 13px 0 rgba(91, 127, 149, 0.25);
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
  padding: 14px;
}

/* #region HEADER-SECTION */

.daily-schedule-container .header-section {
  padding: 6px 0px 24px 10px;
}

.daily-schedule-container .header-section span {
  margin-top: 14px;
}

/* #endregion */

/* #region CALENDAR-SECTION */

.daily-schedule-container .calendar-section {
  margin: 0px 10px;
  padding: 12px;
  border: solid 1px rgba(91, 127, 149, 0.25);
}

.calendar-section .step-backward {
  transform: rotate(180deg);
}

.calendar-section > div {
  display: flex;
  justify-content: space-between;
}

/* #endregion */

/* #region GRID-SECTION */

.daily-schedule-container .grid-section {
  margin: 0px 10px;
}

.daily-schedule-container .grid-section table th {
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
  cursor: pointer;
  padding: 0px;
}

.daily-schedule-container .grid-section table th:first-child {
  border-right: none;
}

.daily-schedule-container .grid-section table td {
  padding: 0px;
  vertical-align: middle;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px rgba(91, 127, 149, 0.25);
  border-top: solid 1px rgba(91, 127, 149, 0.25);
}

.daily-schedule-container .grid-section table td:first-child {
  border-left: none;
  border-right: dashed 1px rgba(91, 127, 149, 0.25);
  border-bottom: solid 1px rgba(91, 127, 149, 0.25);
  border-top: solid 1px rgba(91, 127, 149, 0.25);
}

.daily-schedule-container .grid-section table td:last-child {
  border-right: none;
  border-left: none;
  border-bottom: solid 1px rgba(91, 127, 149, 0.25);
  border-top: solid 1px rgba(91, 127, 149, 0.25);
}

.daily-schedule-container .grid-section table .camera-name {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  color: #5b7f95;
}

.timeline-color {
  z-index: 3;
  width: 104%;
  height: 12.6px;
  position: absolute;
  opacity: 0.8;
  margin-left: 0;
}

.grid-section table th svg g line {
  fill: none;
  stroke: rgba(91, 127, 149, 0.25);
  stroke-width: 1px;
}

.grid-section table th svg g rect {
  fill: none;
  stroke: rgba(91, 127, 149, 0.25);
  stroke-width: 0.5px;
  pointer-events: all;
}

.grid-section table th svg g:hover rect {
  fill: #5b7f95;
}

.grid-section table th svg g text {
  fill: #5b7f95;
  pointer-events: none;
}

.grid-section table th svg g:hover text {
  fill: #fff;
}

.grid-section table th svg g text tspan:first-child {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.09px;
  text-align: center;
  color: #5b7f95;
}

.grid-section table th svg g text tspan:last-child {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.07px;
  text-align: center;
  color: #5b7f95;
}

.grid-section table td svg line {
  fill: none;
  stroke: rgba(91, 127, 149, 0.25);
  stroke-width: 1px;
  stroke-dasharray: 3 4;
}

/* #endregion */
