<div class="daily-schedule-container">
  <img src="./assets/images/dialog-close.svg" class="float-right" (click)="onClose()" />
  <div class="header-section">
    <span class="form-title-xl"> Daily Video Schedule </span>
  </div>
  <div class="calendar-section">
    <div>
      <img width="12" class="step-backward" src="./assets/images/icon-right.svg" (click)="stepBackward()" />
      <span class="calendar-date form-title-sm">
        {{ currentDate | date:'MMMM dd, yyyy' }}
      </span>
      <img width="12" class="step-forward" src="./assets/images/icon-right.svg" (click)="stepForward()" />
    </div>
  </div>
  <div class="grid-section">
    <table class="table" width="100%">
      <thead>
        <tr>
          <th scope="col" width="10%"></th>
          <th class="grid-header" colspan="24" width="90%" height="40px">
            <svg width="100%" height="100%">
              <g *ngFor="let time of dailyTimes; let i = index" (click)="navigate(time)">
                <line [attr.x1]="((100 / 24) * i) + '%'" y1="0" [attr.x2]="((100 / 24) * i) + '%'" y2="100%" />
                <rect [attr.width]="(100 / 24) + '%'" height="100%" [attr.x]="((100 / 24) * i) + '%'" />
                <text class="svg-text" [attr.x]="((100 / 24) * i) + '%'" y="20">
                  <tspan [attr.x]="(((100 / 24) * i) + 1.6) + '%'" y="18" class="grid-header-time">
                    {{ time.text }}
                  </tspan>
                  <tspan [attr.x]="(((100 / 24) * i) + 1.5) + '%'" y="30" class="grid-header-meridiem">
                    {{ time.meridiem }}
                  </tspan>
                </text>
              </g>
            </svg>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feed of schedules?.feeds; let i = index">
          <td width="10%" [align]="'left'">
            <span class="camera-name"> Camera {{ feed.name }} </span>
          </td>
          <td colspan="24" width="90%" height="34px">
            <svg width="100%" height="100%">
              <rect *ngFor="let duration of feed.durations" [attr.width]="duration.width ? duration.width + '%' : 0"
                [attr.x]="duration.offset ? duration.offset + '%' : 0" [ngStyle]="{'fill': feed.color}" height="14"
                y="33%" rx="2" ry="2" />
              <line *ngFor="let time of dailyTimes; let i = index" [attr.x1]="((100 / 24) * i) + '%'" y1="0"
                [attr.x2]="((100 / 24) * i) + '%'" y2="100%" />
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>