<div tabindex="0" class="e-card media-card-{{index}}_QA" id="basic">
  <div tabindex="0" class="e-card" id="basic_card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">
          <ejs-tooltip #tooltip id='tooltip' [content]="data?.name ? data.name : 'Unknown'" position='TopCenter'>
            <img class="card-tooltip" src="./assets/images/info.png">
          </ejs-tooltip>

          <div class="float-right">
            <span>
              <label class="live-text"> Live </label>

              <span *ngIf="hasFavorite" id="tile-fav" style="margin-right: 20px;" type="checkbox" 
                [ngClass]="data.isFavorite ? 'c-checkbox-star-checked' : 'e-checkbox-star'"
                (click)="toggleFavoriteEvent(data)"></span>

              <!-- <input *ngIf="hasFavorite" id="tile-fav" class="c-checkbox-star" type="checkbox" title=""
                [checked]="data.isFavorite" (click)="toggleFavoriteEvent(data)"> -->
              <ejs-checkbox id="checkbox" cssClass="e-small" [checked]="data.isChecked"
                (change)="toggleCheckboxEvent(data)"></ejs-checkbox>
              <img src="./assets/images/expand.svg" alt="" (click)="preview()" style="margin-left: 10px;">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="e-card-content">
      <div>
        <a *ngIf="data.routeLink" [routerLink]="data.routeLink">
          <img [src]="data.poster" [default]="data.url" height="150" width="100%">
        </a>
        <img *ngIf="!data.routeLink" (click)="tileClickEvent(data)" [src]="data.poster" [default]="data.url"
          height="150" width="100%">
      </div>
      <span>
        <p id="tile-name" class="label-size-12 label-bold-600">
          {{ (data.name ? data.name : 'Unknown') | uppercase  }}
        </p>
      </span>
    </div>
  </div>
</div>

<app-modal #videoModal type="live-stream" [title]="data.name" [videoSource]="data.url"></app-modal>