.image-loaded {
  width: 100% !important;
  border: solid 1px rgba(91, 127, 149, 0.25);
  height: 155px !important;
  margin-bottom: 13px;
}

.e-card {
  border-radius: 4px;
  box-shadow: 0 2px 11px 0 rgba(91, 127, 149, 0.25);
  background-color: #fefefe;
  transition: all 0.3s ease-in-out;
}

.e-card:hover {
  transform: scale(1.01);
}

.e-card-header {
  padding-bottom: 0px;
}

#tile-type {
  margin-right: 7px;
  vertical-align: middle;
  color: #033b5c;
  margin-bottom: 0px;
}

#tile-size {
  padding-left: 0.5px;
  margin-bottom: 0px;
}

#tile-fav {
  margin-right: 10px;
  vertical-align: top;
}

#tile-name {
  color: #033b5c;
  text-align: left;
}

#tile-date {
  color: #00263e;
  margin: 25px 0px 3px 0px;
}

.card-tooltip {
  vertical-align: initial;
  padding-right: 0.5rem;
  cursor: pointer;
}

.tile-card-date {
  margin-bottom: 0px;
  padding-bottom: 15px;
}

@keyframes zoominoutfeature {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
    color: #0097a9;
  }
  100% {
    transform: scale(1, 1);
  }
}

.live-text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0;
  margin-right: 10px;
  margin-bottom: 0px;
  letter-spacing: normal;
  text-align: right;
  color: #033b5c;
  animation: zoominoutfeature 1s infinite;
}
