<div [formGroup]="group">
  <div class="dynamic-date-picker" [ngSwitch]="mode">
    <div class="default" *ngSwitchCase="'default'">
      <label class="form-label">{{ config.label }}<i *ngIf="config.required"> * </i></label>
      <table width="100%">
        <tr>
          <td>
            <ejs-datepicker #datePicker class="form-control custom-form-control" strictMode='true'
              [max]='!config.ignoreMaxDate ? maxDate : defaultMaxDate' placeholder="{{ config.label }}" format='MM/dd/yyyy'
              [(value)]="config.value" [formControlName]="config.name">
            </ejs-datepicker>
          </td>
          <td *ngIf="enableRequiredSetting" width="20%" [align]="'center'">
            <ejs-checkbox label="Required" [checked]="config.required" cssClass="e-small"
              (change)="requiredEvent(config)"></ejs-checkbox>
          </td>
          <td *ngIf="allowDeleting" [width]="allowSorting ? '5%' : '10%'" [align]="'center'">
            <img src="./assets/images/icon-trash.svg" height="18" (click)="deleteEvent(config)">
          </td>
          <td class="upload-icon" *ngIf="config.allowDocumentUpload" [ngClass]="{'disabled': !config.value}" width="10%"
            [align]="'center'" (click)="onUpload(config)">
            <img src="./assets/images/icon-upload.svg" height="18">
          </td>
          <td *ngIf="allowSorting" width="10%" [align]="'center'">
            <img id="sort-down" class="c-sort-icon" src="./assets/images/icon-down.svg" height="28" width="28"
              (click)="sortEvent('down')" name="c-sort-down">
            <img id="sort-up" class="c-sort-icon" src="./assets/images/icon-up.svg" height="28" width="28"
              (click)="sortEvent('up')" name="c-sort-up">
          </td>
        </tr>
      </table>
      <ng-container *ngFor="let validation of config.validations;">
        <label class="form-description"
          *ngIf="group.get(config.name).hasError(validation.name) && (group.get(config.name).touched || group.get(config.name).dirty)">
          {{validation.message}}
        </label>
      </ng-container>
    </div>
    <div *ngSwitchCase="'filter'">
      <label class="custom-label-md">{{ config.label | uppercase }}</label>
      <div>
        <ejs-datepicker #dateRange id="dateRange" class="form-control custom-form-control-sm" strictMode='true'
          placeholder="Pick a date" format='MM/dd/yyyy' (change)="onAddTag($event)" [max]='maxDate'
          (renderDayCell)="onLoad($event)">
        </ejs-datepicker>
      </div>
    </div>
    <div *ngSwitchCase="'folder-metadata'">
      <label class="form-label">{{ config.label }}</label>
      <table width="100%">
        <tr>
          <td width="60%">
            <ejs-datepicker class="form-control custom-form-control" strictMode='true' format='MM/dd/yyyy'
              [max]='maxDate' [placeholder]="config.label" [(value)]="config.value" [formControlName]="config.name">
            </ejs-datepicker>
          </td>
          <td width="20%" [align]="'center'">
            <ejs-checkbox label="Required" [checked]="config.required" cssClass="e-small"
              (change)="requiredEvent(config)"></ejs-checkbox>
          </td>
          <td width="5%" [align]="'center'">
            <img src="./assets/images/icon-trash.svg" height="18" (click)="deleteEvent(config)">
          </td>
          <td width="15%" [align]="'center'">
            <img id="sort-down" class="c-sort-icon" src="./assets/images/icon-down.svg" height="28" width="28"
              (click)="sortEvent('down')" name="c-sort-down">
            <img id="sort-up" class="c-sort-icon" src="./assets/images/icon-up.svg" height="28" width="28"
              (click)="sortEvent('up')" name="c-sort-up">
          </td>
        </tr>
      </table>
    </div>
    <div *ngSwitchCase="'modal'">
      <div class="row pt-3">
        <div class="col-md-4">
          <label class="media-label pt-3"> {{ config.label }}:<i *ngIf="config.required"> * </i> </label>
        </div>
        <div class="col-md-8">
          <ejs-datepicker class="form-control custom-form-control" strictMode='true' [max]="config.maxDate"
            [placeholder]="config.placeholder" [(value)]="config.value" [formControlName]="config.name">
          </ejs-datepicker>
          <ng-container *ngFor="let validation of config.validations;">
            <label class="form-description"
              *ngIf="group.get(config.name).hasError(validation.name) && (group.get(config.name).touched)">
              {{validation.message}}
            </label>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'unique'" style="margin: 0px 16px">
      <label style="display: inline-block" class="form-label">{{ config.label }}</label>
      <table width="100%">
        <tr>
          <td>
            <ejs-datepicker class="form-control custom-form-control disabled" [formControlName]="config.name">
            </ejs-datepicker>
          </td>
          <td width="10%" [align]="'center'">
            <ejs-checkbox [checked]="config.unique" [disabled]="disabled || config.uniqueDisabled" cssClass="e-small"
              (change)="uniqueEvent()">
            </ejs-checkbox>
          </td>
          <td width="10%" [align]="'center'">
            <img src="./assets/images/icon-trash.svg" *ngIf="!disabled" height="18"
              (click)="!disabled && deleteEvent(config)">
          </td>
        </tr>
      </table>
    </div>
    <div *ngSwitchCase="'full'" style="margin: 0px 16px">
      <table width="100%">
        <tr>
          <td width="50%">
            <label style="display: inline-block" class="form-label">{{ config.overrideLabel || config.label }}</label>
            <img id="pencil" *ngIf="!disabled" src="./assets/images/icon-pencil.svg" width="14"
              (click)="labelChangeEvent(config)">

            <div *ngIf="config.overrideLabel" class="float-right" style="display: inline-flex">
              <img id="revert" *ngIf="!disabled" src="./assets/images/icon-revert.svg" width="18"
                (click)="revertLabelEvent(config)">
              <i style="text-decoration: line-through" class="form-label"> {{ config.label }} </i>
            </div>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <ejs-datepicker class="form-control custom-form-control disabled" [formControlName]="config.name">
            </ejs-datepicker>
          </td>
          <td width="10%" [align]="'center'">
            <ejs-checkbox [checked]="config.editable" [disabled]="disabled" cssClass="e-small"
              (change)="editableEvent()">
            </ejs-checkbox>
          </td>
          <td width="10%" [align]="'center'">
            <ejs-checkbox [checked]="config.required" [disabled]="disabled || !config.editable" cssClass="e-small"
              (change)="requiredEvent()">
            </ejs-checkbox>
          </td>
          <td width="10%" [align]="'center'">
            <ejs-checkbox [checked]="config.allowDocumentUpload" [disabled]="disabled" cssClass="e-small"
              (change)="allowDocumentEvent()">
            </ejs-checkbox>
          </td>
          <td width="10%" [align]="'center'">
            <img id="delete" src="./assets/images/icon-trash.svg" *ngIf="!disabled" height="18"
              (click)="deleteEvent(config)">
          </td>
          <td width="10%" [align]="'center'">
            <img id="sort-down" class="c-sort-icon" *ngIf="!disabled" src="./assets/images/icon-down.svg" height="28"
              width="28" (click)="sortEvent('down')" name="c-sort-down">
            <img id="sort-up" class="c-sort-icon" *ngIf="!disabled" src="./assets/images/icon-up.svg" height="28"
              width="28" (click)="sortEvent('up')" name="c-sort-up">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br />