.dynamic-date-picker .default td.upload-icon {
  cursor: pointer;
}

.dynamic-date-picker .default td.upload-icon.disabled {
  cursor: not-allowed;
}

.dynamic-date-picker .default td.upload-icon.disabled:active {
  pointer-events: none;
}

.dynamic-date-picker .default td.upload-icon.disabled img {
  cursor: not-allowed;
  filter: contrast(0);
}

.check-container {
  margin-top: 12px;
}

.c-check-work-planning {
  padding: 8px 44px;
}

.c-delete-work-planning {
  padding: 3px 44px;
}

#delete {
  margin-top: 8px;
}

#sort-down {
  margin-right: 8px;
}

#pencil {
  margin: 0px 0px 6px 16px;
}

#revert {
  margin-right: 10px;
}
